<html>

  <div id="heading">

    <h1>Jim Gibson</h1>

    <h2>This Site is a Curation of the Works of Jim Gibson</h2>

  </div>

  <div id="article_list">
    <div class="article">
      <h1>Abraham or Terah</h1>
    </div>

    <div class="article">
      <h1>Daniel's Seventy Weeks</h1>
    </div>

    <div class="article">
      <h1>Fearfully and Wonderfully Made</h1>
    </div>

    <div class="article">
      <h1>God's Rainbow</h1>
    </div>

    <div class="article">
      <h1>Evolution Sunday</h1>
    </div>

    <div class="article">
      <h1>Predestination Reconsidered</h1>
    </div>

    <div class="article">
      <h1>The Seven Powers to Victory</h1>
    </div>

    <div class="article">
      <h1>The Author of Hebrews</h1>
    </div>

    <div class="article">
      <h1>The Battle of Gog and Magog</h1>
    </div>

    <div class="article">
      <h1>The God of the Old Testament</h1>
    </div>

    <div class="article">
      <h1>The Jerusalem Story</h1>
    </div>

    <div class="article">
      <h1>The Unveiling</h1>
    </div>

    <div class="article">
      <h1>To God Be the Glory</h1>
    </div>

    <div class="article">
      <h1>Understanding the Book of Revelation</h1>
    </div>

    <div class="article">
      <h1>When Jesus Returns</h1>
    </div>

    <div class="article">
      <h1>Where There Is No Vision</h1>
    </div>
  </div>
</html>

