<html>

  <div id="heading">

    <h1>The Collected Writings of Jim Gibson</h1>

    <h3>
      Welcome to my science and scripture website.  It is not my intention to post writings of mine that are controversial
      or divisive.  However, I realize that not everyone interprets the Bible the same.  So, I am sure that some of my
      writings may be in disagreement with others’ views.  That being said, please do not be offended at what you might read.
      Just take what you like and leave the rest.  I pray that God would bless both the writer and the reader in this endeavor.
    </h3>

  </div>

  <div id="article_list">
    <a href="abrahamOrTerah">
      <div class="article">
      <h3>Abraham or Terah</h3>
      </div>
    </a>

    <a href="daniel">
      <div class="article">
        <h3>Daniel's Seventy Weeks</h3>
      </div>
    </a>

    <a href="fearfully">
      <div class="article">
        <h3>Fearfully and Wonderfully Made</h3>
      </div>
    </a>

    <a href="rainbow">
      <div class="article">
        <h3>God's Rainbow</h3>
      </div>
    </a>

    <a href="foundation">
      <div class="article">
        <h3>Evolution Sunday</h3>
      </div>
    </a>

    <a href="predestination">
      <div class="article">
        <h3>Predestination Reconsidered</h3>
      </div>
    </a>

    <a href="sevenPowers">
      <div class="article">
        <h3>The Seven Powers to Victory</h3>
      </div>
    </a>

    <a href="hebrews">
      <div class="article">
        <h3>The Author of Hebrews</h3>
      </div>
    </a>

    <a href="gogAndMagog">
      <div class="article">
        <h3>The Battle of Gog and Magog</h3>
      </div>
    </a>

    <a href="oldTestament">
      <div class="article">
        <h3>The God of the Old Testament</h3>
      </div>
    </a>

    <a href="jerusalemStory">
      <div class="article">
        <h3>The Jerusalem Story</h3>
      </div>
    </a>

    <a href="unveiling">
      <div class="article">
        <h3>The Unveiling</h3>
      </div>
    </a>

    <a href="toGodBeTheGlory">
      <div class="article">
        <h3>To God Be the Glory</h3>
      </div>
    </a>

    <a href="revelation">
      <div class="article">
        <h3>Understanding the Book of Revelation</h3>
      </div>
    </a>

    <a href="jesusReturns">
      <div class="article">
        <h3>When Jesus Returns</h3>
      </div>
    </a>

    <a href="noVision">
      <div class="article">
        <h3>Where There Is No Vision</h3>
      </div>
    </a>
  </div>
</html>

