<div class="row heading">
  <div class="columns about">
    <h1>About Me</h1>
    <div class="small-12 medium-6 large-6 columns self_image">
      <img src="assets/jim.jpg">
    </div>
    <p>
      Ever since I was about 12 years old, I have had a love of the scriptures. In my lifetime, I have read through the
      bible many, many times. As I grew and matured in the Lord, God has given me understanding of his word. It has
      always been exciting when he has revealed to me “nuggets” from his words of truth. When I entered college, my
      interests were in the sciences. I hold a B.S. degree and an M.Ed. degree. I am certified to teach, and have
      taught, biology, chemistry, and physics. As a school administrator, I have been an assistant principal at the high
      school and a principal at the junior high. Although I have had several other professions, such as, firefighter,
      store manager at Walmart, and served as a captain in the Marine Corps, my passion has always been the scriptures
      and science.
    </p>
    <p>
      In this scripture and science website, I hope to let these two passions of mine express themselves. As the reader
      will quickly realize, the study of the bible becomes preeminent. I will periodically add to the studies that are
      already posted. So, I invite the reader to occasionally visit my website to see if something new has been added. I
      encourage the reader to leave comments or ask questions in my Contact page. <br/>May God bless.
    </p>
  </div>
</div>