<div class="post row">
  <div class="small-10 medium-10 large-10 artContainer">
  <h1>Abraham or Terah?</h1>
    <p>
      We all know that God called Abraham from out of Ur of the Chaldees to go into the land of Canaan.  There is ample
      scriptural documentation to support this statement:
    </p>
    <p><b>
      “Now the LORD had said unto Abram, Get thee out of thy country, and from thy kindred, and from thy father’s house,
      unto a land that I will shew thee…
      So Abram departed, as the LORD had spoken unto him; and Lot went with him:  and Abram was seventy and five years old
      when he departed out of Haran.” </b> (Genesis 12:1, 4)
    </p>
    <p><b>
      “And he said unto him, I am the LORD that brought thee out of Ur of the Chaldees, to give thee this land to inherit it.” </b> (Genesis 15:7)
    </p>
    <p><b>
      “And he said, Men, brethren, and fathers, hearken; The God of glory appeared unto our father Abraham, when he was in
      Mesopotamia, before he dwell in Charran.
      And said unto him, Get thee out of thy country, and from thy kindred, and come into the land which I shall shew thee.”  </b> (Acts 7:2, 3)
    </p>
    <p>
      I am sure you are thinking, “So, what is the problem.”  Well, the problem is found in Genesis 11:31.
    <p><b>
      “And Terah took Abram his son, and Lot the son of Haran his son’s son, and Sarai his daughter in law, his son Abram’s
      wife; and they went forth with them from Ur of the Chaldees; and they came unto Haran, and dwelt there.” </b>
    </p>
    <p>
      Did Terah receive a call from God also?  Is there a discrepancy in God’s word?  Which historical account is accurate?
      Before we answer these questions, let’s examine a few more passages.  Maybe they can help shed some light on this
      apparent contradiction.
    </p>
    <p><b>
      “And Joshua said unto all the people, Thus saith the LORD God of Israel, Your fathers dwelt on the other side of the
      flood in old time, even Terah, the father of Abraham, and the father of Nachor:  and they served other gods.                                                                                            And I took your father Abraham from the other side of the flood, and led him throughout all the land of Canaan, and multiplied his seed, and gave him Isaac.”  (Joshua 24:2, 3)
      “And Laban answered and said unto Jacob…
      The God of Abraham, and the God of Nahor, the God of their father, judge betwixt us…” </b> (Genesis 31:43, 53)
    </p>
    <p>
      Not only do these scriptures not help in solving the problem, they even introduce another problem.   Joshua plainly
      states that Terah and other of Abraham’s kindred served other gods while living in Ur of the Chaldees.  However, Laban
      implies that the “God of Abraham” was also the “God of their father (Terah)”.
    </p>
    <p>
      Do not despair.  I believe that we can solve this apparent dilemma.  When interpreting any passage of scripture, we
      must consider the context.  The historical and cultural context is very important in trying to understand the passages before us.
      Let’s try and decipher this latest problem just introduced to us.  Simply put, both Joshua and Laban are correct.
      It is true that Terah served other gods.  It is also true that his God was the same as the God of Abraham, that is,
      Jehovah.   How can that be?  Remember that the God of the Israelites was Jehovah and, yet, oftentimes they served
      other gods.  So it was with Terah.  Terah was the ninth generation after the flood.  Eber (Heber) was the fourth
      generation.  It is from Heber where the word Hebrew is derived.  In fact, his name means, “on the other side.”
      Most probably, Heber settled in Ur after the confusion of languages in Babel.  He was still alive even during the time
      of Abraham.  I am sure that he passed on to his descendants the story about the true God.
    </p>
    <p>
      Well, let’s now address the first issue that was presented.  Who received the call…Abraham or Terah…maybe both?
      This was the time of the patriarchs.  The father of a family was the patriarch of that family.  It was to him that
      final decisions rested.  I believe that just as the Bible states, Abraham received a vision or call from God while
      he was still living in Ur.  Being the dutiful son that he was, I believe he went to his father and told him about
      his vision.  Although Terah served idols, he still retained the knowledge of the true God.  The stories that Heber
      no doubt related to him about Jehovah probably became alive.  He knew that Abraham had indeed heard from the true
      God.  As a result, he led his clan out of Ur to go to the land of Canaan.  He made it as far as Harran (Charran),
      when his health probably failed him and he died there.
    </p>
    <p>
      No, there is no discrepancy in God’s word.
    </p>
  </div>
</div>