<div class="post row">
  <div class="small-12 medium-12 large-12 columns appeal">
    <h1>An Appeal To Reason</h1>
    <h4 class="subtitle">Examining the Evidence of Origins In the Evolution Verses Creation Debate</h4>
    <p>An Appeal to Reason was written with the layperson, that is, the non-science person in mind. It specifically
      targets those young Christians in the senior high and college level who are constantly bombarded with evolutionary
      propaganda. This book will bolster one's faith in the integrity and truth of God's word as it relates to the
      topic of origins.</p>
    <p>
      <a href="mailto:jgibson1948@yahoo.com">Contact me</a> to inquire about purchasing a copy of, "An Appeal to Reason".
    </p>
    <div class="small-12 medium-12 large-12 columns"><img class="appeal-img" src="assets/bookCover.jpg"/></div>
  </div>
</div>
<div class="post reviews row">
  <div class="small-12 medium-12 large-12 columns appeal">
    <h4>Reviews:</h4>
    <h5><b>Dr. John Gideon Hartnett - Ph.D, physics; author of Dismantling the Big Bang:</b></h5>
    <p>
      "Jim Gibson’s approach to the subject is different to the approach I have read in many other creationist
      publications
      that deal with similar material. It is fresh, insightful and challenging to anyone willing to open their mind and
      use commonsense and reason in understanding the evidence—both present day observations and accounts from history
      as
      recorded by scientific observers over the past few hundred years. Therefore I recommend it to everyone."
      (You can read his full review of the book
      <a href="https://biblescienceforum.com/2017/09/01/book-review-an-appeal-to-reason-by-jim-gibson/">here</a>)
    </p>
    <h5><b>Dr. Kevin Schular - Senior Pastor, West Meadows Baptist Church, Edmonton, Alberta:</b></h5>
    <p>
      "Jim Gibson has combined scientific data with sound biblical truth in a way seldom seen in today's media. This
      book is readable, engaging, and a good resource... Anyone seeking a reasonable approach to choose creation over
      evolution will be blessed by this book."
    </p>
  </div>
</div>
