<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Never Thirst Again</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/desires.jpg">
      </div>
      <p><b>
        “But whosoever drinketh of the water that I shall give him shall never thirst; but the water that I shall give him shall be 
        in him a well of water springing up into everlasting life.”  (John 4:3 – 42) </b>
      </p>
      <p>
      The woman at the well is a familiar story that has been told countless times from that time until present.  It is a story 
      that tells of love, compassion, and redemption.  That morning when this particular Samaritan woman woke up, she unknowingly 
      had an appointment with destiny.  She was to meet a man that would forever change her life.
      Jesus had been in Jerusalem and had left there to go into Judaea.  He was somewhere near the Jordan river, since the scriptures state 
      that his disciples were baptizing many people.  It was from here that Jesus had decided to return to Galilee.  Of course, that meant 
      that he had to go through the land of Samaria. 
      </p> 
      <p>
      The Jews had an intense disdain for the Samaritans which went back for centuries.  Samaria was a part of the Northern Kingdom of Israel.  
      Israel had become divided around 922 B.C. after Solomon had died.  Every king listed in the Bible from the Northern Kingdom had the same 
      epithet, “and he did that which was evil in the sight of the LORD.”  It is no wonder that they were the first ones to go into captivity.  
      They were defeated by the Assyrians in 721/722 B.C.  After many of the Israelites were carried away into captivity, they were replaced by 
      peoples from the neighboring countries.  Because these new settlers did not know nor fear the God of Israel, they practiced idolatry and 
      served the idols from their native lands.  In 2 Kings 17, the Bible records that God sent lions among them and killed many.  This prompted 
      them to appeal for help from their Assyrian masters.  The Assyrian king decided to send a Jewish priest down to teach them about the God of 
      Israel.  This action caused them to at least fear the LORD, but they still served their pagan gods.  So, the end result was that their behavior 
      and hearts were never changed.  The few Jews that were left in the land eventually intermarried with these displaced pagans, which diluted and 
      essentially dissolved their Jewish heritage.  
      </p>
      <p>
      About the time of Jesus’ birth, some Samaritans had managed to enter the Temple at Jerusalem and 
      scattered human bones throughout complex.  Obviously, this did not help heal the animosity that had already existed between the two countries.  
      As Jesus and his disciples came into the village of Sychar, his disciples went farther into the town to buy some food.  Jesus stayed behind and 
      rested on the well known as Jacob’s well.  It was about noon when a Samaritan woman came to draw water.  She was somewhat shocked when Jesus 
      asked her to draw some water for him.  Not only was she a strange woman to him, she was a Samaritan.  The woman asked Jesus why he would deign 
      to ask a Samaritan woman for a drink.  Jesus asked her for natural water, but he offered her living water.  Oh what a trade that was!  
      It reminds me of the passage in Isaiah where God promises us beauty for ashes.  Throughout his ministry on earth, Jesus was continually 
      teaching and illustrating to the disciples the principles of the kingdom.  This was especially true on this occasion.  In God’s kingdom, 
      there are no racial, geographical, or social barriers.  All are free to come and drink of that living water freely. 
      </p>
      <p> 
      Water is an essential element of life.  In fact, without water, life cannot exist.  The Bible declares that God created (Hebrew:  bara) the
      heaven and the earth.  The “heaven and the earth” is a Hebrew merism.  A merism is a linguistic phenomenon in which a combination of two 
      contrasting parts of a whole represents the whole itself.  It is like saying, “he searched high and low.”  In other words, he searched everywhere.  
      Water was the first thing that God created.  After creating water, God began to create everything else:  “God moved upon the face of the waters.”  
      God chose this wonderful molecule to make all things that we now behold in this beautiful world of God’s creation.  His ultimate creation, man, 
      was made on day six of the creation week.  An adult human body is composed of about 60% water.  The brain and heart have about 73% water, 
      the lungs have 83%, and even the bones have about 31%.  
      </p>
      <p>
      The water molecule is one of the most unique compounds on earth.  It is simply composed of one oxygen atom and two hydrogen atoms.  It is odorless, 
      colorless and tasteless.  It is the only natural substance found in all three physical states (solid, liquid, gas) at temperatures that naturally 
      occur on earth.  These are some of water’s amazing properties:  polarity, cohesion, adhesion, surface tension, high specific heat, evaporative 
      cooling effect, neutral pH, density, and its use as a universal solvent.  That which gives it these unique properties is something called the 
      hydrogen bond.  The bond angle between the two hydrogen atoms bonded to the oxygen atom is 104.45 degrees.  God truly is awesome!
      However, not all water is beneficial.  You may recall from your high school days the classic poem, “The Rime of the Ancient Mariner” by 
      Samuel Taylor Coleridge.  In one of the stanzas, the poet writes these memorable lines:
      </p>
      <p><b>
      Water, water everywhere,<br/> 
      And all the boards did shrink, <br/> 
      Water, water, everywhere, <br/> 
      Nor any drop to drink. <br/> 
      </b></p>
      <p>     
      Of course, we all know that we cannot drink salt water.  If you have ever watched an old western movie, you have probably seen an episode 
      where they were out in the desert, and they find a watering hole.  But, they soon discover that the water is poisonous.  It is not fit to drink. 
      The water that Jesus offered to that Samaritan water was “living water”, that is, it was a spring of water.  If you have ever tasted water 
      from a spring, then you know how refreshing it can be.  Satan always tries to imitate God.  He too offers people water, but it is counterfeit water.  
      You have heard people say, “all roads lead to God” or “all roads will get you to heaven.”  This is counterfeit water.
      </p>
      <p>
      That well in the town of Sychar, known as Jacob’s well, was probably between 1700 to 2000 years old.  Yet, it was still in use in the first 
      century.  It has been said that the well was fed by an underground spring.  The scriptures state that the well was deep.  Periodically, over the 
      centuries, the well had to be cleaned out from debris that had accumulated over the years.  When Jesus first gave me that spring water many years ago, 
      it felt so refreshing and satisfying.  But, sometimes, I seem to get fatigued, and I lose my focus.  It is then, that I realize that I need to clean 
      out the debris from my life.  
      </p>
      <p>            
      In the Bible, there are many passages of scripture which compare water to God’s Spirit.  Water gives the natural man life, and the Spirit 
      gives our spiritual man life.  In Isaiah 12:3, we have this beautiful verse, 
      </p>
      <p><b>
      “Therefore with joy shall ye draw water out of the wells of salvation.”  
      </b></p>
      <p>
      Also, in Isaiah 44:3, God declares, 
      </p>
      <p><b>
      “For I will pour water upon him that is thirsty, and floods upon the dry ground:  I will pour my spirit upon 
      thy seed, and my blessing upon thine offspring.”  
      </b></p>
      <p>
      It was during the Feast of Tabernacles when Jesus made this declaration:
      </p>
      <p><b>
      “In the last day, that great day of the feast, Jesus stood and cried, saying, If any man thirst, let him come unto me, and drink.  
      He that believeth on me, as the scripture hath said, out of his belly shall flow rivers of living water.”    
      </b></p>
      <p>                                                                                                                                 
      Jesus was literally moved by what he saw on that day.  The Feast of Tabernacles was celebrated on the 15th day of the 7th month.  It was a seven day 
      festival.  It naturally followed the Day of Atonement which was on the 10th day of that month.  It was a joyous occasion where the people gave 
      thanksgiving for their redemption.  On this last day of the feast, the priests would lead a procession to the Pool of Siloam carrying water pots 
      as they went.  Once there, they would fill their pots and proceed back to the Temple. The Pool of Siloam was fed by a spring that came up through
      the rock.  In 1st Corinthians 10:4, Paul wrote, 
      </p>
      <p><b>
      “And did all drink the same spiritual drink:  for they drank of that spiritual Rock that followed 
      them:  and that Rock was Christ.”  
      </b></p>
      <p>
      At the Temple, the priests would pour out their water upon the altar.  They had no conception as to the 
      significance of what they were doing.  They only saw the obvious.  They were blinded to the spiritual intent and prophetic utterance of the 
      Old Testament scriptures.  This is why Jesus cried out to them and pleaded with them to just come to him, and he would give them that spiritual 
      water that the prophet was speaking of.  He would fill their spiritual thirst.
      </p>
      <p>
      Friend, are you thirsty today?  Is your soul empty and yearning for something that is truly fulfilling?  Come to the only One who can 
      fill that thirst.  His name is Jesus.  Reach out to Him, so that you will never thirst again.
      </p>
    </div>
</div>