<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>The Priestly Blessing</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <p><b>
        "And the LORD spake unto Moses, saying, Speak unto Aaron and unto his sons, saying, On this wise ye shall bless
        the children of Israel, saying unto them, The LORD bless thee, and keep thee: The LORD make his face shine upon
        thee, and be gracious unto thee: The LORD lift up his countenance upon thee, and give thee peace.
        And they shall put my name upon the children of Israel; and I will bless them." </b>(Numbers 6:22-27)
      </p>
      <p>
        I've read this passage many, many times as I have read through the Bible. Honestly, I had never considered it or
        thought much about it. I just considered that it was a way God wanted to show to the children of Israel that
        they were special and that they were blessed. But, now, I believe it to reveal so very much more than this.
        God commanded that Aaron and his descendents were to bless the people with the exact words which he dictated in
        verses 24-26. In the KJV, in verse 23, the word "wise" is used. It means to be right, to be correct. This is
        quite different as expressed in what we traditionally call the "Lord's Prayer." That prayer was just a model
        prayer that Jesus was teaching to the disciples. Unlike the Lord's Prayer, God did not want the priests to just
        use a paraphrase, but they were to quote precisely what God had commanded to Moses. With such emphasis, this
        means that the blessing carried with it an extreme importance. Let's consider each verse of the blessing to
        determine what God was so emphatically trying to relate.
      </p>
      <p>
        The LORD bless thee, and keep thee. The Hebrew word for "bless" literally means to kneel. This word can actually
        mean either giving or receiving something as one knelt. I believe that in the context, it means both. For
        example, after receiving the Ten Commandments from God at Sinai, Moses related to the people what God had told
        them. They responded, "we will hear it, and do it." Moses then told God what they had said. God's response was
        heart-rending, because he had omniscience and knew their hearts. He said, "O that there were such an heart in
        them, that they would fear me, and keep all my commandments always, that it might be well with them, and with
        their children for ever!" In paraphrasing, God essentially said, "Oh, I wish it were only true." This passage
        reveals that God's blessings are a two-way street. "Bless" does mean to give and receive. All that we have to
        "give" to God is obedience. When we do this, we will then be able to "receive" his blessings.
        The Hebrew word for "keep" means to guard, protect, or watch. In the Old Testament, God protected the children
        of Israel from their enemies more in the physical sense. It was only when they sinned against God, that he
        allowed Israel to be harmed or subjugated by other nations. He did this as a form of temporal judgment upon his
        people.
      </p>
      <p>
        The LORD make his face shine upon thee, and be gracious unto thee. Does God have a "face" like a man? No, the
        Bible states that God is a Spirit. The scriptures describe him as "dwelling in the light which no man can
        approach unto; whom no man hath seen, nor can see." The Hebrew word for "face" actually means to turn. When
        someone "turns" to face another, they are giving focus, attention, and consideration. That's exactly what God
        does to and for his children. His presence of Light acts as a beam shining upon those whom he loves. Light helps
        one to see, to find direction, and bearing. It also exudes warmth, in this context, it is the warmth of his
        love.
      </p>
      <p>
        God told Moses that he wants to be "gracious" to Israel. This simply means to find favor. God is looking,
        searching for the good in us. However, because of his Holiness, he cannot ignore the bad. But, this puts God in
        a completely different perspective. He is our loving and gracious heavenly Father, not a vengeful God looking
        for opportunity to do us harm. Listen to what God says in Jeremiah: "For I know the thoughts that I think toward
        you, saith the LORD, thoughts of peace, and not of evil..."
      </p>
      <p>
        The LORD lift up his countenance upon thee, and give thee peace. In the KJV, the word "countenance" in this
        clause is the exact same word as "face" in the previous verse. When one's countenance is fallen or cast down, it
        means that they are sad or unhappy. We see this in Genesis 4:6, when God asked Cain, "why is thy countenance
        fallen?" There was displeasure from Cain toward God. When God "lifts up" his countenance toward us, it means
        that he finds favor or is pleased with us. As a result, we can find "peace" from God to us. The word peace is
        the Hebrew word shalom. It means much more than just absence of conflict. To the Hebrew, it entails "wholeness,
        completeness, soundness, health, safety and prosperity."
      </p>
      <p>
        And they shall put my name upon the children of israel; and I will bless them. The actual words that the priests
        were suppose to verbally pronounce upon the children of Israel are found in verses 24-26. In verse 27, God
        instructs the priests to vocalize or invoke his name upon them. God's name represented his presence, his nature,
        or essence. He is claiming them to be his. God's name is a covenant name. God made a covenant with Abraham and
        his descendants. Compare this with the words we find in Exodus 19:5.
      </p>
      <p><b>
        "Now therefore, if ye will obey my voice indeed, and keep my covenant, then ye shall be a peculiar (private)
        treasure unto me above all people: for all the earth is mine."
      </b>
      </p>
      <p>
        It was the priests who verbally expressed and pronounced the blessing upon Israel, but it is God himself who
        actually executes that blessing: "I will bless them."
        From the very beginning, God had a plan to redeem mankind back to himself. After Adam and Eve had sinned, God
        pronounced judgment upon them. But being merciful and gracious, at that same instant, he promised them
        redemption. Satan heard that promise too. He did everything he could to thwart that from ever happening. Within
        ten generations, he had almost succeeded. But, God used Noah, and then later Abraham, to keep a people
        sanctified to himself. Through Israel came the promised Redeemer. Paul proclaimed that this covenant-promise, or
        "the blessing of Abraham" was through the "seed" of Abraham. Paul emphasized that the "seed" was singular. He
        proved that this seed was none other than Jesus. Jesus was the one promised to Adam and Eve in Genesis 3:15.
        The blessings promised in Numbers 6:24-26 were collectively given to the children of Israel. They were not just
        empty platitudes, but were real, tangible covenant promises from God to his people. The question that comes to
        my mind is: can Christians today claim the priestly blessing for themselves? Do we find the same elements of
        blessing, as seen is this passage of our study, in the New Testament?
      </p>
      <p>
        In trying to interpret any scripture, I always try to keep in mind the nature and character of God. God is
        immutable; he does not change. With that in mind, I can confidently be assured that God wants the best for us.
        Does that mean that as Christians, we are exempt from the tragedies, disappointments, and struggles that we so
        often encounter in life? Obviously not. How then can we reconcile that with the promises that we find throughout
        the Bible? Remember, Jesus said: "In the world ye shall have tribulation." The Greek word translated
        "tribulation" literally means stress. I believe all Believers can relate to this word. We have encountered it in
        our lives in many different forms.
        As humans, we are handicapped in our understanding regarding the events that we face in life's journey. God
        expressly explains this in Isaiah 55:8,9.
      </p>
      <p><b>
        "For my thoughts are not your thoughts, neither are your ways my ways, saith the LORD. For as the heavens are
        higher than the earth, so are my ways higher than your ways, and my thoughts than your thoughts."
      </b>
      </p>
      <p>
        The reason for this dissonance is simply because God is omniscient and we are not. We only see the immediate,
        the temporal. Whereas, God's emphasis is primarily upon our spirit man not our physical. That is not to say he
        is not concerned with our natural needs. Jesus assured us that God would take care of all our physical needs, if
        we but put him first.
      </p>
      <p>
        Yes, God does want to bless his people today. To better understand what these blessings entail, one but needs to
        read the Sermon on the Mount. It becomes very obvious as what God deems to be important. Sadly, I believe
        today's Christians (especially me) are spiritually malnourished, even anemic. As individuals, as a nation, as a
        Church, we need to repent of our spiritual apathy and trust that God will forgive us and heal us.
      </p>
      <p><b>
        "If my people, which are called by my name, shall humble themselves, and pray, and seek my face, and turn from
        their wicked ways; then will I hear from heaven, and will forgive their sin, and will heal their land."
      </b></p>
    </div>
  </div>
</div>