<div class="post">
  <h1>Daniel’s Seventy Weeks</h1>
  <p><b>
    Seventy weeks are determined upon thy people and upon thy holy city, to finish the transgression, and to make an end of sins, and to make reconciliation for iniquity, and to bring everlasting righteousness, and to seal up the vision and prophecy, and to anoint the most Holy.
    Know therefore and understand, that from the going forth of the commandment to restore and to build Jerusalem unto the Messiah the Prince shall be seven weeks, and threescore and two weeks:  the street shall be built again, and the wall, even in troublous times.
    And after threescore and two weeks shall Messiah be cut off, but not for himself:  and the people of the prince that shall come shall destroy the city and the sanctuary; and the end thereof shall be with a flood, and unto the end of the war desolations are determined.
    And he shall confirm the covenant with many for one week:  and in the midst of the week he shall cause the sacrifice and the oblation to cease, and for the overspreading of abominations he shall make it desolate, even until the consummation, and that determined shall be poured upon the desolate.</b>  (Daniel 9: 24-27)
   </p>
  <p>These four verses found in Daniel constitute one of the most controversial passages found in the Bible.  From the early church fathers to the modern commentaries, this prophecy has been interpreted with a plethora of views.  There are those who maintain that this prophecy was fulfilled in the days of Antiochus Epiphanes in approximately 168 B.C.  However, many place its fulfillment during the time of the life of Christ.  Still, others say that its ultimate fulfillment extends to the time of the antichrist toward the end of the church age.  Let’s see if we can wade through the maze of difficulties that this passage presents and, hopefully, discover its true intent and meaning.</p>

  <p>Before I begin to explain this passage of Daniel's prophecy, I will share with the reader the more popular dispensational view.</p>

    <p><b>“That all took place when?  When Christ died on the Cross.  And you remember that this was one of the verses that we split with a parenthesis and a dash, because the next part of this verse is still future.  It didn't happen at Christ's first coming. [that is to bring in everlasting righteousness, and to seal up the vision and prophecy, and to anoint the most holy].  That hasn't happened yet.  It will when He returns and sets up His kingdom, but it didn't happen at His first coming.
    Come down through these next verses, but what you really figure out here that even though 490 years were in God's time table back here for the Nation of Israel, leading up to the rejection of the Messiah, would only total 483 years.  Which means that there are seven years left that were not fulfilled at Christ's first coming.
      Chronologists and archaeologists have teamed up and they have actually found the decree that Daniel mentions here, that gave the Jew permission to go back after their Temple had been destroyed by Nebuchadnezzar; it was dated, and from that date, it was March 14, 445 B.C., up until Palm Sunday, was exactly 483 years.  That was fulfilled.  But, the prophecy said 490 years.  And so that's why Bible scholars have sometime referred to the Tribulation as Daniel's 70th week.  Sixty-nine of them were fulfilled at the Cross, but the 70th week, or that final seven years is still unfulfilled.  It's been pushed back out into the future.  Let's drop down to verse 27, it says, 'and he (the anti-Christ) shall confirm the covenant with many for many for seven years.'  Now, there is the triggering mechanism for the Tribulation!”</b></p>

  <p>Here are a few comments from another dispensational writer.</p>

  <p><b>“Here begins the seventieth week of Daniel's seventy weeks.  When Jesus Christ was crucified God's clock stopped for an unspecified amount of time.  God's clock will not start again until the covenant is signed by the antichrist.”</b></p>


  <p>Verse 24.<b>   “Seventy weeks are determined upon thy people and upon thy holy city, to finish the transgression, and to make an end of sins, and to make reconciliation for iniquity, and to bring in everlasting righteousness, and to seal up the vision and prophecy, and to anoint the most Holy.”</b></p>

    <p>Most expositors agree that the “seventy weeks” represent 70 weeks of years, that is, 490 years.  According to Keil and Delitzsch in their Commentary on the Old Testament, the word “determined” meant that these seventy-sevens were to be viewed as a whole, in other words, in a continuous period of 490 years.
    Gabriel, God’s messenger angel, informed Daniel that this period was “determined” or decreed upon “thy people”, the Jews, and upon “thy holy city”, Jerusalem.  Gabriel further states the purpose of the 490 years:  (1) to finish the transgression, (2) to make an end of sins, (3) to make reconciliation for iniquity, (4) to bring in everlasting righteousness, (5) to seal up the vision and prophecy, and (6) to anoint the most Holy.
      These six clauses can be grouped together into three sets of couplets.  The first two clauses complement each other and, therefore, form the first couplet.  The third and fourth clause represent a second thought and, consequently, form the second couplet.  The last two clauses serve as the last couplet.  Let’s examine each couplet to find the meaning which they convey.</p>

    <p>(1) To finish the transgression / to make an end of sins.
    In order to understand the thought being presented in these two clauses, one must view them within their proper context.  Remember, it was to “thy people” of which the prophecy rightly belongs.  Daniel received this vision as he was contemplating the end of the seventy years of desolation as was foretold by the prophet Jeremiah.  It was because of Israel’s sins that they had to go into captivity for 70 years.  In like manner, Gabriel tells Daniel that Israel will once again be judged for their apostasy against God.  However, this future judgment will have a note of finality to it.
    “To finish the transgression” means to “restrict or prohibit” the “revolt or rebellion”.  In other words, Israel’s sins will have a limit to which they can go without impunity.  When their sins reach that breaking point, judgment will follow.  Notice how this agrees to Paul’s statement in 1Thess.2: 14-16 and Jesus’ words in Matthew.
    “For ye brethren, became followers of the churches of God which is Judea are in Christ Jesus:  for ye also have suffered like things of your own countrymen, even as they have of the Jews:
      Who both killed the Lord Jesus, and their own prophets, and have persecuted us; and they please not God, and are contrary to all men:</p>

  <p><b>Forbidding us to speak to the Gentiles that they might be saved, to fill up their sins always:  for the wrath is come upon them to the uttermost.”</b> (1Thess.2: 14-16)</p>

    <p><b>“Wherefore ye be witnesses unto yourselves, that ye are the children of them which killed the prophets.
      Fill ye up then the measure of your fathers.”</b> (Matt.23: 31.32)</p>


    <p>(2) To make reconciliation for iniquity / to bring in everlasting righteousness.
    This first clause simply means to cover, to atone, to expiate sin.  The Passover, the Day of Atonement , and every sin offering ever made in the Old Testament all pointed to the day when there would come the “Lamb slain from the foundation of the world”.  The writer of Hebrews had this to say about Jesus’ death, “But this man, after he had offered one sacrifice for sins forever, sat down on the right hand of God”.
      When Jesus picked up the scroll of Isaiah there in the synagogue of Nazareth at the beginning of his ministry, he boldly announced that he was the fulfillment of that prophecy.  Within that text of Isaiah, it states that men would be called “trees of righteousness” and that they would be clothed with “garments of salvation” and be covered with the “robe of righteousness”.  Because of the sacrifice of the sinless Son of God, he brought to mankind the promise and hope of “everlasting righteousness”.  Malachi, speaking as the last prophet of the Old Covenant, spoke of this historic event:  “But unto you that fear my name shall the Sun of righteousness arise with healing in his wings”.</p>


    <p>(3)  To seal up the vision and prophecy / to anoint the most Holy.
      It was revealed to Daniel that 490 years would be allotted to Daniel’s people, the Jews.  The end of this definite period of 490 years would complete this prophetic vision.  It would also bring into history the anointing of the much anticipated promised Messiah.  In Luke 4:18, Jesus declares that God has <b>“anointed me to preach the gospel to the poor; he hath sent me to heal the brokenhearted, to preach deliverance to the captives”.</b></p>


  <p>Verse 25.  <b> “Know therefore and understand, that from the going forth of the commandment to restore and to build Jerusalem unto the Messiah the Prince shall be seven weeks, and threescore and two weeks:  the street shall be built again, and the wall, even in troublous times.”</b></p>

    <p>Here, Gabriel reveals to Daniel when the beginning of this prophecy would actually start.  He also cautions Daniel to “understand”.  From the study of Ezra and Nehemiah, we find that there were three decrees issued from the kings of the Medes and Persians that dealt with the Jews returning to their homeland in Israel.  The first decree was made by Cyrus in approximately 536 B.C. that gave the Jews permission to return to Jerusalem and to rebuild the “house” of God (see Ezra 1:1,2).  However, this building of the temple was thwarted by Israel’s enemies and its construction stopped.  However, it was during the reign of Darius that a second decree was proclaimed that gave authority for the Jews to again resume the construction on the temple.  This was approximately 519/520 B.C. (see Ezra 6:3).
    It was in 457 B.C. that Artaxerxes made a decree that gave permission for Ezra to return to Jerusalem for the purpose of teaching Israel the “statutes and judgments” of the law, in other words, to re-establish the religious system of the Jewish nation (see Ezra 7:11-13).  He was further given the authority to return to the temple the vessels that were taken from it by Nebuchadnezzar in 606 B.C.  Although the temple had been rebuilt, the streets and the wall lay still in ruins.  This was yet another purpose of the decree and Ezra was assisted in this task by Nehemiah some 13 years later. Nehemiah came as a result of the a letter of authorization in 445/444 B.C. (see Nehemiah 2:1-8).   From the study of Nehemiah, we find that the Jews were in constant battle against Sanballat in his effort to sabotage their efforts.  Thus, the building of the wall was accomplished during “troublous times”.
      So, the actual commandment to “restore and to build Jerusalem” began in 457 B.C.  Then, at the end of 69 weeks of years (483 years), the Messiah would come.  Many commentators place the birth of Jesus in 4 or 3 B.C.  This means that the beginning of his ministry would be about 26 A.D.  If you add 457 and 26, you get 483 years.  Jesus began his ministry at the age of 30.</p>


  <p>Verse 26.<b>  “And after threescore and two weeks shall Messiah be cut off, but not for himself:  and the people of the prince that shall come shall destroy the city and the sanctuary; and the end thereof shall be with a flood, and unto the end of the war desolations are determined.”</b></p>

  <p>After sixty-two weeks (plus the first 7 weeks of years), that is, after 483 years, the Messiah would be “cut off” or killed.  If the 483 years marked the beginning of Jesus' ministry, then this verse says that he was “cut off” after this.  Thus, it does not tell us exactly when.  We will find this out in verse 27.  It is obvious that the rest of this verse explains what happens after the death of the Messiah by use of the phrase, “the people of the prince that shall come”.  It is inferred that this action that is described in the rest of the verse is not to be immediate upon the Messiah's death, but rather, it will come later.  Remember, this prophecy was to reveal what will happen to Daniel's people (the Jews) and to the city of Jerusalem.  Yes, there were consequences for the Jews' rejection and killing of their Messiah.  Notice these passages in the New Testament.</p>

    <p><b>“For the days shall come upon thee, that thine enemies shall cast a trench about thee, and compass thee round, and keep thee on every side.
      And shall lay thee even with the ground, and thy children within thee; and they shall not leave in thee one stone upon another; because thou knewest not the time of thy visitation.” </b> (Luke 19:43,44)</p>

    <p><b>“And when ye shall see Jerusalem compassed with armies, then know that the desolation thereof is nigh.
    For these be the days of vengeance, that all things which are written may be fulfilled.
      But woe unto them that are with child, and to them that give suck, in those days!  For there shall be great distress in the land, and wrath upon this people.” </b> (Luke 21:20,22,23)</p>

    <p><b>“Fill ye up then the measure of your fathers.
    Verily I say unto you, All these things shall come upon this generation.
    O Jerusalem, Jerusalem, thou that killest the prophets, and stonest them which are sent unto thee, how often would I have gathered thy children together, even as a hen gathereth her chickens under her wings, and ye would not!
      Behold, your house is left unto you desolate.” </b> (Matthew 23:32,36-38)</p>

  <p><b>“Forbidding us to speak to the Gentiles that they might be saved, to fill up their sins always:  for the wrath is come upon them to the uttermost.” </b> (I Thessalonians 2:16)</p>

  <p>Of course, the “prince” in verse 26 was Titus.  By 69 A.D., when the siege began the second time, his father Vespasian was the emperor of Rome, thus making Titus “the prince” and the roman armies “the people” of that verse in Daniel.  The destruction of the temple and the city was completed in 70 A.D.</p>

  <p>Verse 27.  <b>“And he shall confirm the covenant with many for one week:  and in the midst of the week he shall cause the sacrifice and the oblation to cease, and for the overspreading of abominations he shall make it desolate, even until the consummation, and that determined shall be poured upon the desolate.”</b></p>

    <p>The interpretation of this verse by the dispensationalists in making the “he” to refer to the antichrist is borderline sacrilege.  In their elaborate scheme of prophecy, they maintain that the antichrist makes a covenant with the Jews for seven years (one week).  In the middle of the week, he abruptly breaks his covenant with them and stands in the rebuilt temple and declares himself to be worshiped as God, so the story goes.
      Now for the rest of the story, as Paul Harvey so characteristically use to say.  In scripture, a covenant requires the shedding of blood.  So, who was this person that Daniel prophesied  would be making a covenant?  The best way to answer this is by letting the Bible interpret it for us.  We will start with the book of beginnings:  Genesis. </p>

  <p><b>“And I will put enmity between thee and the woman, and between thy seed and her seed; it shall bruise thy head, and thou shalt bruise his heel.” </b> (Genesis 3:15)</p>

    <p>Because mankind sinned, God had to shed the blood of an innocent animal to cover their nakedness (shame).  From that point on, God required a blood sacrifice to atone for sin.  This promise in Genesis 3:15 gave hope to mankind that, one day, God would provide a permanent cure or atonement for sin.  A redeemer would come through the seed of woman that would deal to Satan a fatal wound.  The call of Abraham was to accomplish God's promise.  Abraham was sometimes referred to as the “father of the faithful”.  This was because God ordained that through the seed of Abraham would come forth the Redeemer or Messiah.  The Jews were the “faithful” in which this promise would be realized.
      Throughout the Old Testament God reminds man about his covenant with him.  We see this in the story of both Noah and Abraham.  In the Levitical laws given to Moses, the shedding of blood represented God's covenant.  Later, in the prophets, we find where God promises a new covenant, one that would be eternal.  Let's look at a few more passages of scripture.</p>

  <p><b>“Behold, I will send my messenger, and he shall prepare the way before me:  and the Lord, whom ye seek, shall suddenly come to his temple, even the messenger of the covenant, whom ye delight in:  behold, he shall come, saith the LORD of hosts.” </b> (Malachi 3:1)</p>

  <p>It is obvious in this passage that there are two “messengers” referred to.  Anyone with just a little knowledge of the Bible would recognize the first messenger to be John the Baptist.  The second messenger, the messenger of the covenant, was Jesus.  In scripture, Jesus is the only one who confirms a covenant with the Jews (actually, mankind).  The Hebrew word translated confirm actually means:  to be strong, to prevail, to conquer.  Yes, it was Jesus who prevailed over and conquered both sin and Satan.  He did this by shedding his blood for us.  Thus, God fulfilled his promise he made to Adam and Eve back in Genesis 3:15.  Let's consider more scriptural proof about the identity of the person who confirms a covenant.</p>

    <p><b>“Behold, the days come, saith the LORD, that I make a new covenant with the house of Israel, and with the house of Judah.
      But this shall be the covenant that I will make with the house of Israel;  After those days, saith the LORD, I will put my law in their inward parts, and write it in their hearts; and will be their God, and they shall be my people.” </b> (Jeremiah 31:31,33)</p>

  <p><b>“And also the cup after supper, saying, This cup is the new testament (covenant) in my blood, which is shed for you.” </b> (Luke 22:20)</p>

  <p><b>“And this I say, that the covenant, that was confirmed before of God in Christ...” </b> (Galatians 3:17)</p>

  <p><b>“But now hath he obtained a more excellent ministry, by how much also he is the mediator of a better covenant, which was established upon better promises.” </b> (Hebrews 8:6)</p>

  <p><b>“In that he saith, A new covenant, he hath made the first old.  Now that which decayeth and waxeth old is ready to vanish away.”</b> (Hebrews 8:13)</p>

  <p><b>“And for this cause he is the mediator of the new testament, that by means of death, for the redemption of the transgressions that were under the first testament, they which are called might receive the promise of eternal inheritance.” </b>	(Hebrews 9:15)</p>

    <p>In this verse, we find that “he” would confirm the covenant with many for one week, and then in the “midst” of the week, he would cause the sacrifice and the oblation to cease.  We have determined that the “he” is Jesus.  Notice that he would confirm the covenant for one week (seven years).  Jesus ministry only lasted 3 ½ years.  So, how could this be true?  Remember, that throughout his ministry, Jesus said he only came to save the “lost sheep” of Israel.  Also, when he sent his disciples out, he specifically told them to only go to the regions of the Jews.  The word “midst” means the very middle.  Jesus died in the middle of the seven years.  However, in accordance with the prophecy in Daniel, the Jews still had another 3 ½ years.  I believe that Peter received his vision about Cornelius at the end of this last half of Daniel's 70th week.  The calling of the apostle Paul to be an apostle to the gentiles also was probably about this same time.  God is faithful to his word.
    When Jesus was upon the cross, the veil in the temple was split into.  This signified that God would no longer recognize or accept any more offerings.  Jesus was the ultimate sin offering for mankind.  Therefore, his death caused “the sacrifice and the oblation to cease”.  God's sacrificial Lamb paid the sin-debt forever.
    This last phrase in this verse is very interesting and informative.  The word overspreading is sometimes explained in terms of lateral degree, for example, from wing-tip to wing-tip.  Visualize the spreading of an eagle's wing, and you would come up with the word picture for this word.  The word abominations has reference to anything that is filthy, loathsome or abhorrent.  Of course, the Roman ensign of the eagle fits the description perfectly for both words.
      When the Jews cried out, “His blood be on us, and on our children” at Jesus' trial, little did they realize that they pronounced their own judgment which was fulfilled in less than forty years from that proclamation.  Truly, their house (city and temple) was made desolate.</p>

    <p>In closing, I would like to again make comment on the supposed stopping of God's clock.  No where in scripture is there a precedent that supports this type of interpretation.  In Genesis 7:4, God informed Noah that in seven days, it would begin to rain.  Not only that, it would rain exactly forty days and nights.  In Jeremiah 25:11, God told Jeremiah that Judah would be in captivity for seventy years.  Because of his confidence in God's word, Daniel began to pray toward the end of the seventy years as he reflected upon Jeremiah's prophecy.  In Jonah 3:4, Jonah declared to the people of Nineveh that God would destroy their city in forty days.  No, the idea of a “parenthesis” in verse 27 is without scriptural support.  God fulfilled his word to Daniel about the 490 years given to the nation of Israel in minute detail.  God is always faithful in both word and deed.

  </p>
</div>