<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Desires of Your Heart</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/desires.jpg">
      </div>
      <p><b>
        “Delight thyself also in the LORD: and he shall give thee the desires of thine heart.” </b>(Psalms 37:4)
      </p>
      <p>
        Now, who doesn’t just love this verse? What a promise from God! Is this really a “blank check” from God? For myself,
        depending on the moment, I have had multiple desires. Most of them, however, never came into fruition. Why not? As
        always, the Word of God has the answers to life’s questions. We will use this passage from Psalms as a base for this
        present study.
      </p>
      <p>
        When studying any passage of scripture, it is absolutely necessary to consider it in its proper context. The context
        may include cultural, historical, and grammatical aspects. Paul admonished young Timothy to “study to show thyself
        approved unto God...rightly dividing the word of truth”. Let’s look again at this beloved verse in Psalms. The
        Hebrew word for “delight” actually means soft or pliable. So, one could paraphrase this word as yield. Yield thyself
        also in the LORD: and he shall give thee the desires of thine heart. In 1934, there was a popular Mexican
        songwriter, Maria Grever, who composed a song which was later made famous in 1959 when it was sung by Dinah
        Washington, “What a Difference a Day Makes”. I thought of this song when I considered this thought, what a
        difference a word makes. As we continue this study, the impact and truth of this word will become more evident.
      </p>
      <p><b>
        “Therefore I say unto you, What things soever ye desire, when ye pray, believe that ye receive them, and ye shall
        have them.” </b>(Mark 11:24)
      </p>
      <p>
        This comment made by Jesus is very reminiscent of the verse in the Psalms. Jesus was what is known today as an
        itinerant preacher, in other words, he traveled from place to place preaching the Good News. Undoubtedly, he used
        the same sermon notes, figuratively speaking, as he addressed different crowds from village to village. The
        disciples became well versed in these sermon truths. We shall now see how two of these disciples understood Jesus’
        teachings regarding this promise.
      </p>
      <p><b>
        “And James and John, the sons of Zebedee, come unto him, saying, Master, we would that thou shouldest do for us
        whatsoever we shall desire.” </b>(Mark 10:35)
      </p>
      <p>
        These two sons of Zebedee used the exact words that Jesus used when he gave the promise. You have heard the
        expression, “you can take it to the bank and cash it”, when one wants to emphasize the truth of what is being said.
        This is exactly what James and John were doing, cashing in on a promise. Jesus then asked them what was their desire
        (as if he did not already know). Yes, God knows our very thoughts, desires, needs and petitions, yet he wants us to
        ask him.
      </p>
      <p><b>
        “They said unto him, Grant unto us that we may sit, one on thy right hand, and the other on thy left hand, in thy
        glory.
        But Jesus said unto them, Ye know not what ye ask...” </b>(Mark 10:37,38)
      </p>
      <p>
        What was wrong with their request? They just wanted to be near Jesus, right? They didn’t ask for wealth, fame or
        long life. It was a spiritual request. What was Jesus’ answer? Basically, no! Does this mean that Jesus’ promises
        cannot be relied upon? Of course not. No, what James and John asked for was selfish and prideful. Think back at the
        last night that Jesus and his disciples were together before he would be taken to Pilate’s palace to be questioned
        on that fateful night leading up to his crucifixion. It would be known as the Last Supper. After that somber and
        heart-rendering experience, what do we find the disciples doing….arguing about who was the greatest disciple among
        them. How petty. Sadly, we are no better, in fact, we are much worst. In trying to discern God’s truth, we must
        consider his whole counsel. We cannot just take one or two passages and come to a conclusion. No, we must consider
        all scriptures that speak to that issue.
      </p>
      <p><b>
        “Ye ask, and receive not, because ye ask amiss, that ye may consume it upon your lusts.”</b> (James 4:3)
      </p>
      <p>
        This certainly seems to be the case with our two disciples in question. There must be something more, something
        missing in this consideration of Jesus’ promise about giving us the desires of our heart. Again, we turn to the Word
        of God for direction.
      </p>
      <p><b>
        “And this is the confidence that we have in him, that, if we ask any thing according to his will, he heareth us.
        And if we know that he hear us, whatsoever we ask, we know that we have the petitions that we desired of him.” </b>(1
        John 5:14,15)
      </p>
      <p>
        I think we have found our answer, “according to his will”. Look at all the familiar phrases in these verses that are
        found in the other passages of promise. Jesus probably even used this same phrase according to his will in his
        earlier sermon notes, but what was recorded previously was the Reader’s Digest version. Notice, too, who is writing
        this epistle. Yes, it was John. With age comes wisdom. John had finally learned to listen to that “still, small
        voice” in his heart to find direction. He was not listening to his carnal, selfish voice anymore. How did he finally
        learn how to do this?
      </p>
      <p><b>
        “For it is God which worketh in you both to will and to do of his good pleasure.” </b>
        (Philippians 2:13)
      </p>
      <p>
        The truth has finally arrived! It is God who actually puts his will within our hearts, so that we may pray according
        to his will. Then, it is God who answers (to do) our petitions accordingly. The great apostle Paul gives us a little
        more clarification regarding this mystery.
      </p>
      <p><b>
        “Likewise the Spirit also helpeth our infirmities: for we know not what we should pray for as we ought: but the
        Spirit itself maketh intercessions for us with groanings which cannot be uttered.
        And he that searcheth the hearts knoweth what is the mind of the Spirit, because he maketh intercession for the
        saints according to the will of God.” </b>(Romans 8:26,27)
      </p>
      <p>
        The truth of Jesus’ promise is much more clear. There are still some things that are not so evident and clear. How
        does a believer attain to that place in God where he can ever really know God’s will or the mind of God? Is it even
        humanly possible on this earth? According to God’s Word, it is. In fact, it is God’s desire that all believers come
        to that completeness in Him. In another study, we will look more closely at this idea.
      </p>
    </div>
  </div>
</div>