
<div class="post">
  <h1>Evolution Sunday</h1>
  <p>
    “Evolution Sunday” is a science-focused service conducted in churches throughout the world to celebrate Charles Darwin’s
    theory of evolution. It began in 2006 in 467 congregations in 48 states.  By 2009, the 200th anniversary of Darwin’s birthday,
    it had grown to over 1000 churches.  It all began with what was known as the “Clergy Letter Project”.  This was a letter
    written to churches across America to “reject the Genesis account of creation” and to “support evolution”.  Over 12,000
    clergy, both Christian and Jewish, had signed this infamous letter.  With this annual event upon the near horizon, I
    decided to write this short paper.
  </p>
  <p>
    February 12, 1809 proved to be a fateful day for the world.  On this date, two men were born who would later leave an
    enduring impact upon history.  Abraham Lincoln was born in a small log cabin in humble surroundings in a rather
    insignificant town in Kentucky.  He would later become the 16th President of the United States.  With his leadership,
    he was able to preserve the Union and was instrumental in abolishing slavery.  Millions today revere him to be among
    one of the greatest Presidents ever to have served this nation.
  </p>
  <p>
    On the other side of the pond (the Atlantic Ocean), another historic personage was born on the very same day.
    Charles Darwin also left his legacy upon the world.  In fact, he undoubtedly influenced more lives than his counterpart
    from America.  Of course, we know Darwin from his book, On the Origin of the Species.  This book laid the foundation
    for the theory of evolution.  To many, he has become a hero within the scientific community and even beyond those venues.
    However, he is vilified in the eyes of the more conservative populace.  Among those who held Charles Darwin in high
    regard was Karl Marx, Joseph Stalin, Adolph Hitler, and Mao Zedong (Tse-tung).  These ardent admirers would later be
    responsible for the murder of between 75 and 100 million people.  Their ideology was based upon the concept of the fuller
    title of Darwin’s book:  On the Origin of Species by Means of Natural Selection, or the Preservation of Favoured Races
    in the Struggle for Life.  Hitler obviously focused on the “favoured races” phrase, while the communists emphasized
    the “struggle for life” aspect of the title.
  </p>
  <p>
    Thus, as we compare the lives of these two historic figures and their corresponding impact upon the world, one might
    rightly conclude that Abraham Lincoln’s legacy contributed to the greater good of mankind.  On the other hand, Charles
    Darwin’s impact was one that ultimately contributed to the darker side of man’s character.  Someone might argue that
    Darwin’s purpose and intent was not for the detriment of mankind, but rather, to further man’s insight into the wonders
    of science.  While that may be true, once you have removed man from being created in God’s image to that of the image of
    an ape, then it becomes natural to mitigate the substance and value of a man’s life.  When mankind is brought down to
    the same relative level as an animal and the very existence of God is denied and there is no future after this present
    life, then the mass killing of individuals becomes a very small moral obstacle to overcome.
  </p>
  <p>
    There was a 19th century theologian and scientist by the name of Henry Cole.  He was very vocal in his opposition to
    what he deemed to be a compromise of God’s word.  To those who accepted Darwin’s book and try to interject vast ages
    within those first few chapters of Genesis, Cole did not hesitate to condemn them as being “unscriptural” and “anti-Christian”.
    He said that if you deny the history of Genesis, then that would lead to a denial of theology, and finally to a denial
    or breakdown of morality.  In other words, Genesis became the very foundation or bedrock of our Christian faith.  In
    those first chapters of Genesis, we find the doctrines of creation, marriage, sin, redemption, blood atonement, free
    will, good and evil, and other cherished beliefs.  If Satan could cause a crack in that foundation, then the total
    structure becomes unstable.  Notice what the very first thing the serpent in the garden asked Eve, “yea, hath God said”.
    Did God really say that?  Do you think that God really meant it that way?  Next the serpent states, “ye shall not surely die”.
    Finally, he tells Eve that “ye shall be as gods”.  Notice the sequence of Satan’s lies and deception:  doubt, deny,
    and deify.  Yes, he uses these same tired tactics today.
  </p>
  <p>
    According to Cole, there is a process that will occur when one begins to doubt God’s word.  After the Soviets’ launch
    of Sputnik in 1957, Dwight D. Eisenhower created NASA.  At the same time, publishers began to devote a ten-fold increase
    in the topic of evolution in their biology textbooks. To some, the reason why the soviets were ahead in the space race
    was because atheism was founded upon evolution, therefore the United States should also make the teaching of evolution
    a priority.  Beginning in 1962 and culminating in June of 1963, the United States Supreme Court issued several rulings
    that left an extremely negative impact on the public school system and society as a whole.  I am referring to their
    decision to remove prayer and Bible reading from the schools.  The Court’s majority, in writing its opinion, stated
    that their ruling was one of wholesome neutrality.  They further stated that their decision would in no way be deemed
    as a victory for secularism.  Secularism by definition is humanism, and, yes, it was a victory for humanism.  It was
    also in the 1960s, after the removal of God from the classrooms, that the “God is dead” movement took hold and became
    fashionable.  Has the denial of Genesis as history been detrimental to morality?  Without going into the actual statistics,
    just a cursory review of the illegitimacy rate in the United States will prove to be truly mind-boggling and devastating.
    Yes, Henry Cole was correct in his estimation of the consequences of compromising God’s word.
  </p>
  <p>
    Can a denial of the historicity of Genesis really lead to such catastrophic consequences?  Yes, this has been true
    for some individuals.  At least, it was for a well-known evangelist in the 1940s and 1950s named Charles Templeton.
    Originally he was pastor for a Nazarene church.  Later, he associated himself with the United Church of Canada.  In
    1945 Templeton and others formed what was to become the Youth for Christ International.  In fact, Billy Graham was
    hired as the first full-time evangelist for the organization.  Graham and Templeton made an evangelistic tour of
    Western Europe.  Through the years, they became close friends.  There were times when there would be as many as 30,000
    people who attended Templeton’s evangelistic meetings.  Sadly, Charles Templeton began to doubt the Genesis creation account.
    The seeds of doubt continued to include other portions of scripture.  This struggle with doubt continued until 1957
    when he publicly proclaimed himself to be an agnostic.  When he was 80 years old, he wrote a book, “A Farewell to God”.
    In this book, he gave his reasons for his rejection of the Christian faith.  His last interview was with journalist
    Lee Strobel when he was in his 80s.  In this conversation, Templeton admitted that Jesus Christ was the most important
    man who ever lived.  Strobel replied, “You sound like you really care about him”.  Templeton, in a stuttered reply
    said, “I….I…I know it may sound strange, but I have to say…I adore him.”  Strobel stated that after this Templeton said,
    with tears flooding his eyes, “I miss him”.  Charles Templeton died two years after this interview of complications
    from Alzheimer’s disease.  It is a sad tragedy to lose one’s fellowship with God.  Nothing in this world could ever
    fill nor satisfy that void.
  </p>
  <p>
    “If the foundations be destroyed, what can the righteous do”
  </p>
</div>