<div class="post row">
  <div class="small-8 medium-10 large-10 artContainer">
    <h1>The Battle of Gog and Magog</h1>
      <p>
        Most “prophecy teachers” today place the battle of Gog and Magog just before, or at the very beginning, of the Tribulation Period.
        Others, however, have the battle of Armageddon first and the battle of Gog and Magog as the final conflict.  Of
        course, being the contrarian that I am, I view and interpret this battle completely opposite from the popular consensus.
        I am a firm believer in interpreting Scripture in its appropriate context.  In this scenario, the proper context is
        that of a historical context.  To begin with, this “battle” is described in Ezekiel 38 and 39.  These chapters
        immediately follow chapter 37 which gives a vivid picture of the vision of dry bones.  God reveals to Ezekiel that
        this valley of bones represents “the whole house of Israel.”  Since Ezekiel prophesied during the time of the Captivity,
        this vision portrays how God will again deliver Israel and bring her back to the land of promise.  Additionally, this
        chapter alludes to the time when “David” will again be a king over them, an obvious reference to Jesus, the King of
        the Jews.  The apostles make reference to this chapter in Romans 11:20-27; Ephesians 2:11-22; and Acts 15:14-17.
        Therefore, we have both a historical and a spiritual fulfillment.
      </p>
      <p>
        Before I begin to explain my position and interpretation of these two chapters in Ezekiel, I must reveal the
        parameters upon which I interpret Old Testament prophecies.  In Matthew 11:13, Jesus stated that, “For all the
        prophets and the law prophesied until John.”  Luke records it this way:  “The law and the prophets were until John;
        since that time the kingdom of God is preached, and every man presseth into it.”  I believe that practically all
        prophecies either had relevance to the immediate hearers of the prophet, or else, they culminated and focused upon
        one personage, Jesus.  John was the last in line to do so.   It is upon this premise that I view all the Old
        Testament prophecies.  I believe such a foundation of hermeneutics would alleviate much confusion in understanding
        many Biblical passages.
      </p>
      <p>
        Let us begin.  The chapter begins with God proclaiming judgment upon “Gog, the land of Magog.”  The prophecy relates
        how Gog will come upon Israel while she is at peace in un-walled cities.  The time frame is after Israel has been
        brought back from her captivity.  The purpose of this attack was “to take a spoil.”  The chapter describes the
        inhabitants as living in desolate places.  The prophecy tells how that God would be the One who vanquishes these
        attackers.  In fact, their dead would all be buried in a valley called “the valley of Hamon-gog.”  The readers
        should better acquaint themselves with these two chapters by diligent reading and study.  It is not the goal of
        this short study to give a detailed commentary.  Rather, I want to introduce to the reader a more plausible guide
        to help in their understanding of this perplexing passage.  We will do this by comparing portions of the book of
        Esther with the chapters in Ezekiel.
      </p>
      <p>
        Why Esther?  The Jews went into captivity in about 606 B.C. and returned to their homeland in 536 B.C. by a decree
        of Cyrus.  They returned to a land that was devastated by war.  Everything was in ruin and rubble. Ezekiel lived and
        prophesied during the time of the Captivity.  Esther, on the other hand, records a period of time some 50 plus years
        after the return from the Jewish Captivity.  Many Jews were born in their land of captivity, consequently, many
        never returned back to Canaan but remained in the land of their birthplace.  By the way, the reader must read the
        short book of Esther in order to get the proper historical perspective.  Although the word “God” is never mentioned
        in this book (the only book in the Bible to do this), His providence is the unifying thread throughout this beautiful story.
        Three times in human history Satan has tried to abort God’s promise of redemption as recorded in Genesis 3:15.
        The first was during the time of Noah when all of human civilization had succumbed to sin, except for just eight people.
        The second time was during the times of the book of Esther.  The third time, of course, was when Herod killed all
        the babies is Bethlehem.  Some would count the crucifixion as the fourth attempt, but Satan had no say in that instance.
        Jesus willingly laid down his life according to the will of the Father for the sins of the world.  Let’s take a
        closer look at the second failed attempt as recorded in the book of Esther.
      </p>
      <p>
        I will begin this story with the third chapter where it introduces a certain prince named Haman the Agagite.  There
        is an ancient cursive Hebrew manuscript which translates Haman’s title as “Haman, the Gogite.”  This will have
        significance later.  The story immediately lays the foundation for the hatred and animosity that Haman had towards
        the Jews.  A certain Jew named Mordecai refused to bow before Haman whenever he passed by.  Haman was incensed.
        Verse six reveals Haman’s sinister plot: “…wherefore Haman sought to destroy all the Jews that were throughout
        the whole kingdom.”  Since the Persians were rulers over the then-known world, this plan would in effect annihilate
        the entire race of the Jews.  His plan would completely eliminate the Jews “in one day.”  In verse 13, we find Haman’s
        purpose spelled out:  “to destroy, to kill, and to cause to perish, all Jews…in one day…to take the spoil of them for
        a prey.”  Fortunately, God had not forgotten His people or His promise of a future Redeemer.  He had carefully
        selected and prepared Esther to be the instrument in executing His plan and purpose.  We know how the story ends.
        The gallows that Haman had built to hang Mordecai on was used on him instead.  The honor that Haman had sought and
        even his own house was given to his bitter enemy Mordecai.
      </p>
      <p>
        If this was such a historic and pivotal event in human history, would not God had warned His people by his prophets?
        He did.  We can find this warning in Ezekiel 38 and 39.  When interpreting prophecy, people often times try and give
        significance to every word.  Some prophets, especially Ezekiel, used much symbolism and imagery.  Passages that are
        emblematic become problematic when we fail to recognize this.  With this in mind, let’s see if we can put these
        chapters in their proper perspective.
      </p>
      <p>
        First, let’s try and find the identity of “Gog, the chief prince.”  Remember, earlier, I made mention of the fact
        that there exists a Hebrew manuscript that referred to Haman as “the Gogite.”  In other words, Haman’s ancestral
        roots were in the land of Gog.  Also, in Esther 3:1, the Bible declares that king Ahasuerus promoted Haman “above
        all the princes.”  In other words, Haman was the “chief prince”, the term applied to Gog in Ezekiel 38:1.  We have
        already mentioned the timeframe of this momentous battle.  It would be after the Jewish captivity, during a period
        of peace and tranquility, and it would be when the land was “desolate.”  If you read the books of Ezra and Nehemiah,
        which recorded a time period which corresponded to that of Esther, then you would notice a definite parallel.  The
        land was in utter ruin and chaos by the Babylonian armies nearly 150 years prior.  One of Haman’s goals for his
        sinister plan was “to take a spoil.”  These are the exact words as found in Ezekiel 38:12.  Notice, too, the name
        of the burial place of those enemies of the Jews:  the valley of Hamon-gog.  This appears to be a thinly-veiled
        play on words for Haman’s appellative, “Haman, the Gogite.”  As already mentioned, Haman was hung on the very gallows
        on which he had built for Mordecai.  This would explain the words as found in Ezekiel 39:4, “…I will give thee unto
        the ravenous birds of every sort…”  There is a parallel of this phrase found in Genesis 40:19 where Joseph interprets
        the dream of Pharaoh’s chief baker.  “Yet within three days shall Pharaoh lift thy head from off thee, and shall hang
        thee on a tree; and the birds shall eat thy flesh from off thee.”  Obviously, the chief baker didn’t get very much
        sleep for the next few days.
      </p>
      <p>
        Some would object to this historical interpretation, since Ezekiel uses such phrases as:  “latter years” and “latter days”.
        Many prophecy teachers automatically place any passage of scripture that refers to the “latter” days, years, or times
        to the end of human history.  To put it bluntly, they are wrong.  These phases must be kept in the context in which
        they are used.  For instance, in Ezekiel 38:8 the prophet states:  “…in the latter years thou shalt come into the
        land that is brought back from the sword…”  This is an obvious reference to the return of the Jews from their 70
        year captivity as a result of the Babylonian conquest.  Thus, this is the time frame of the prophecy in chapters 38 and 39.
        Dispensationalists take many Old Testament prophecies and interject them some 2500 years into the future.  This
        leaves no relevance to the people who lived at the time of these prophetic utterances.
      </p>
      <p>
        So, the battle of Gog and Magog is not some mystical conflict millennia removed from the people that lived at the
        time of the prophecy, but rather, it was something that would impact their descendants just a few generations away.
        This “battle” was one which Satan lost.  He was not successful in aborting God’s plan for a future redemption of mankind.
        God maintained that Chosen Seed which would one day bring forth the Redeemer.
      </p>
  </div>
</div>