<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>What Makes A Nation Great?</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-6 large-6 columns">
        <img src="assets/nation.jpg">
      </div>
    <p>
      On this date (July 4) in 1776, the 13 colonies declared their independence from England. It would not be until
      1783 before they actually gained their freedom at the signing of the Treaty of Paris. The document upon which all
      our laws are based is the Constitution which was signed in 1787. The Founding Fathers wrote the Constitution whose
      very foundation was established upon what was then known as “Natural Law.” One of the most referenced sources
      cited by the Founding Fathers during the writing and discussion of the Constitution was from Blackstone’s
      Commentaries of English Law. Blackstone maintained that Natural Law was given to mankind by God. These God-given
      principles were to aid man in their governance. Thus, our Constitution reflects those very statutes which were
      ordained by God.
      The apostle Paul alluded to these principles that govern in the hearts of mankind with these words as found in
      Romans1:19, 20 and 2:14, 15.
    </p>
    <p><b>
      “Because that which may be known of God is manifest in them; for God hath shewed it unto them.
      For the invisible things of him from the creation of the world are clearly seen, being understood by the things
      that are made, even his eternal power and Godhead; so that they are without excuse.”
      <br/>
      “For when the Gentiles, which have not the law, do by nature the things contained in the law, these, having not
      the law, are a law unto themselves.
      Which shew the work of the law written in their hearts, their conscience also bearing witness, and their thoughts
      the mean while accusing or else excusing one another.”
    </b></p>
    <p>
      A person who greatly influenced and inspired the Founding Fathers was John Locke who wrote about that “Natural
      Law” that formed the very foundation of our nation. Listen to his words: “The State of Nature has a Law of Nature
      to govern it which obliges everyone...that being all equal and independent no one ought to harm another in his
      Life, Health, Liberty, or Possessions.” Notice the obvious similarity of wording as that also found in the
      Declaration of Independence. One historian made the comment that it was the Declaration of Independence which
      should actually be considered America’s foundation and the Constitution was the house upon which it was built.
      Anna Beth Rankin wrote that, “The Constitution is the Supreme Law of the United States; however it has its
      philosophical roots in the Declaration of Independence.” To this agrees the statement made by Abraham Lincoln,
      “the Declaration of Independence was an ‘apple of gold’ whereas the Constitution was the ‘picture of silver’
      framed around it.” The point being stressed here is that the Natural Law, as expressed in the Declaration, was
      laws and rights given by God, whereas the Constitution was made of laws created by man. <br/>
      The Framers and early Supreme Court Justices relied heavily on the concepts as found in the Natural Law. Through
      the years, the Courts have strayed further and further from these original principles of law and justice. In fact,
      Supreme Court Justice Clarence Thomas was once castigated by a Harvard Law professor for adhering to these
      principles of Natural Law. It has been the trend for several decades now to treat the Constitution as a “living
      document.” As a result, it has been relegated to an obsolete and discarded document in favor of a more fluid
      social construct which is entirely relative to the whims of a changing society. <br/>
      In fact, former President Barack Obama made this shocking statement: “We are no longer just a Christian nation.”
      In his speech, President Obama alluded to the fact that we might have once been a Christian nation, but no longer.
      What he said is entirely correct. But our magnificent nation was indeed founded upon Christian principles. Two
      professors, Donald S. Lutz and Charles S. Hyneman made an exhaustive study of our Founders’ most read books,
      newspaper articles, and monographs with explicit political content. They limited their study to the period from
      1760 to 1805. They concluded that the most often cited source was the Bible. This should come as no surprise
      especially as one reflects upon the words of Benjamin Franklin at the Constitutional Convention. Listen to the
      wisdom coming from this 81 year-old statesman.
    </p>
    <p><b>
      “I have lived, Sir, a long time; and the longer I live, the more convincing proofs I see of this truth, that God
      governs in the affairs of men. And if a sparrow cannot fall to the ground without his notice, is it probable that
      an empire can rise without his aid? We have been assured, Sir, in the sacred writings that ‘except the Lord build
      the house, they labor in vain that build it.’ I firmly believe this; and I also believe that, without his
      concurring aid, we shall succeed in this political building no better than the builders of Babel…
      I therefore beg leave to move that, henceforth, prayers imploring the assistance of heaven and its blessings on
      our deliberations be held in this assembly every morning before we proceed to business, and that one or more of
      the clergy of this city be requested to officiate in that service.”
    </b></p>
    <p></p>
      Just a few years later, our nation’s second President, John Adams, echoed these sentiments when he said, “Our
      Constitution was made only for a moral and religious people. It is wholly inadequate to the government of any
      other.” It is understandable for those who do not like the “strict constructionist” interpretation of the
      Constitution when one reflects upon our present societal morality. In this sense, the Constitution is becoming
      more and more foreign to the thought processes of a liberal and progressive culture.
    </p>
    <p>
      There was a time in Israel’s history when they were regarded as a great nation, although small in territory and in
      population. What made them great? To find this answer, we need to go back to their very founding. Listen to the
      words of Moses as he instructs the children of Israel before they entered the land of Canaan:
    <p><b>
      “Behold, I have taught you statutes and judgments, even as the LORD my God commanded me…
      Keep therefore and do them; for this is your wisdom and your understanding in the sight of the nations, which
      shall hear all these statutes, and say, Surely this great nation is a wise and understanding people.” (Deut. 4:5,
      6)
    </b></p>
    <p>
      Just as the nation of Israel began as a great nation because they were founded upon Godly principles and laws, so
      too was the United States great because they founded our Constitution upon these same fundamental truths.
      Alexis de Tocqueville has been quoted as saying that, “America is great because America is good. When America
      ceases to be good, she will cease to be great.” Although this quote has never been verified, its words bear much
      truth and are truly sublime.
    </p>
      <p><b>
      “Blessed is the nation whose God is the LORD.”
      </b></p>
    </div>
  </div>
</div>