<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Healing: A Biblical Study</h1>
  </div>
  <div class="row">
    <p>
      Sickness and disease are all too familiar to the human race. There is not a person on earth who has not been affected by these evil twins. 
      They are oblivious to race or social status. They have inflicted an untold amount of suffering and pain to humanity. Of course, their origin 
      began in the Garden of Eden when mankind sinned against their Creator. Too often, people try and blame God for this human misery. But, they are 
      woefully mistaken. Even a casual reading of those first few chapters of Genesis would reveal the true nemesis of humanity. It is evident in scriptures 
      that it is Satan who seeks to steal, kill, and destroy mankind. In this study, I hope to examine the topic of healing as revealed in the Bible. I do this 
      not only to give others a better understanding of why or why not people are healed, but primarily in hopes that I can come closer to the mind of God with 
      regard to this enigma.
    </p>
    <p><b>OLD TESTAMENT</b><p>
    <p>
      In Exodus 15:26, we find the first promise from God about this plight of humanity.</p>
    <p><b>
      “And said, If thou wilt diligently hearken to the voice of the LORD thy God, and wilt do that which is right in his sight, and wilt give ear to his commandments, 
      I will put none of these diseases upon thee, which I have brought upon the Egyptians; for I am the LORD that healeth thee.”</b>
    </p>
    <p>
      This truly was a monumental blessing for the children of Israel. God even restated this promise in Deuteronomy 7:15. Of course, this promise comes with conditions. 
      That little word “if” is undeniably conditional. In fact, we find the results of its violation in Deuteronomy 28:60. As we read the Old Testament scriptures, 
      we find lepers, blind, lame, and others with diseases. All these are the result of Israel’s breaking of the covenant-promise of health.
    </p> 
    <p>
      Ahaziah, the son of the evil Ahab, became sick. He sent messengers to go and inquire of Baalzebub whether or not he would recover. But, the true God sent his 
      prophet Elijah to go and intercept the messengers and told them to deliver this message: 
      “Is it not because there is not a God in Israel, that ye go to enquire of Baalzebub the god of Ekron? Now therefore thus saith the LORD, Thou shalt not come 
      down from that bed on which thou art gone up, but shalt surely die.” As I read this story, I was not surprised at the outcome. Ahaziah was evil. One would not 
      expect God to give his blessing of healing to someone who was evil.
    </p> 
    <p>  
      The next story illustrates God’s graciousness. There was a heathen by the name of Naaman, the captain over the host of the king of Syria, who had leprosy. 
      By providence, a young Jewish maid of the captain’s wife told her mistress about a prophet in the land of Israel. She was confident that if Naaman would go see 
      the prophet, then he would be healed of his leprosy. Most people know this story. Naaman did go and was healed. However, his healing was life-changing. He became 
      a believer in the God of Israel. He vowed to only serve and worship the one true God. This healing served a purpose. God revealed himself to be the Healer even to 
      a heathen. This “heathen” was described by the scriptures to be “honourable”. God looks on the heart. By healing this man, God knew that he would then give his life 
      to serve Him only, forsaking his former pagan gods. This reminds me of the verse in 2 Chronicles 16:9.
    </p>
    <p><b>  
      “For the eyes of the LORD run to and fro throughout the whole earth, to shew himself strong in the behalf of them whose heart is perfect toward him.”
    </b></p>
    <p>
      This next passage of scripture that I want to consider is found in Jeremiah 8:22. In fact, it is just two verses after what I consider to be one of the 
      most somber and sad words in the Bible: “The harvest is past, the summer is ended, and we are not saved.” Yes, the verse that I will be quoting lends itself 
      to be interpreted in more of a spiritual sense than a literal one.
    </p>
    <p><b>
      “Is there no balm in Gilead; is there no physician there?”
    </b></p>
    <p>
      Jeremiah was known as the “weeping prophet”. This was because his calls for repentance fell on deaf ears. Judah would soon be led away captive for 70 years 
      into Babylon. In this passage, Jeremiah is pleading with his fellow countrymen to return to the prophets and priests (physicians) for their spiritual healing. 
      Although this is probably the correct interpretation, I believe that it also condones the use of medicines and physicians. Gilead was famous for its balm as a 
      healing tincture. Of course, there were physicians there to administer these balms to those that needed them. Was not Luke called the “beloved” physician?
    </p>
    <p>
      I remember many years ago, a Sunday School lesson in the literature was titled, “Good King Asa.” We can read about Asa in 2 Chronicles 14-16. The Bible records 
      that he did that which was good and right. Early in his reign, his heart was tender and he sought the LORD whenever there was a problem, and God was always there 
      to answer the call. But (there always seems to be a “but” with us humans), later in his reign, he forgot to go to God when he had a problem. He didn’t seek God 
      when his enemies came against him. He tried to forge alliances with neighboring countries. God sent a prophet to admonish him for not trusting and relying on God. 
      How did Asa respond to this? He threw the prophet into prison. As a consequence, Asa became inflicted with a disease in his feet which caused him great pain. What 
      did he do? The same thing we would probably do: he went to see a physician. The Bible left this testimony: “yet in his disease he sought not to the LORD, but to 
      the physicians.” Just two years later, king Asa died never having been healed.
    </p>
    <p>
      The reader is probably confused about now. Did I not just say that medicines and physicians were good? Yes, I believe they have their place. By the way, in the 
      previous reference about the “balm”, balm was usually used to enhance the healing process of a wound. The physician had the knowledge to prepare the balm and 
      administer the bindings.
    </p>
    <p>
      There was another king of Judah who “did that which was right.” His name was Hezekiah. The Bible says that he was “sick unto death.” In fact, God sent the prophet 
      Amoz to go tell Hezekiah to set his house in order because he was going to die. Hezekiah wept and reminded the LORD that he had always tried to that which was right. 
      Before the prophet even left the palace, God told him to go back and tell Hezekiah that he would extend his life for another 15 years. Did not God know what Hezekiah’s 
      reaction was going to be? Of course, he did. God responds to man’s response. Many times in the Bible, God uses man’s reactions as a way to not only strengthen one’s 
      faith in him, but also as an example for generations to come. Paul once wrote about what happened to those in the Old Testament saying “now then these things were our 
      examples.” Hopefully, we too can learn from them.
    </p>
    <p>
      The first king of the Northern Kingdom, Israel, was an evil person named Jeroboam. There came a time when his son, Abijah, became sick. By the way, the son’s name 
      means “Jehovah is my Father”. The king told his wife to disguise herself and go to the prophet’s house to enquire whether their son would live or die. God revealed 
      to the prophet the identity of the person who was about to enter his house. The prophet told her that God said that the child would die. The interesting part of this 
      story is the fact that the Bible records the “why” of the child’s death. The scriptures record that the child would die because “in him there is found some good thing 
      toward the LORD God of Israel in the house of Jeroboam.” God looked inside the heart of that young boy and saw goodness. God wanted to spare him of being raised in the 
      home of an evil person. This passage in Isaiah affirms this.
    </p>
    <p><b>
      “The righteous perisheth, and no man layeth it to heart: and merciful men are taken away, none considering that the righteous is taken away from the evil to come.” 
      (Isaiah 57:1)
    </p></b>
    <p>
      These few examples in the Bible that I have chosen (there are many more) have purposely not been presented in any particular order. I did this to illustrate the fact 
      that the topic of healing does not have a simple, clear, and concise answer. It is complex to say the least.
    </p>
    <p>
      Sometimes God uses sickness to execute judgment on the ungodly. Other times, he uses it to bring the righteous home to him. A prime example of this was the death of 
      Elisha. Elisha wanted a double portion of Elijah’s spirit and anointing. God granted him his petition. The Bible records 7 miracles at the hand of Elijah and 14 
      miracles by Elisha. People were healed and even raised from the dead by the hand of Elisha. Yet, the scriptures record that he died from a sickness. 
      Still, other times, God uses sickness or disease to teach a spiritual lesson. The story of Job is a classic example of this. There are many lessons that we can learn 
      from Job’s tragedy and his eventual redemption.
    </p>
    <p><b>
      “Now Elisha was fallen sick of his sickness whereof he died.” (2 Kings13:14)
    </b></p>
    <p>
      Because of sin, the judgment of death, both physical and spiritual, fell upon the human race. There is a term used in medical terminology called senescence. It is 
      the condition or process of deterioration with age. As one gets older, we all suffer from various aspects of this deterioration. For example: poor eyesight or hearing, 
      the graying of our hair, lack of energy or vitality are but a few consequences of age. Remember the story about Jeroboam? The prophet that I did not name was Ahijah. 
      Notice what is revealed about him in 1 Kings 14:4.
    </p>
    <p><b>
      “But Ahijah could not see; for his eyes were set by reason of his age.”
    </b></p>

    <p><b>NEW TESTAMENT</b><p>
    <p>
      After Jesus was tempted in the desert, he left the area of Nazareth and went northward to Galilee. While in Galilee, he began to choose his disciples who then would 
      follow him in his ministry to the people.
    </p>
    <p><b>
      And Jesus went about all Galilee, teaching in their synagogues, and preaching the gospel of the kingdom, and healing all manner of sickness and all manner of disease 
      among the people. And his fame went throughout all Syria: and they brought unto him all sick people that were taken with divers diseases and torments, and those which 
      were possessed with devils, and those which were lunatick, and those that had the palsy; and he healed them. (Matthew 4:23,24)
    </b></p>
    <p>
      As Jesus began to minister and preach in Galilee, it wasn’t long before multitudes began to come and hear him. Word quickly spread that Jesus not only preached about 
      the coming kingdom, but he also healed people. This had not happened since the days of the prophets. There was an air of excitement and expectation among the people 
      as they sat and listened to this new rabbi. They knew and sensed that there was something different about him. Undoubtedly, this gendered within them a certain level 
      of faith. It was a faith of not only their belief in his message, but also, of his authority. Matthew was emphatic about telling of Jesus’ healing power. He purposely 
      named all types of maladies of which Jesus healed.
    </p>
    <p><b>
      “And, behold, there came a leper and worshipped him, saying, Lord, if thou wilt, thou canst make me clean.” And Jesus put forth his hand, and touched him, saying, 
      I will; be thou clean. And immediately his leprosy was cleansed.” (Matthew 8:2,3)
    </b></p>
    <p><b>
      “And there came a leper to him, beseeching him, and kneeling down to him, and saying unto him, If thou wilt, thou canst make me clean. And Jesus, moved with 
      compassion, put forth his hand, and touched him, and saith unto him, I will; be thou clean. And as soon as he had spoken, immediately the leprosy departed from him, 
      and he was cleansed.” (Mark 1:40-42)
    </b></p>
    <p><b>
      “And it came to pass, when he was in a certain city, behold a man full of leprosy: who seeing Jesus fell on his face, and besought him, saying, Lord, if thou wilt, 
      thou canst make me clean. And he put forth his hand, and touched him, saying, I will: be thou clean. And immediately the leprosy departed from him.” (Luke 5:12,13)
    </b></p>
    <p>
      All these passages speaks of the same event. I wanted to show each one, because each reveals a little more of the story. In New Testament times, leprosy was probably 
      the most dreaded of all diseases. Leprosy prevented a person from ever being able to go to the temple or even be close to other people. Lepers were outcasts from s
      ociety. It was forbidden for anyone to dare touch a leper. Undoubtedly, this leper had heard about Jesus and his ability to heal people, even lepers. His condition 
      was well-advanced. The Bible states that he was “full of leprosy.” He didn’t wait for Jesus to come to him, but he went to Jesus and fell upon his face and worshipped 
      him. I see two things working to bring about this miracle: the man’s unwavering faith and Jesus’ compassion. Jesus did not flinch or pull back from this outcast, 
      rather, he reached out and touched him. Jesus did the unspeakable! The man’s healing was immediate. The Bible declares, “as soon as he had spoken.” Notice that the 
      scriptures state that the leprosy departed. My first thought: was this disease caused by a demon? Possibly, we really do not have enough information to be definitive. 
      However, notice the words as recorded in Luke 6:17,18. “...healed of their diseases; and they that were vexed with unclean spirits: and they were healed.”
    </p>
    <p>
      The healing of Peter’s mother-in-law gives us more insight into the relationship of some sicknesses and demonic influence. Notice how it is stated in Luke 5:38,39.
    </p>
    <p><b>
      “And he arose out of the synagogue, and entered into Simon’s house. And Simon’s wife’s mother was taken with a great fever; and they besought him for her. And he 
      stood over her, and rebuked the fever; and it left her: and immediately she arose and ministered unto them.”
    </p></b>
    <p>
      Jesus “rebuked” the fever. The Greek word translated here means censure, admonish, or forbid. The Bible says that the fever “left” her. It had no choice. The Master 
      had spoken. Again, the healing was immediate.
    </p>
    <p>
      Everyone is familiar with the healing of the centurion’s servant. Although Jesus was willing to go to the home of this gentile, which would have been another 
      societal faux pas, the centurion would not allow it. He said that he was unworthy for Jesus to do this act. Instead, he asked that Jesus speak the word only, and his 
      servant would be healed. Jesus was amazed at this man’s faith. By the way, all these conversations were done by a third party. The centurion felt unworthy to even 
      come before the presence of Jesus. Here, again, we see that it was faith that accomplished this healing. (Matt.8:5-10)
    </p>
    <p><b>
      “When the even was come, they brought unto him many that were possessed with devils: and he cast out the spirits with his word, and healed all that were sick. 
      That it might be fulfilled which was spoken by Esaias the prophet, saying, Himself took our infirmities, and bare our sicknesses.” (Matthew 8:16,17)
    </b></p>
    <p><b>  
      “Surely he hath borne our griefs, and carried our sorrows: yet we did esteem him stricken, smitten of God, and afflicted.” (Isaiah 53:4)
    </b></p>
    <p>  
      Here, Matthew is quoting a famous prophecy from the book of Isaiah. But, Matthew stops short in his quote. He does not quote the rest of that verse in Isaiah. 
      The rest of that passage of chapter 53 in Isaiah speaks of Jesus’ trial and crucifixion. This is a critical point. Many people use Isaiah 53 to prove that physical
       healing is in the atonement, not just healing of one’s sins. The demonic spirits, the diseases, and the sicknesses were all loads that people carried with them. 
       People tended to avoid these types as much as possible, but not Jesus. He stopped, lifted and carried those burdens away. This was before the first stripe that 
       Jesus would one day endure. It was before that blood was shed while Jesus hung on the cross. In doing these acts, Jesus was teaching us the nature of the law of 
       Christ. Notice these verses in the writings of Paul.
    </p>
    <p><b>
      “We then that are strong ought to bare the infirmities of the weak, and not to please ourselves.” (Romans 15:1)<br/>
      “Bear ye one another’s burdens, and so fulfil the law of Christ.” (Galatians 6:2)
    </p></b>
    <p>
      No, healing is not in the atonement. The forgiveness of our sins does not require a great act of faith on our part. The thief on the cross found this out. All he 
      said was “Lord, remember me when thou comest into thy kingdom.” Jesus answered, “Today shalt thou be with me in paradise.” It is the same for us today. It just takes 
      a simple act of obedience, that is, repentance and calling on Jesus to save us. If healing and the atonement for our sins were the same, then everyone who called 
      on Jesus would be healed. Jesus has never turned his back on a sinner asking for forgiveness. No, healing is an act of grace and mercy from God. 
      Healing requires faith.
    </p>
    <p>
      In Matthew 17, we read of a story about a father who had brought his son to the disciples to be healed and delivered of a demon, but they were unable to cast the 
      dumb spirit out of the boy. As a parent who loved his son, the father would not be stopped until he found the help that was needed. He came to Jesus and told him 
      how his disciples had failed. Jesus scolded them for their lack of faith. Jesus simply turned to the boy and commanded the demon to leave. The boy was immediately 
      healed and delivered. The disciples asked Jesus why they could not cast the demon out. Too many times people focus on this statement by Jesus: “Howbeit this kind 
      goeth not out but by prayer and fasting.” They seem to think this was an especially strong type of demon that required prayer and fasting to be cast out. But that 
      is not what Jesus meant when he said “this kind”. It becomes more obvious when we look at the verse before this one.
    </p>
    <p><b>
      “...Because of your unbelief: for verily I say unto you, If ye have faith as a grain of mustard seed, ye shall say unto this mountain, Remove hence to yonder place; 
      and it shall remove; and nothing shall be impossible unto you.”
    </b></p>
    <p>
      Context is everything. The context here explains the disciples inability to help this boy who was being tormented by this demon. It was because of their lack of faith. 
      Jesus told them how to increase their faith: prayer and fasting. That is why we are so weak today. We lack that regime of spending time with God.
    </p>
    <p>
      In Acts 3, we find that Peter and John had learned that lesson well. As they were approaching the temple to pray, they saw a lame man asking alms. The man had been 
      lame since birth and never was able to walk. Peter and John stopped and fixed their eyes upon him. The man thought they were about to give him money, but that never 
      happened. Instead, Peter said this:
    </p>
    <p><b>
      “Silver and gold have I none; but such as I have give I thee: In the name of Jesus Christ of Nazareth rise up and walk.”
    </b></p>
    <p>
      Immediately, the man received strength in those withered legs and began to leap and walk and praise God. Peter explained to the people how and why this man was healed. 
      It was through faith in the name of Jesus. As we read through the book of Acts, we find that miracles and healings continued.
      In Acts 5, we find that people had so much faith in the teachings of the apostles that they lined the streets with sick folk believing that even the shadow of Peter 
      walking by would heal them. The Bible declares “they were healed every one.” Later, we find the apostle Paul performing miracles and healings. There was a crippled man 
      in Lystra who had never been able to walk, but he had heard Paul preach, and something stirred within his heart. Paul looked at him and commanded that he stand up.
      The man began to leap and walk. Notice what precipitated this miracle. The scriptures record that Paul perceived that “he had faith to be healed.”
    </p>
    <p>
      Was this ability to heal granted to just the apostles? No, we see that in Acts 6 that the apostles commissioned seven men to be in charge of seeing to the needs of 
      the widows of the church. Two of these, Stephen and Philip, did this task and much more. They were embolden to preach and share the gospel. The Bible records that 
      miracles, signs and wonders were done by them. The scriptures gives us their secret. They were full of faith.
    </p>
    <p><b>
      “Verily, verily, I say unto you, He that believeth on me, the works that I do shall he do also; and greater works than these shall he do; because I go unto 
      my Father.” (John 14:12)
    </p></b>
    <p>
      Notice carefully what Jesus says in this verse about the works, that is, the miracles which he did. He said that “he that believeth on me” would do even greater 
      works than what he did during his ministry. Were these works or miracles restricted only to the disciples and the early church? I do not see any qualifiers or 
      limitations in his words “he that believeth on me.” There are no time restraints in that statement either.
    </p>
    <p><b>
      “And God wrought special miracles by the hands of Paul: So that from his body were brought unto the sick handkerchiefs or aprons, and the diseases departed from them,
       and the evil spirits went out of them.” (Acts 19:11,12)
    </b></p>
    <p>
      Remember the woman that was healed by just touching the hem of Jesus’ garment? Well, here, pieces of Paul’s clothing was taken to the sick and diseased, and God healed
       them. Even demonic spirits had to flee. The Bible does not state who initiated this sending of pieces of garment, but I don’t suspect that it was Paul himself. But 
       the people who received them no doubt were told of their origin, and they had faith that God would meet their need. By the way, no offering from the recipients of 
       these garment fragments was ever requested.
    </p>
    <p>
      The letter to the Philippians was probably written when Paul was under house arrest in Rome for two years. It was during this time that the church in Philippi sent
       Epaphroditus with things that Paul might need. He traveled approximately 800 miles over land and sea. This arduous journey was made expeditiously by Epaphroditus. 
       Undoubtedly, he did not rest and take care of himself as he should. By the time he reached Rome, he was totally exhausted and weak. In this weakened condition, 
       he became deathly ill. No doubt Paul prayed for him. From reading the passage, it appears that this sickness might have lasted a while. Paul thankfully 
       writes: “but God had mercy on him; and not on him only, but on me also, lest I should have sorrow upon sorrow.” One could rightfully draw several conclusions from 
       this story. The first one that comes to my mind is the fact that sickness may come to us from our on doing. If we neglect to eat properly or rest, then our bodies 
       become weak and not able to fight off disease-causing microbes. On TV, we see these programs of people who are totally obese, not just a little overweight. 
       I’ve seen some that were from 600 to 1000 pounds. If they should die from heart failure, would that be God’s fault? The other thing I noticed was the fact it 
       was only through God’s mercy that Epaphroditus was spared. God only knows the many times we have been spared death by his mercy in watching over us.
    </p>
    <p>
      Earlier, I had quoted and discussed Isaiah 53:4. In 1st Peter 2:25, Isaiah is again quoted. Those that believe in atonement healing quote this passage in Peter as
       support.
    </p>
    <p><b>
      “Who his own self bare our sins in his own body on the tree, that we, being dead to sins, should live unto righteousness: by whose stripes ye were healed.”
    </b></p>
    <p>
      In this verse, Peter quotes Isaiah 53:5 which unequivocally references Jesus’ crucifixion. His blood was shed for our sins.
      The word “healed” could either refer to physical or spiritual healing. It means to cure, make strong, or repair. The context determines in what sense it is used, 
      whether physical or spiritual. Not only does the verse itself define it to mean spiritual healing (sins), but even the fuller context of the previous verses and 
      subsequent verse establish this interpretation.
    </p>
    <p><b>
      “Is any sick among you? Let him call for the elders of the church; and let them pray over him, anointing him with oil in the name of the Lord: And the prayer of 
      faith shall save the sick, and the Lord shall raise him up; and if he have committed sins, they shall be forgiven him. Confess your faults one to another, and pray 
      one for another, that ye may be healed. The effectual fervent prayer of a righteous man availeth much.” (James 5:14-16)
    </b></p>
    <p>
      James was Jesus’ half brother, and the apparent head of the early church according to Acts 15. Here, he gives instructions to the church. It is the prayer of faith 
      that accomplishes the healing. Interestingly, sins is here interconnected to the sickness. There seems to be a connection to some sicknesses and sin. Remember the 
      passage in Mark 2:1-11 where the man sick of the palsy was let down through the roof? Jesus first forgave the man and then healed him. I do not believe that every 
      sickness is the result of sin, but I believe that some are. When James wrote, “if he had committed sins”, I believe that one could interpret that to mean, if the 
      sickness is the result of sin, then they will be forgiven. The expectation was that the person would be healed, period. The words are emphatic, “the Lord shall 
      raise him up”.
    </p>
    <p>
      There is one final thought that I need to discuss. Oftentimes, in churches today, I have heard the prayers for the sick end with this phrase: if the Lord wills. 
      Search as I may, I have never found documentation in scripture for this type of prayer. What I have found in the very few passages where the phrase is used, is the 
      fact that it relates to the future. The Bible repeatedly stresses the fact that God, alone, controls the future. This is the context in which the phrase “if the Lord 
      will” is used without exception.
    </p>
    <p><b>  
      “But bade them farewell, saying, I must by all means keep this feast that cometh in Jerusalem: but I will return again unto you, if God will.” (Acts 18:21)<br/>
      “Making request, if by any means now at length I might have a prosperous journey by the will of God to come unto you.” (Romans 1:10) <br/>
      “But I will come to you shortly, if the Lord will, and will know, not the speech of them which are puffed up, but the power.” (1st Corinthians 4:19)<br/>
      “Go to now, ye that say, Today or tomorrow we will go into such a city, and continue there a year, and buy and sell, and get gain. Whereas ye know not what shall 
      be on the morrow. For what is your life? It is even a vapour, that appeareth for a little time, and then vanisheth away. For that ye ought to say, If the Lord will, 
      we shall live, and do this, or that.” (James 4:13-15)
    </b></p>
    <p>
      In this study, I could have used many more examples of healing, both in the Old Testament and in the New Testament. Hopefully, I used enough to bring out certain 
      truths. It was discovered that God desired to keep his people free from diseases, but this was predicated upon their obedience. He wanted them to trust him in all 
      things, including healing. Another truth that was gleaned was that sickness was sometimes due to one’s sins. On the other hand, God sometimes used sickness or
      disease as a vehicle to bring his children home to him. We find, too, that sickness or disease was a natural product of the curse of sin as recorded in Genesis.
      Sin brought about death, both physical and spiritual. The physical death would normally be a slow progression as we aged. In the New Testament, we find that Jesus 
      healed people because he had compassion on them. Interesting is the fact that Jesus healed those that came to him. He didn’t necessarily seek them out. In that
      first century, many lepers lived in certain districts apart from the general population. Jesus could have gone there and healed all the lepers, but he didn’t. 
      At the pool of Bethesda, there were a multitude of sick folk, Jesus could have healed them all, but he didn’t. I say this because it has been said by many that,
      if a person had the faith to heal people, then he would go into the hospitals and empty them out. Jesus didn’t.
    </p>
    <p>
      So, how are we supposed to approach this topic of healing? How are we to pray for those that are sick? Since Jesus stressed faith so much in his teachings, 
      I believe that we should pray with the expectation that God would heal. In fact, I believe healing should be the rule and not the exception. God never changes. 
      If he was “moved with compassion” on the sick in his earthly ministry, then Jesus is still compassionate to those who are suffering from sickness and disease today.
    </p>
    <p>
      One wonders why we don’t see more people healed today. The answer is simple, we lack faith. We are not taught to exercise our faith. We are all guilty of this. 
      If you have a headache or even a fever, you may pray and ask God to heal you. But, in the back of your mind, you know that you will probably just take a couple of 
      Tylenol. I have read many stories where miracles and healings have taken place on the missionary fields, especially in the 1900s. Those people then did not have a 
      doctor or a pharmacy within just a mile or two from their house. When they heard about Jesus healing all that came to him, then they believed he would still do it 
      for them. It was their faith that God’s word was true that brought about miracles in their villages.
    </p>
    <p>
      How long would we be willing to suffer while we waited for God to heal? We need to accept and believe the words of Jesus when he said, “he that believeth on me” 
      would do greater works. Healing is based on faith in the words that Jesus said. We need to stand on his word. In the world of comfort and ease in which we live 
      today, practicing and exercising this faith in God’s word about healing will be challenging, to say the least. We need to learn how to pray the “prayer of faith”, 
      so we can see our friends and loved ones free from their burden of sickness and disease.
    </p>  
  </div>
</div>