<div class="post">
  <h1>The Author of Hebrews</h1>
  <p>
    The book of Hebrews has language that seems to be very “Pauline.”  Because of this, I once believed that the apostle
    Paul must have been the author of this important New Testament document.  I’ve since changed my opinion on this based on the following verses:
  </p>
  <p><b>
    “How shall we escape, if we neglect so great salvation; which at the first began to be spoken by the Lord, and was confirmed
    unto us by them that heard him.  God also bearing them witness, both with signs and wonders, and with divers miracles, and
    gifts of the Holy Ghost, according to his own will?” </b> (Hebrews 2:3,4)
  </p>
  <p>
    According to these verses, the author states very plainly that he (us) received the gospel from the disciples (them)
    who actually heard Jesus teach.  Obviously, the author could not possibly be Paul since he received the gospel by
    revelation directly from Jesus.  The Bible records that Paul did not go immediately to Jerusalem to confer with the disciples.
    Rather, he went to a desolate place where he undoubtedly received further revelation and insight into the gospel message.
    Who, then, is the author of Hebrews?  Without a doubt, he must have been someone who was well-versed  in the Hebrew scriptures.
    Also, he must have been someone who was highly esteemed by the early church.  Lastly, he was someone who had not directly
    heard the teachings of Jesus firsthand.  In other words, he could not have been one of the apostles or even Paul himself.
    I believe the following passages of scripture will reveal the identity of the author of this remarkable book.
    “And a certain Jew named Apollos, born at Alexandria, an eloquent man, and mighty in the scriptures, came to Ephesus.
    For he mightily convinced the Jews, and that publicly, shewing by the scriptures that Jesus was Christ.
    [Very much as what the author of Hebrews did] (Acts 18:24,28)
  </p>
  <p><b>
    “For while one saith, I am of Paul; and another, I am of Apollos; are ye not carnal?  Who then is Paul, and who is
    Apollos, but ministers by whom ye believed, even as the Lord gave to every man? I have planted, Apollos watered; but God gave the increase.
    Whether Paul, or Apollos, or Cephas, or the world, or life, or death, or things present, or things to come; all are yours;” </b> (1 Cor. 3:4-6,22)
  </p>
  <p>
    In Corinthians, Paul places Apollos in the same category as himself and Peter.  Since Apollos was just a recipient
    of the gospel message as the thousands of others who heard the teachings of the apostles, he, no doubt, felt unworthy
    to mention his name as the author of Hebrews having never seen nor heard Jesus teach.  After reading just these few verses,
    doesn’t it seem logical that the writer to the Hebrews is none other but Apollos?
  </p>
</div>