<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>In Search of God</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <p>
        <b>IN SEARCH OF GOD</b>
      </p>
      <p>
        William Mitchell Ramsay was born in Glasgow, Scotland into a third generation of lawyers in 1851. He was raised
        as an atheist. In fact, he had an insatiable desire to prove the Bible wrong. Although he received his doctorate
        in the humanities, his interest led him into the field of archaeology. Therefore, in order to pursue his goal of
        exposing the historical fallacies of the New Testament, he travelled to Greece and Asia Minor. Specifically, his
        focus was to disprove the history, culture and geography as that which was detailed in the book of Acts. This
        obsession became his life's endeavor and legacy.
      </p>
      <p>
        As a result of his years in the field of archaeology, he published many works pursuant to this field. The
        following are just a few: "The Letters to the Seven Churches of Asia"; "The Cities of Paul"; "Lucan and Pauline
        Studies"; "Pauline and other Studies in Early Christian History"; "Saint Paul, the Traveler and the Roman
        Citizen". William Ramsay was knighted in 1906 for his cumulative and exhaustive endeavors in the field of
        archaeology.
      </p>
      <p>
        Since he was honest and forthright in his beliefs that the Bible was fraudulent and because he was basically a
        person of high integrity, as a wise man, he accepted the conclusions that resulted from all his archaeological
        digs. The reader might ask at this time, "what were his conclusions?" I will let him answer for himself: "Luke
        is a historian of the first rank; not merely are his statements of fact trustworthy...this author should be
        placed along with the very greatest historians." Finally, he came face to face with reality: the Bible was
        completely true and accurate and that there is a God. Ramsay shook the contemporary intelluctual world of his
        day by declaring that he had converted to Christianity.
      </p>
      <p>
        Sir William Ramsay's story is really the story of many, many thousands that were before him and those after him.
        It is the story of man's honest quest in search of the Truth.
      </p>
      <p>
        <b>IN SEARCH OF GOD</b>
      </p>
      <p>
        In November of 1898, Clive Staples Lewis was born in Belfast, Ireland. His father was a solicitor (lawyer) and
        his mother was the daughter of a Church of Ireland priest. For his age, C. S. Lewis had an unusual love and
        fascination in reading books. His mother died when he was just nine years of age. Between the ages of ten and
        fifteen, Lewis abandoned his childhood Christian faith and became a devout atheist. He became interested in
        mythology and the occult. In particular, he became fascinated in Norse mythology. During his teenage years, he
        suffered from respiratory problems. As a result, he was transferred to another school and town. He found himself
        to be very unhappy. It is in one of his letters, that Lewis cited that "his experience of the horror of war,
        along with the loss of his mother and his unhappiness in school, were the bases of his pessimism and theism."
        Although Lewis had a brilliant mind, he fell into the same illogical trap that so many before and after him have
        experienced. He looked at the world around him with all of its sorrow and grief and blamed God as being the
        cause. He failed to see the real culprit.......Satan. He wrote:
      </p>
      <p> "Had God designed the world, it would not be A world so frail and faulty as we see. " </p>
      <p>
        Fortunately, C. S. Lewis met an Oxford colleague who made a tremendous impact upon his life. This man was J R R
        Tokien, a devout Christian. In their conversations about religion, Lewis vigorously resisted the common sense
        and rational approach presented to him by Tolkien. His conversion was in steps. First, he came to acknowledge
        that there must be a Supreme Being, God. Later, he came to have a personal relationship with Him. He became
        convinced that Jesus was a historical figure who came to earth to die for every man's sins.
        These were the words that he wanted the world to remember him by and which were engraved upon his tombsone:
      </p>
      <p>
        "I believe in Christianity as I believe that the Sun has risen, not only because I see it, but because by it I
        see everything else."
      </p>
      <p>C. S. Lewis passed from this life to a more glorious life on November 22, 1963.</p>
      <p>
        <b>IN SEARCH OF GOD</b>
      </p>
      <p>
        A Tale of Two Brothers.
        Christopher Hitchens was born on April 13, 1949. His younger brother, Peter Hitchens, was born about 2 1/2 years
        later. For much of their lives, they traveled similar paths, yet they were never close. There always seemed to
        be a sibling rivalry between them.
      </p>
      <p>
        Christopher was a prolific author, orator, and journalist. He is probably best known as one of the world's most
        famous atheists. One of his most controversial books was "God Is Not Great." In fact, Christopher Hitchens,
        along with Sam Harris, Daniel Dennett, and Richard Dawkins had the ignominious honor of being called the "four
        horsemen of the New Atheism."
      </p>
      <p>
        One event in the lives of both brothers that had a tremendous impact upon them was the suicide of their mother
        in 1973. She committed suicide in Athens in a pact with her lover, a defrocked clergyman named Timothy Bryan.
        As it is with so many atheists, Christopher seemed to make it his life's purpose to disprove the very existence
        of God. Isn't it ironical how they try to disprove something they vehemently deny even exists?
      </p>
      <p>
        Even after he was diagnosed with esophogeal cancer, Christopher doubled down on his belief in atheism. He
        commented: "If anything, my contempt for the false consolation of religion has increased since I became aware
        that I probably don't have very long to live." In fact, he became annoyed that some hoped that he would have a
        last-minute conversion to Christianity. He died on December 15, 2011 without God and without hope.
      </p>
      <p>
        Peter Hitchens was also a very outspoken atheist like his brother. Peter began his rebellion at the early age of
        15. It was then that he ceremoniously rebelled against society and his parents. He burned his Bible that was a
        gift from his parents. After this, he intentionally began doing everything that he knew to be morally wrong.
        In the natural course of rebellion, he became a Marxist. However, after spending some time in Soviet Russia as a
        journalist, his eyes were opened to the fallacy of that political ideology.
      </p>
      <p>
        Amazingly, the point of his conversion was not a sermon, or a testimony, or theological discussion, rather it
        was because of him intently studying a painting named the "Last Judgment." This painting had a profound impact
        upon Peter. It portrayed men trying to flee the flames of hell. To Peter, it brought the realization that his
        life was a testament to the truth as depicted in the portrait before him, that is, his misdeeds required
        justice. With that knowledge, he came to realize that he needed a Savior. Unlike his brother's book, Peter told
        a different story: "The Rage Against God: How Atheism Led Me to Faith."
      </p>
      <p>
        This is the story of two brothers: one came to a tragic end, while the other came to find the real purpose of
        life itself. This choice is available to all. Please choose wisely.
      </p>
      <p>
        <b>IN SEARCH OF GOD</b>
      </p>
      <p>
        Sarah Irving-Stonebraker was just a typical young lady of her generation. She was born and brought up in a
        secular household in Australia. Religion or religious thoughts were not even an issue with her. She embraced
        what is known as secular humanism. In accordance with her humanism, she rejected the idea that God was needed to
        be able to sustain value and meaning in life. If fact, she regarded Christians as anti-intellectual and
        self-righteous. Sarah pursued her academics in working toward her Ph.D in History at Cambridge. This environment
        fit right in with her worldview. After obtaining her Ph.D in 2007, she was well on her way to achieving academic
        celebrity status. She authored an award-winning book on the history of Britain's colonial empire in 2008.
        I'd like to make a few more comments on secular humanism before continuing with Sarah's story. As previously
        stated, humanism prides itself on its emphasis on intellectualism. Reason, evidence, the scientific method, and
        the search for truth are all tenets of humanism. Humanism is compatible with atheism, agnosticism, and
        evolutionism. As one humanist stated: "modern, organized humanism began, in the minds of its founders, as
        nothing more or less than a religion without a God."
      </p>
      <p>
        There was a guest lecturer at Oxford that became a turning point for Sarah. The lecturer was none other than
        Peter Singer, the famous Australian ethical philosopher and outspoken atheist. Sarah attended three of his
        lectures there at Oxford. Of course, Singer believes that humans are no better than any other animals. This
        assertion is based on the theory of evolution. This brash and revolting idea made Sarah Irving-Stonebraker
        uneasy. Sarah found herself in the theology section of the library. She was seeking for answers to her dilemma.
        She began reading sermons by the philosopher and theologian Paul Tillich. She was amazed at "how intellectually
        compelling, complex, and profound the gospel was."
      </p>
      <p>
        Several months later, Sarah was invited to a dinner for the International Society for the Study of Science and
        Religion. She serendipitously sat next to a Christian and scientist by the name of Andrew Briggs. He was a
        professor of nanomaterials at the University of Oxford. Professor Briggs caught her offguard by asking if she
        believed in God. As she fumbled for an answer, he challenged her to pursue the question herself instead of just
        avoiding the issue. Just before her 28th birthday, Sarah visited a church for the first time in her life. She
        later admitted that she felt "overwhelmed."
      </p>
      <p>
        Later, a friend of hers gave her a book by C.S. Lewis, "Mere Christianity." She found his ideas and arguments
        impressive. After months of attending church, she went into her closet and knelt down and asked Jesus to save
        her, and to become Lord of her life. In his mercy and grace, he did just that. Her life was now transformed. It
        had new meaning and hope.
      </p>
      <p>
        Sarah Irving Stonebraker leaves us with this testimony:
        "Christianity was also, to my surprise, radical--far more radical than the leftist ideologies with which I had
        previously been enamored. The love of God was unlike anything which I expected, or of which I could make sense.
        In becoming fully human in Jesus, God behaved decidedly unlike a god. Why deign to walk through death's dark
        valley, or hold the weeping limbs of lepers, if you are God? Why submit to humiliation and death on a cross, in
        order to save those who hate you? God suffered punishment in our place because of a radical love. This
        sacrificial love is utterly opposed to the individualism, consumerism, exploitation, and objectification, of our
        culture."
      </p>
    </div>
  </div>
</div>