<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Indian Tales</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <p>
        I’m reading an interesting book, “American Indian Myths and Legends”. This is the third book I’ve read on early
        Indian culture. There are some interesting parallels between the various tribes’ legends about origins and
        Genesis
        1:1-2.
      </p>
      <p>
        “In the beginning God created the heaven and the earth.
        And the earth was without form, and void; and darkness was upon the face of the deep. And the Spirit if God
        moved
        upon the face of the waters.”
      </p>
      <p>
      <ul>
        <li>APACHE - “In the beginning the earth was covered with water...”</li>
        <li>YUMA - “This is how it all began. There was only water—there was no sky, there was no land, only
          nothingness.”
        </li>
        <li> CROW - “How water came to be, nobody knows. There is only water and nothing else.”</li>
        <li>CHEROKEE - “Well, in the beginning also, water covered everything.”</li>
        <li>CHEYENNE - “In the beginning the Great Medicine created the earth, and the waters upon the earth.”</li>
        <li>HOPI - “A very long time ago, there was nothing but water on the earth.”</li>
        <li>YAKUMA - “In the beginning of the world, all was water.”</li>
        <li>OSAGE - “The earth was covered with water.”</li>
      </ul>
      </p>
      <p>
        Also, in these stories, they recount how light came to be. They speak of a worldwide flood when the earth was
        still relatively young. Some even tell how the many languages came into being. All these stories are revealing
        because they reflect the essentials of the early chapters of Genesis long before the American Indians
        encountered
        Christianity.
      </p>
      <p>
        <b>MORE INDIAN TALES:</b>
      </p>
      <p>
        Genesis 1:29,30.
        “And God said: Behold, I have given you every herb bearing seed.....to you it shall be for meat.
        And to every beast of the earth.....every green herb for meat.”
      </p>
      <p>
        CHEYENNE -
        When the Great Mystery created the earth and all living things upon it, the people and the animals lived in
        peace.
        None, neither people nor animals, ate flesh.
      </p>
      <p>
        Genesis 6-10.
        “And it came to pass, when men began to multiply on the face of the earth....
        And God said unto Noah, The end of all flesh is come before me....behold, I will destroy them with the earth....
        And, behold, I do bring a flood of waters upon the earth...
        And Cush begat Nimrod: he began to be a mighty one in the earth”. [Nimrod means “LET US REBEL]
      </p>
      <p>
        PAPAGO INDIANS -
        Before he made man, the Great Mystery Power made the earth and all things which lived upon it. The Great Mystery
        came down to earth, where he dug out some clay and made the Great Montezuma. The wise Montezuma taught the
        people
        all they needed to know....It was a happy time. The sun was much nearer the earth then. There was no winter and
        no
        freezing cold. Men and animals lived as brothers, speaking a common language all could understand. Man could
        talk
        to the animals.
        But then came the Great flood.
        The Great Mystery was busy peopling the earth with men and animals. He put Montezuma in charge of everything.
        But
        the power went to his head. “We don’t need a Creator, I am a Creator myself....Now, you people shall build me a
        tall house, floor upon floor, a house rising into the sky....I am the GREAT REBEL. I shall turn this world to my
        own liking.” Then good changed to evil. Men began to hunt and kill animals.
      </p>
      <p>
        <b>MORE INDIAN TALES:</b>
      <p>
        In Genesis 6:4, the Bible states, "There were giants in the earth in those days. In Job 40 and 41, God describes
        two animals to Job: the BEHEMOTH and the LEVIATHAN. In reading the descriptions, God is obviously describing
        what
        we call dinosaurs. Interesting, too, is the fact that God states: "which I made with thee." In other words, they
        were created on the 6th day of creation as was mankind.
      </p>
      <p>
        From the Field Museum: Anthropological Series on the Cheyenne, we find the following account:
      </p>
      <p>
        "Many thousands of years ago the Cheyenne inhabited a country in the far north, across a great body of
        water....In
        the new country they found plenty of game to live on. Out of these Cheyenne, there sprang up men and women who
        were large, tall, strong, and fierce, and they increased in number until they numbered in the thousands. They
        were
        so strong that they could pick up and carry off on their backs the large animals that they killed. They tamed
        panther and bear and trained them to catch wild game for them to eat.
        In those days, there were very large animals. One variety of these animals was of the form of a cow, though four
        times as large; by nature, they were tame and grazed along the river banks...Boys and men to the number of
        twenty
        could get upon their backs without disturbing them. Another variety of these large animals had horns and long,
        sharp teeth. This was the most dangerous animal in the country. It ate man. It could trail a human being through
        the rivers and tall grasses by means of its power of scent. Of these there were but few. In the rivers there
        were
        long snakes whose bodies were so large that a man could not jump over them."
      </p>
    </div>
  </div>
</div>