<div class="post">
  <h1>The Treasures of Job</h1>
  <p>
    To me, the book of Job is one of the most interesting books in the Bible. What makes it so particularly interesting is
    the historical time period in which the events are recorded. Job was probably born some 200 years after the flood (I
    personally believe he was the sixth generation from this cataclysm), and the events described in the book occurred
    when Job was about a 100 years old. In the very first verse, it states that Job lived in the land of Uz. In Genesis
    10:23, we discover that Uz was the grandson of Shem. This was the third generation after the flood inclusive of Shem.
    Again, the Bible stops its side-branched genealogy with Uz in order that we may connect the dots with the story as
    found in the book of Job. From this same chapter, we know that the dispersion at Babel happened in the fifth
    generation. Undoubtedly, Uz left the area of Babel and settled in a new geographical area which would later be named
    after him. It stands to reason that Job descended from the lineage of Uz. In verse 3, the scriptures tell us that Job
    was “the greatest of all the men of the east”. It appears that he was not only esteemed by those who knew him because
    of his wealth, but also because of his piety.
  </p>
  <p>
    The title I have chosen reflects the fact that the book of Job contains many nuggets. A nugget is usually referring to
    a chunk of gold or some other precious metal, but it may also denote a valuable fact or idea. There are many nuggets
    of truth contained in this most revealing book. We will only consider five of these valuable gems.
  </p>
  <p>
    Creation. I suppose it appropriate that we begin with what the book of Job teaches us about the creation week.
  </p>
  <p><b>
    “Which alone spreadeth out the heavens, and treadeth upon the waves of the sea.
    Which maketh Arcturus, Orion, and Pleiades, and the chambers of the south.” (Job 9:8,9) </b>
  </p>
  <p>
    I believe God shared with Adam the accounts of that first creative week. As a result, Adam passed this knowledge down
    to his descendants. Noah had this knowledge, and he carried it with him to share with those living after the great
    flood. The word “spreadeth” means to stretch, spread out, or bend. After creating the universe, God immediately began
    to expand the limits or realms of his creation. This may be one facet to help us understand how we can behold stars
    which are now billions of light years away. The Bible states that God knows the number and the names of the stars.
    Undoubtedly, God told Adam the names of the visible constellations which he beheld in the night sky. In the first
    chapter of Genesis, it declares that God began his creation with a big sphere of water. This verse in Job describes
    how God walked upon the “waves” (Hebrew: heights or elevation) of the sea. Compare this with Genesis 1:2, “And the
    Spirit of God moved upon the face of the waters”.
  </p>
  <p><b>
    “But ask now the beasts, and they shall teach thee; and the fowls of the air, and they shall tell thee:
    Or speak to the earth, and it shall teach thee: and the fishes of the sea shall declare unto thee.
    Who knoweth not in all these that the hand of the LORD hath wrought this?
    In whose hand is the soul of every living thing, and the breath of all mankind.” </b>
    (Job 12:7-10)
  </p>
  <p>
    In this discourse of Job, he responds to his friend, Zophar, how that everyone (verse 3) has this knowledge about God
    being the Creator. So, even in the sixth generation after the flood, mankind was still well-versed in the creation
    account. So now, we find that astronomy, biology, and geology declare by their very existence the majesty of the
    creative power of God. The psalmist and prophet, David, reaffirmed this fact in Psalms 19:1, “The heavens declare the
    glory of God; and the firmament sheweth his handywork”. Because of this, Paul states that mankind is “without excuse”
    in Rom.1:20. Sadly, modern-day “science” fails to recognize God as the Creator, instead they believe that time and
    chance brought about the marvels of creation.
  </p>
  <p><b>
    “He stretcheth out the north over the empty place, and hangeth the earth upon nothing.”</b> (Job 26:7)
  </p>
  <p>
    This brief verse contains a wealth of scientific knowledge. Long before the Babylonian, the Medo-Persian, the Grecian,
    and the Roman empires, man had knowledge of the mysteries of the universe. Yes, ancient man knew that the earth was
    supported by nothing. Polaris, the Pole star, was situated near the “empty place”. However, it wasn’t until 1981 that
    the Bootes Void, otherwise known as the Great Void or Super Void, was discovered. This region in space is a vast empty
    place. It’s diameter has been estimated to be about 250 million light years. For comparison, our Milky Way galaxy is
    approximately 100,000 light years in diameter.
  </p>
  <p><b>
    “Behold now behemoth, which I made with thee; he eateth grass as an ox.
    He moveth his tail like a cedar...” </b>(Job 40:15,17)
  </p>
  <p><b>
    “Canst thou draw out leviathan with an hook...his teeth are terrible round about.
    His scales are his pride...By his neesings a light doth shine...Out of his mouth go
    burning lamps, and sparks of fire leap out...Out of his nostrils goeth smoke..His
    breath kindleth coals, and a flame goeth out of his mouth...He esteemeth iron as
    straw, and brass as rotten wood...He maketh the deep to boil like a pot...” </b>
    (Job 41:1-27)
  </p>
  <p>
    These two majestic creatures were cited by God to demonstrate the awesomeness of his creative power. Notice, they were
    created on the same day that God made Adam. The Bible boldly states that man and dinosaurs were contemporaries. Many
    commentaries or reference Bibles maintain that these are the hippopotamus and crocodile, respectively. However, if a
    person is honest with themselves, they will recognize that the description recorded in Job does not fit neither
    animal. The puny tail of the hippo could hardly be described to resemble a cedar tree. Also, the crocodile fails
    miserably to coincide with the attributes of the leviathan. In fact, no living animal fits the narrative as found in
    chapters 40 and 41. Both, however, could well be recognized as some sort of dinosaurian. This assertion is quite
    upsetting to the evolutionist.
  </p>
  <p>
    There are many Christians who believe that God used evolution as the “vehicle” to bring about his creation. Even in
    the sixth generation of Job’s era, it was common knowledge that God created man. Zophar, in rebuking Job, stated that
    “knowest thou not this of old, since man was placed upon earth.” (Job 20:4) No, mankind did not evolve from a lower
    form of animal life. God created man in his own image from the dust of the ground.
  </p>
  <p>
    The Antediluvian World. The word antediluvian simply means before the flood. Besides the meager facts that we might
    glean from those first few chapters of Genesis, the Bible is pretty much silent with regard to the conditions of the
    world before and after the destructive force of sin. We have no one that we can go to answer the questions that we
    might have concerning this era before that universal flood of God’s judgment, but this is not the case with Job.
  <p><b>
    “For enquire, I pray thee, of the former age, and prepare thyself to the search of
    their fathers:
    For we are but of yesterday, and know nothing, because our days upon earth are a shadow.
    Shall not they teach thee, and tell thee, and utter words out of their heart?” </b>
    (Job 8:8-10)
  </p>
  <p><b>
    “With the ancient is wisdom; and in length of days understanding.” (Job 12:12) </b>
  </p>
  <p><b>
    “With us are both the grayheaded and very aged men, much elder than thy
    father.” (Job 15:10) </b>
  </p>
  <p><b>
    “I will shew thee, hear me; and that which I have seen I will declare;
    Which wise men have told from their fathers, and have not hid it:
    Unto whom alone the earth was given, and no stranger passed among them.”
    (Job 15:17-19) </b>
  </p>
  <p>
    There are several things we can learn from these passages. Obviously, those who have lived a long time have acquired
    wisdom and knowledge. Remember, I said that Job was about a hundred years old at the time of his troubles. Job’s
    father was still living at this time, yet he was deemed young as compared to others. In the last chapter of Job, it
    states that Job lived another four generations. This would place him at the tenth generation after the flood. The
    tenth generation is the generation in which Abraham is introduced to us in the scriptures. God always has a witness
    for each generation. Before one light goes out, God has another one ready.
  </p>
  <p>
    Well, who exactly were these ancient men that is referenced here by Eliphaz? From the passage, it appears that Eliphaz
    conversed with the sons of either Shem, Ham, or Japheth. These were the “fathers” in verse 18. How do we know this?
    The Bible declares that the earth was given to them “alone”. No “stranger” passed between them. Why? They were the
    only ones on earth at that time, besides their wives and Noah and his wife. If one wanted to know about the “former
    age”, then all they had to do was to seek out those who had actually lived during that period of earth’s history. From
    the Bible, we know that initially after the flood, there were only eight people who had such knowledge. The former
    age, of course, was the time before God judged the world with a universal flood. The Greeks make mention also of this
    “former age”. They described it as a time when men lived to be of great ages, when the trees gave them fruit all year,
    and when the weather was always warm and sunny. They referred to it as the Golden Age. Eliphaz states that man’s
    present lifespan was but a “shadow” when compared to those who lived prior to the flood. Since the antediluvian man’s
    lifespan was almost a millennium, their accumulated knowledge was immense. The sons’ of Noah became a repertoire of
    information whose descendants, no doubt, regularly sought them out to extract knowledge from them.
    The Sumerians were one of the oldest civilizations who settled near the Tigris and Euphrates rivers soon after the
    flood. Archaeologists have discovered thousands of clay tablets which give us insight into that early period. One
    tablet records a father giving advice to his son:
  </p>
  <p><b>
    “Would you achieve success? Then seek out the first generations...My son, seek out the first generations, inquire of
    them.” </b>
  </p>
  <p><b>
    “He (the ‘big brother’) vaunted not his knowledge, his words are restrained...had he vaunted his knowledge, eyes would
    pop.
    Attend him therefore before the sun rises and before the night cools; do not turn back the pleasure of being by the
    side of the big brother; having come close to the big foreheads your words will become honored.” </b>
  </p>
  <p>
    In Jack Cuozzo’s book, Buried Alive, he presents the hypothesis that the protruding foreheads of the Neanderthal
    merely represented advanced ages. This has much credence, since many of the Neanderthal remains were found in upper
    strata above the more “modern” human remains. This means that the Neanderthals lived longer and died after their
    modern contemporaries. This fits in perfectly with what the Sumerian tablets record and what we also find in the
    writings of the book of Job. By the way, Jack Cuozzo is a forensic dentist who has actually taken x-rays of authentic
    Neanderthal fossil remains.
  </p>
  <p>
    Although Noah acquired much knowledge during his life before the flood, it probably paled in comparison to the
    collection of facts and data that mankind had attained during those first 1700 years. Adam, no doubt, was created with
    a superior intellect, so mankind had a firm foundation upon which to build. There is a passage in Job which alludes to
    this loss of knowledge and understanding.
  </p>
  <p><b>
    “Behold, he withholdeth the waters, and they dry up: also he sendeth them out,
    and they overturn the earth…
    He leadeth princes away spoiled, and overthroweth the mighty.
    He removeth away the speech of the trusty, and taketh away the understanding of
    the aged.” </b> (Job 12:15,19,20)
  </p>
  <p>
    The first clause of verse 15 refers to the creation week in Genesis 1:9. The last part of that verse, I believe, is
    referencing the flood. Most of man’s vast, acquired wisdom was lost and covered in a watery grave.
    What else does the book of Job teach us about the antediluvian world and its inhabitants? It appears that the physical
    world was like a giant greenhouse with a stabilized environment. The average lifespan was over 900 years, and man’s
    knowledge was vast. Remember, God sent the flood as a judgment upon an ungodly generation. Let’s pull back the veil a
    little and take a look at that last generation.
  </p>
  <p><b>
    “Remember, I pray thee, who ever perished, being innocent? Or where were the righteous cut off?” (Job 4:7) </b>
  </p>
  <p>
    Sometimes we are quick to judge Job’s friends. But because of what they had learned from their ancestors, they
    naturally and sincerely believed that Job was hiding some sin. Otherwise, God would not inflict such pain and torment
    upon him. Eliphaz is reminding Job that those who perished in the flood were guilty. Even Zophar pleaded with Job to
    “stretch out thine hands toward him”, in other words, repent. Yes, the antediluvians were guilty, but guilty of what?
  </p>
  <p><b>
    “The wicked man travaileth with pain all his days, and the number of years is hidden to the oppressor.
    A dreadful sound is in his ears: in prosperity the destroyer shall come upon him.
    For he stretcheth out his hand against God, and strengtheneth himself against the Almighty.” </b>(Job 15:20,21,25)
  </p>
  <p><b>
    “They spend their days in wealth, and in a moment go down to the grave.
    Therefore they say unto God, Depart from us; for we desire not the knowledge of thy ways.
    What is the Almighty, that we should serve him? And what profit should we have, if we pray unto him?” </b>(Job 21:13-15
  </p>
  <p><b>
    “Hast thou marked the old way which wicked men have trodden?
    Which were cut down out of time, whose foundation was overflown with a flood?
    Which said unto God, Depart from us: and what can the Almighty do for them?
    Yet he filled their houses with good things...” </b>(Job 22:15-18)
  </p>
  <p>
    From these verses, we discover that these wicked men, although prosperous and long-lived, did not experience peace or
    contentment. They rejected the only One who could give them peace. Perhaps the reader noticed the strange phrase, “a
    dreadful sound is in his ears”. The word dreadful means “alarm or terror”. The word sound means “proclamation or a
    call”. The word ears denotes “to hear”. These evil antediluvians heard a proclamation that instilled terror into their
    hearts. This, most probably, refers to the warning of impending destruction by the preaching of Noah (2Pet.2:5).
    However, this “call” to repentance did not change their hearts or their lifestyle. Finally, we find mankind in open
    and flagrant rebellion against God. What they exhibited was an overt hatred for God. They failed to realize that the
    very God who they despised and rejected was the one responsible for all the material blessings which they loved and
    enjoyed. How very reminiscent of that mindset is the world in which we live today.
  </p>
  <p><b>
    “Because he hath oppressed and hath forsaken the poor; because he hath violently taken away an house which he builded
    not.
    When he is about to fill his belly, God shall cast the fury of his wrath upon him, and shall rain it upon him while he
    is eating.
    The increase of his house shall depart, and his goods shall flow away in the day of his wrath.
    This is the portion of a wicked man from God, and the heritage appointed unto him by God.” </b>(Job 20:19,23,28,29)
  </p>
  <p><b>
    “But as the days of Noe were, so shall also the coming of the Son of man be.
    For as in the days that were before the flood they were eating and drinking, marrying and giving in marriage, until
    the day that Noe entered into the ark.
    And knew not until the flood came, and took them all away; so shall also the coming of the Son of man be.” </b>
    (Matt.24:37-39)
  </p>
  <p>
    This passage reveals that the antediluvians were oppressive, selfish, violent, and obsessed with material possessions.
    Notice the obvious allusion of these verses in Job as compared to Jesus’ words in gospel of Matthew. In Job 24, it
    gives a litany of sins of this wicked generation. They completely disregarded any rule of law. They had no empathy and
    even despised the outcasts and forsaken such as the fatherless, the widows, and the poor. They were murderers,
    thieves, adulterers. Yes, the world was in moral and spiritual turmoil. This was the antediluvian world.
  </p>

  <h2>The Flood and the Post-Diluvial World</h2>
  <p>
    The book of Job is replete with flood references and allusions. I have already cited many of these. In Job 28:9-10, we
    find an interesting concept.
  </p>
  <p><b>
    “He putteth forth his hand upon the rock; he overturneth the mountains by the
    roots.
    He cutteth out the rivers among the rocks...” </b>
  </p>
  <p>
    Of course, as a biblical creationist, this fact is not new. If one accepts a world-wide flood, then the fact that the
    mountains and other sediment would be greatly eroded and the face of the earth would be changed. This agrees with
    Peter’s words in 2Peter 3:6.
  </p>
  <p><b>
    “Whereby the world that then was, being overflowed with water, perished.” </b>
  </p>
  <p>
    The world and its climate drastically changed as a result of the flood. When Noah and his family disembarked from the
    ark, they encountered a world which was pretty much barren. There were no forests, only some shrubs and grasses. The
    total topography of the world had changed: there were new rivers and new mountains.
  </p>
  <p><b>
    “In the six hundredth year of Noah’s life, in the second month, the seventeenth day
    of the month, the same day were all the fountains of the great deep broken up...” </b>
    (Genesis 7:11)
  </p>
  <p>
    The Bible does not explain the mechanism that caused this tremendous rip in the earth’s crust. It merely states that
    it happened. As a result, immense torrents of rain ensued which lasted for some 40 days. Because of these subterranean
    waters, the flood continued to rise upon the earth for 150 days. With this immense weight of water over the cavities
    left by the underground fountains of water, the crust caved in causing deep water basins in which the water began to
    drain off the earth. God caused a wind to pass over the earth which helped in a quicker drying off of the earth’s
    surface. During the waning or last stages of the flood, mountain building began to occur. In science, this is known as
    orogeny.
  </p>
  <p>
    Because of this rift or rip of the crust of the earth, it triggered global volcanic activity. In our oceans today, we
    have what are known as seamounts. These are merely underwater volcanoes. Most of the islands in the world’s oceans are
    volcanoes which have risen above the ocean surface. However, it is estimated that there may be as many as 100,000 of
    these seamounts in the world’s oceans. Let’s consider the effects of all these seamounts releasing vast amounts of
    heat into the oceans. It would produce a mass of water vapor and ash which is unimaginable. As this vast amounts of
    water vapor migrated to the poles, huge snowfalls were initiated. This continued for many decades until the
    temperature of the oceans stabilized. This was the one and only “ice age” that planet earth has ever experienced. By
    this time, the reader is wondering: what has this to do with Job? Well, let’s consider another passage of scripture.
  </p>
  <p><b>
    “Out of whose womb came the ice? And the hoary frost of heaven, who hath
    gendered it?
    The waters are hid as with a stone, and the face of the deep is frozen.” </b>(Job 38:29,30)
  </p>
  <p>
    In this passage, God is giving Job a little quiz consisting of some 80 questions.
    Remember, at this time, it was some 250 to 300 years after the flood. The snow and ice were new phenomena which were
    not experienced in the pre-flood world. Job and his friends were aware of the physical conditions that existed during
    that ancient time. Most probably “the deep” which Job was familiar with was the Mediterranean Sea. At this time, it
    was frozen. The “ice ages” probably lasted for several centuries until the earth finally came to an equilibrium.
    This is just a glimpse of the physical world in which Job lived. What about the moral conditions of mankind in this
    sixth generation after the flood? If you read Job carefully, you will find that there was a God consciousness that
    seemed to be pervasive. Yet, there was still evil in the world, but it was not tolerated by the general populace.
    Notice this passage in Job 30:
  </p>
  <p><b>
    “But now they that are younger than I have me in derision, whose fathers I would
    disdained to have set with the dogs of my flock…
    They were driven forth from among men, they cried after them as after a thief…
    They were the children of fools, yea, children of base men: they were viler than
    the earth.” </b>
  </p>
  <p>
    I would liken the time of Job with what I remember of the 1950s. Many churches all across our beautiful land were
    filled with capacity on Sunday mornings. Yes, there was evil in the world, but it was thought shameful to the general
    public. When I was young, I considered all adults would be protective and do the right thing. Of course, this
    estimation was seen through the eyes of a child. My point is this: America still had an aura of innocence about her.
    There have been about sixty million babies aborted since 1973. No, America is no longer innocent. As a nation, we have
    become tolerant, and even embraced, immorality. Violence seems to have escalated to an all-time high. The “base” men
    are no longer driven out to the desolate regions of the earth.
    What does God deem important?
  </p>
  <p>
    How can we really know what God values as important from this ancient book?
    As we have already alluded to, Job was instructed in the ways of the Lord since he was young. Noah and his three sons
    were still living at this time. God’s judgment and justice was still fresh upon humanity’s minds. Mankind was taught
    what God desired of them. In Job 23:12, it reads “Neither have I gone back from the commandment of his lips; I have
    esteemed the words of his mouth more than my necessary food.” Yes, God’s laws were known to Job his entire life. Four
    generations before Abraham, Job walked by faith. “I have heard of thee by the hearing of the ear: but now mine eye
    seeth thee.” (Job 42:5) <br/>
    So, let’s see what Job was instructed. Let’s find out what God desired from mankind.
  </p>
  <p><b>
    “Behold, thou hast instructed many, and thou hast strengthened the weak hands.
    Thy words have upholden him that was falling, and thou hast strengthened the feeble knees.” </b>(4:3,4)
  </p>
  <p><b>
    “Because I delivered the poor that cried, and the fatherless, and him that had none to help him.
    The blessing of him that was ready to perish came upon me: and I caused the widow’s heart to sing for joy…
    I was eyes to the blind, and feet was I to the lame.
    I was a father to the poor…
    And I brake the jaws of the wicked...” </b>(29:12-17)
  </p>
  <p><b>
    “Did not I weep for him that was in trouble? Was not my soul grieved for the poor?”
    (30:25) </b>
  </p>
  <p>
    I’m sure the reader has noticed that what was important to God during Job’s time is important in our present age. When
    the lawyer asked Jesus which is the great commandment in the law, Jesus answered: love God, love man. Nothing has
    changed. How we act and behave toward our fellow-man is of crucial importance. I sincerely believe that we will fully
    comprehend this truth in the judgment.
  </p>
  <p>
    These are but four treasures found in the book of Job. There are many more. Job teaches us about the priestly role of
    the father; it speaks to us about faith; it tells us about the resurrection; it unveils one aspect of human suffering,
    and many more nuggets of truth are found within this ancient book. But, in an effort to bring us up to our present
    age, the book of Job discloses one more treasure that I must share.
  </p>
  <p>
    Millennials. This is not a misprint. Job does address this famous group. It is generally accepted that to qualify for
    this distinction of being a millennial, you must be 20 to 36 years of age. Generally speaking, the millennials have
    great familiarity with communications, media, and digital technologies. As a consequence, they feel that they are
    advanced in their knowledge and wisdom. One study showed that millennials exhibited 16% more narcissism than older
    adults. One aspect of this narcissistic behavior was a sense of grandiose importance. They feel that whatever they
    have to say should be duly noted. Well, I guess it’s time for me to reveal who represented the millennials in the book
    of Job. Can the reader guess who it is?
  </p>
  <p>
    Everyone is familiar with the phrase Job’s three friends. Actually, there was a fourth person who came along. In fact,
    he was the last to speak. His name was Elihu. The three friends spoke according to their age beginning with the
    eldest, Eliphaz. After all had finished speaking, Elihu spoke up. I will just quote a few statements made by this
    Enlightened One.
  </p>
  <p><b>
    “Behold, I am according to thy wish in God’s stead...” </b> (in Job 23:3-5, Job wished that he could plead his case before
    God)
  </p>
  <p><b>
    “If not, hearken unto me: hold thy peace, and I shall teach thee wisdom.” </b>(arrogance)
  </p>
  <p><b>
    “My desire is that Job may be tried unto the end...” </b>(Did not want to see Job healed)
  </p>
  <p><b>
    “Thinkest thou this to be right, that thou saidst, My righteousness is more than God’s” </b>
    (Job never said this)
  </p>
  <p><b>
    “Therefore doth Job open his mouth in vain; he multiplieth words without knowledge.”</b>
  </p>
  <p><b>
    Now, it is God’s turn to speak. In Job 38:2, God addresses this millennial by using Elihu’s own words against him.
    After this, God had no further words for this enlightened one. </b>
  </p>
  <p><b>
    “Who is this that darkeneth counsel by words without knowledge?” </b>
  </p>
  <p>
    Although these comments about Elihu were written tongue in cheek, they still bear much truth to many of today’s
    millennials.
  </p>
  <p>
    I hope the reader has enjoyed this short study in Job. It has within its pages so much more than what I could ever
    share. I invite you to read through it thoughtfully. May God bless.
  </p>

</div>