<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Let There Be Light</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-5 large-5 columns">
        <img src="assets/light.jpg">
      </div>
      <p><b>“In the beginning God created the heaven and the earth. And the earth was without form, and void; and
        darkness was upon the face of the deep. And the Spirit of God moved upon the face of the waters. And God said,
        Let there be light: and there was light. And God saw the light, that it was good: and God divided the light from
        the darkness. And God called the light Day, and the darkness he called Night. And the evening and the morning
        were the first day.” </b> Genesis 1:1-5
      </p>
      <p><b>
        “And God said, Let there be lights in the firmament of the heaven to divide the day from the night; and let them
        be for signs, and for seasons, and for days, and years. And let them be for lights in the firmament of the
        heaven to give light upon the earth: and it was so. And God made two great lights; the greater light to rule the
        day, and the lesser light to rule the night: he made the stars also. And God set them in the firmament of the
        heaven to give light upon the earth. And to rule over the day and over the night, and to divide the light from
        the darkness: and God saw that it was good. And the evening and the morning were the fourth day.” </b> Genesis
        1:14-19
      </p>
      <p>
        As is evident from the reading from these two passages of scripture, this paper will address just two days of
        God’s creative week. These verses have always been perplexing and challenging, as I have tried to ascertain the
        truth found within them. Although the fog has lifted somewhat for me, there are still many unanswered questions.
        It is my desire to present to the reader what I perceive to be the resolution to some of these intriguing issues
        that are both theological and scientific. Although there are many points of interest pertaining to that creation
        week, I will not attempt to comment on them. Many, much more qualified than myself, have already made exhaustive
        studies on multiple topics that have arisen from the study of this first chapter of Genesis. Consequently, this
        study will limit itself to just the context of the creation of light.
      </p>
      <p>
        The evolutionist and the OEC (Old Earth Creationist) envision millions of years interval between day one, with
        the formation of light, to the fourth creation day where the sun, stars, and planets appear. This line of
        reasoning is not only faulty, it is also unnecessary. One purpose of the first day of creation was to establish
        a time unit that would be used for the rest of the creation week. Later, as we discover in Exodus 20:8-11 and
        Exodus 31:17, God used this established time unit as an example for mankind to follow in recognition of Him
        being the Creator of all things.
      </p>
      <p>
        In the beginning, God created matter in the form of a huge sphere of water covering a core of solid matter. At
        least, that is what is inferred from the first ten verses of the Bible. I don’t believe the human mind will ever
        be able to comprehend exactly what transpired in this creative act. Scripture then states that God moved over
        this mass of water. The Hebrew word “moved” is critical in our understanding this passage. The word moved can be
        translated with several applications. For instance, it be translated brood, flutter, shake, vibrate, and even
        can have the meaning of to be relaxed. I am very much interested in the dual application of shake and vibrate to
        that of being relaxed. In the Big Bang model, we find that there were some quantum fluctuations in which energy
        was converted to matter. Whereas, in the Biblical model, matter is created first and then energy. God provided
        the initial energy source to vibrate and shake the electrons in this sphere of water. This elevated the
        electrons of that first created matter to a higher energy level. Then the command came, “Let there be light.” At
        that point, those electrons fulfilled the second part of the definition of “moved”, that is, to be relaxed. When
        this happened, they became more stable by dropping to a lower energy level, thus emitting photons of light. This
        process created the light source for the defining of a 24 hour day. The power of the spoken Word is beautifully
        illustrated in Mark 4:39. This passage is very reminiscent of Genesis 1:2.
      </p>
      <p><b>
        “And he arose, and rebuked the wind, and said unto the sea, Peace be still. And the wind ceased, and there was a
        great calm.”
      </b>
      </p>
      <p>
        When he thundered, Let there be light, His Word was the cause for light to form itself out of this darkness
        after becoming “relaxed or calm”. After God created light from the original created matter, which was enveloped
        in total darkness, He then separated the light from the darkness. Oftentimes today, we define darkness as the
        “absence of light.” While this may be true, the original darkness was the origin of light. This agrees with the
        words made by Paul: “For God, who commanded the light to shine out of darkness, hath shined in our hearts...” (2
        Cor.4:6) Thus, the original electromagnetic spectrum, of which visible light is but a small portion, was made as
        a consequence of God’s energetic action (moved) upon His initial created matter and by the command of His Word.
      </p>
      <p>
        On the fourth day of this creative week, God made all the celestial objects which includes our sun and moon, and
        all the other heavenly bodies found in the universe. I do not believe that scriptures declare that all these
        were made ex nihilo, that is, “out of nothing.” Rather, I believe that God used the original created matter from
        day one and the light which was also formed on that first day. Let’s compare verses 4 and 5 to verses 14-19.
      </p>
      <p><b>
        “And God saw the light, that it was good: and God divided the light from the darkness. And God called the
        light Day, and the darkness he called Night. And the evening and the morning were the first day.”
      </b></p>
      <p><b>
        “And God said, Let there be lights in the firmament of the heaven to divide the day from the night; and let them
        be for signs, and for seasons, and for days, and years. And let them be for lights in the firmament of the
        heaven to give light upon the earth: and it was so. And God made two great lights; the greater light to rule the
        day, and the lesser light to rule the night: he made the stars also. And God set them in the firmament of the
        heaven to give light upon the earth. And to rule over the day and over the night, and to divide the light from
        the darkness: and God saw that it was good. And the evening and the morning were the fourth day.”
      </b></p>
      <p>
        Notice that the primary purpose stated in both cases was to “divide the light from the darkness.” Is God
        duplicating his creative works? The answer is, No. As I have previously stated, God is merely taking what He has
        already created and fashioning it into more distinct and purposeful objects. This is similar to His actions on
        the third day of creation. He causes the dry land to appear. It was just hidden by the waters that covered it.
        Likewise, on the fourth day, God causes the sun, moon, stars and other celestial objects to appear from his
        original creation of water (matter) and light. In verse 17, we find that God “set” them in the firmament in
        heaven. In other words, He <i>appointed</i> them their place or station which they would occupy in the universe.
      </p>
      <p>
        Obvious to those who have not been blinded by evolutionary dogma, specifically cosmic evolution, there are not
        billions of years separating these two creative days. Rather, these days are just what the Bible declares them
        to be: 24 hour time periods as established by Day 1. Although this study is extremely brief, I hope that it
        provided some clarification for this complex and controversial topic.
      </p>
    </div>
  </div>
</div>