<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Let There Be Light</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-5 large-5 columns">
        <img src="assets/bible-universe.jpg">
      </div>
      <p><b>“In the beginning God created the heaven and the earth. And the earth was without form, and void; and
        darkness was upon the face of the deep. And the Spirit of God moved upon the face of the waters. And God said,
        Let there be light: and there was light. And God saw the light, that it was good: and God divided the light from
        the darkness. And God called the light Day, and the darkness he called Night. And the evening and the morning
        were the first day.” </b> Genesis 1:1-5
      </p>
      <p>
        As someone once said, “the first four words of the Bible are some of the most sublime words ever written.” In
        fact, that first creation day contains mysteries that the mind of man will never be able to comprehend. In this
        feeble attempt, I want to highlight just a few of these unfathomable secrets. This is not a scientific paper as
        such, rather, it is theological which contains inherent scientific concepts. Obviously, what I will present to
        the reader are just my own beliefs and thoughts regarding some of the mysteries involved in God’s creation of
        light.
      </p>
      <p>
        <b>In the beginning</b>. This phrase denotes the element of time. Thus, it speaks to the origin of time itself.
        As a
        biblical creationist, I accept the fact that God as Creator exists outside the boundaries of time and His own
        creation. Here, in this verse, it alludes to the idea that God created time. To have time, matter must exist.
      </p>
      <p>
        This verse has become a gateway for a controversy that exists within Christianity today. Many Christians support
        the idea that God used the vehicle of evolution to bring about His creation. Those that do so also embrace
        cosmic evolution. Cosmic evolution accepts the alleged Big Bang and the belief that our universe “evolved” over
        a period of billions of years. If one were to take the plain meaning of Jesus’ words, then they would discover
        that Jesus did not share this view. In fact, his words denounce such an inference. We find in scripture that
        Jesus placed the creation of man at the very <b>beginning</b> of creation. There is not a gap or billions of
        years
        found within the Creation Week. If Jesus were to address the Church today regarding this issue, I believe he
        might begin with these words, “Have ye not read.” The Jews of Jesus’ day knew exactly his point of reference
        when he used the word “beginning” in the passages below
      </p>
      <p><b>
        “...Have ye not read, that he which made them at the beginning made them male and female.”
      </b> Matthew 19:4
      </p>
      <p><b>
        “But from the beginning of the creation God made them male and female."
      </b> Mark 10:6
      </p>
      <p>
        <b>God created</b>. God is the “First Cause.” He is transcendent of His creation, that is, God exists apart from
        and
        not subject to that which He created. To the secular scientist, this is incomprehensible. The Hebrew word “bara”
        is here translated created. The Latin phrase for this word is ex nihilo, which essentially means, “out of
        nothing.” As others have pointed out, this word is only used in the context with God, never man. Contrary to
        secular science and the supposed Big Bang, there really was nothing. There were no quanta (energy particles) or
        matter. What an awesome God we serve! True are the words of the writer of the book of Hebrews, “For the word of
        God is quick (living), and powerful...” Yes, He spoke, and <b>matter</b> began to exist as did <b>time</b>.
      </p>
      <p>
        <b>The heaven and the earth</b>. Many Hebrew scholars say that the phrase, heaven and earth, is a merism. A
        merism is a
        term which means that two contrasting words denote the entirety or totality of a thing. The example given for it
        in a dictionary is, “I searched high and low.” In other words, he searched everywhere. So, in this first verse,
        the Bible declares that God created all matter which he would use to form the universe.
      </p>
      <p>
        <b>And the earth was without form, and void</b>. Basically, this verse states that this created matter was
        without
        shape and was empty. Both Hebrew words, (bohuw and tohuw), have similar meanings: waste or emptiness. Those who
        adhere to the Gap Theory maintain that God would never create something that was essentially a desolation.
        Therefore, there must be a time “gap” between verse 1 and verse 2. But this idea is without merit. The phrase
        merely explains the condition immediately after he had created matter. Therefore, their interpretation is
        presumptive and premature. A passage from Isaiah will help clarify the usage of the term “void.”
      </p>
      <p><b>
        “For thus saith the LORD that created the heavens; God himself that formed the earth and made it; he hath
        established it, he created it not in <i>vain</i>, he formed it to be inhabited; I am the LORD; and there is none
        else.”
      </b></p>
      <p>
        The word vain in this verse is the exact same Hebrew word void as found in Genesis 1:2. One day, close to where
        we live, I stopped and watched a chain-saw artist. He began with a rather large log, but after he finished, it
        became a beautiful work of art. It is the exact same thing here in this passage. God started with this amorphous
        mass and began to fashion this beautiful “pale blue dot” as the cosmologist Carl Sagan once condescendingly
        described it.
      </p>
      <p>
        <b>And darkness was upon the face of the deep</b>. In the beginning of creation, which also entails the
        inception of
        time, there was nothing but a massive mass of water. At least, that is the inference one gets from these first
        two phrases in verse 2. God had not yet acted upon this newly created matter. There was nothing but darkness.
        Scientists today routinely speak of “dark matter,” but I believe that concept was only valid once in earth’s
        history.
      </p>
      <p>
        <b>And the Spirit of God moved upon the face of the waters</b>. The Hebrew word “moved” is critical in our
        understanding this passage. The word can be translated with several different applications. For instance, it may
        be interpreted as brood, flutter, shake, vibrate, and even can have the meaning of to be relaxed. I am very much
        interested in the dual application of shake/vibrate to that of being relaxed. In the Big Bang theory, its
        premise is that there were some quantum fluctuations in which energy was converted to matter. In physics, a
        “quantum” is a discrete quantity or packet of energy. Whereas, in the Biblical model, matter was created first
        and then energy. God provided the initial energy source to vibrate and shake the water molecules.
      </p>
      <p>This “shaking” created cavitation bubbles. These are vapor cavities or voids formed within a liquid. When there
        is sufficient pressure acting upon these bubbles, they collapse. The laws of physics and chemistry state that
        pressure and temperature are directly proportional. This merely means that when one increases, the other also
        increases. These “collapsing bubbles” will create enormous amounts of heat energy. Scientists have been able to
        actually measure the heat generated from the collapse of just a single cavitation bubble. They have recorded
        temperatures in excess of 20,000 degrees Fahrenheit which is far hotter than the surface of the sun. In this
        process of heat formation, a fourth state of matter is produced, namely, plasma. It is the plasma that ionizes
        the trapped gas contained within the bubble which will then emit energy in the form of light.
      </p>
      <p>
        What I just described is but a summary of a natural phenomenon that scientists are still investigating. Their
        study is based upon what is known as sonoluminescence, that is, light produced by sound or shock waves. In fact,
        some studies have suggested that even fusion may occur within these extremely high temperatures. One study
        referred to it as a “star within a jar.” Fusion is when two hydrogen atoms combine to form a helium atom and
        produces energy and releasing heat and light. Fusion is the process whereby our sun and all the stars operate.
      </p>
      <div class="caption hide-for-small medium-12 large-12 columns">
        <img class="hide-for-small medium-8 large-8 columns" src="assets/sonolumi.jpg">
        <p>A sonoluminescence bubble. Sonoluminescence is the phenomenon of the appearance of a flash of
          light in the collapse of cavitation bubbles, born in a liquid by a powerful ultrasonic wave. A typical
          experiment on the observation of sonoluminescence is as follows: a resonator is placed in the water tank and a
          standing spherical ultrasonic wave is created in it . With sufficient ultrasound power, a bright point source
          of bluish light appears in the center of the reservoir – the sound turns into light.  <br/>
          Source: <a href="https://en.wikipedia.org/wiki/Sonoluminescence">Wikipedia</a>
        </p>
      </div>
      <p>
        <b>And God said, Let there be light: and there was light</b>. We now come to the very crux of the matter (pun
        intended). When the Spirit of God began to move over the waters, I believe this action initiated an
        extraordinary chain of events. Initially, what was just described occurred. Additionally, unimaginable
        temperatures were produced which triggered massive fusion reactions. This is the basis for the origin of the
        heavier elements. This heat also “excited,”or elevated the electrons to move into a higher energy level. Then
        the command came, “Let there be light.” At that point, those electrons fulfilled the second part of the
        definition of “moved,” that is, “to be relaxed.” When this happened, they became more stable by dropping to a
        lower energy level, thus emitting photons of light. Whether it was this process, or the collapse of the
        cavitational bubbles described previously, the final result was the creation of light. Indeed, God might have
        used both. When our awesome God spoke only four words, that matter which he had created had to respond. This
        reminds me of a vintage TV advertisement of a brokerage firm: <i>“When E. F. Hutton talks, people listen.”</i>
        The
        power of the spoken Word is beautifully illustrated in Mark 4:39 which is very reminiscent of the passage before
        us.
      </p>
      <p><b>“And he arose, and rebuked the wind, and said unto the sea, Peace be still. And the wind ceased, and there
        was a <i>great calm</i>.”</b>
      </p>
      <p>
        <b>And God saw the light, that it was good: and God divided the light from the darkness</b>. After God created
        light
        from the original matter which was enveloped in total darkness, He then separated the light from this dark
        matter. Oftentimes, we define darkness as the “absence of light.” While this may be true, the original darkness
        was the origin of light. This agrees with the words made by Paul:
        <b>“For God, who commanded the light to shine out
          of darkness, hath shined in our hearts...</b>” (2 Cor.4:6). As a result, the original electromagnetic
        spectrum, of
        which visible light is but a small portion, was made as a consequence of God’s energetic action (moved) upon His
        initial created matter and by the command of His Word.
      </p>
      <p>
        I find it interesting that on this first creation day, God separated physical light from physical darkness.
        There is also a day marked on God’s celestial calendar which Jesus referred to as the Last Day. The Bible also
        refers to it as the Day of Judgment. So, there is something that is common to both the first day and the last
        day. In both, there will be a separation. However, on this last day, God will separate spiritual light from
        spiritual darkness.
      </p>
      <p>
        <b>And God called the light Day, and the darkness he called Night</b>. And the evening and the morning were the
        first
        day. Isn’t it amusing that even atheists, who deny and hate God, are bound to use the very names which were
        established by Him? Also, ironic is the fact that they “hate” someone whose existence they vehemently deny. The
        evening and morning is an obvious phrase used to denote a 24 hour day. There are only two factors required for
        this to happen: the rotation of the earth on its axis and a light source. On this first day, I believe that God
        founded our physical laws and the four fundamental forces. Also, he utilized these laws to produce all of our
        naturally-occurring elements. I don’t believe that God acts as a magician. However, He can “speed up” all
        processes to accomplish His purpose and will. That being said, remember that God is transcendent and is not
        bound by His own creation.
      </p>
      <p>
        Hopefully, this short study on the creation of light will be of benefit to my fellow biblical creationists.
        Since I am limited in knowledge, I hope others more qualified will consider the mechanisms mentioned and will do
        a more detailed examination of their merits.
      </p>
    </div>
  </div>
</div>