<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Melchizedek: Man of Mystery</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <p>
        In this study, I want to consider each passage that references this rather obscure Old Testament person. He is
        only mentioned in three books of the Bible: Genesis, Psalms and Hebrews. Although many might have heard of
        Melchizedek, few really know much about him. Traditionally, there have been three primary interpretations
        regarding the identity of Melchizedek. There are those who maintain that he is just an ancient Canaanite king.
        Many others insist that he is a theophany of God. Specifically, they believe that he is the pre-incarnate
        Christ. The word “theophany” refers to a “physical manifestation of God”. Some Jewish scholars maintain that he
        is none other than the patriarch Shem, the son of Noah.
      </p>
      <p><b>
        “And it came to pass in the days of Amraphel king of Shinar, Arioch king of Ellasar, Chedorlaomer king of Elam,
        and Tidal king of nations;
        That these made war with Bera king of Sodom, and with Birsha king of Gomorrah, Shinab king of Admah, and
        Shemeber king of Zeboiim, and the king of Bela, which is Zoar.
        And they took all the goods of Sodom and Gomorrah, and all their victuals, and went their way.
        And they took Lot, Abram’s brother’s son, who dwelt in Sodom, and his goods, and departed.
        And there came one that had escaped, and told Abram the Hebrew….
        And when Abram heard that his brother was taken captive, he armed his trained servants, born in his own house,
        three hundred and eighteen, and pursued them unto Dan….
        And he brought back all the goods, and also brought again his brother Lot, and his goods, and the women also,
        and the people.
        And Melchizedek king of Salem brought forth bread and wine: and he was the priest of the most high God.
        And he blessed him, and said, Blessed be Abram of the most high God, possessor of heaven and earth:
        And blessed be the most high God, which hath delivered thine enemies into thy hand. And he gave him tithes of
        all.”</b> (Genesis 14:1,2,11-14,16,18-20)
      </p>
      <p>
        To put this in a historical perspective, I would like to give a brief overview of mankind’s early history (at
        least, the way I see it). I will start with calling Shem the “first” generation from the Flood. Abraham would be
        the “tenth” generation. The events recorded in Genesis 14 are approximately 500 years after the flood of Noah.
        It appears that Noah and his family initially disembarked from the ark and settled somewhere in the area at the
        base of the mountains of Ararat where the ark had landed. The ark could provide them with supplies and materials
        for quite some time. God blessed Noah and his family to the effect to “be fruitful, and multiply”. Eventually,
        as they multiplied and became too numerous for the mountainous land to support them, they began to migrate,
        looking for an area that would provide for all their needs. So, they began to travel “eastward” to the land of
        Shinar. Of course, this name was given by them once they had settled there. Shinar is actually southeast from
        the Ararat region, but it is east from Canaan or Jerusalem. I believe the direction used by the writer of
        Genesis (Moses) was from this perspective.
      </p>
      <p>
        From the accounts about Nimrod in chapter 10, and even from secular historians, the early civilizations began in
        the Mesopotamian regions. It appears that early mankind pretty much remained in this approximate area. However,
        this was in disobedience to God’s direct command in Genesis 9:1 where God told them to “replenish”, literally,
        “fill” the earth. As a result, God intervened in the 5th generation (Peleg) and scattered them by confusing
        their language. This was about 150 to 200 years after the flood. Up to this point, all spoke that original
        language given to Adam at creation. I once read of one Muslim historian who stated that Hebrew was that original
        language.
      </p>
      <p>
        Genesis 10 gives us some indication as to the eventual geographical locations in which Noah’s descendants would
        eventually migrate to and settle in. From Genesis 11 and Acts 7, the scriptures record that Abraham and his
        ancestors lived in the region of Mesopotamia, specifically from Ur. But, it can be surmised that some had
        migrated to the Canaan area probably at the time of the dispersion from Babel (or may be even before). Notice
        the name of one of the Canaanite kings found in Genesis 14:2, “Shemeber”. This name is actually a combination of
        two names: Shem and Eber. Shem was of course the son of Noah, and Eber was the great-grandson of Shem. It was
        from the name Eber from which the name “Hebrew” was derived from. The Hebrews were the descendants of Eber. I
        will return to this thought later in this study.
      </p>
      <p>
        Just as the colonists who came from England eventually rebelled from the British rule, so too, did those who
        migrated from Mesopotamia to settle in Canaan rebel from their ancestral home and authority. Four kings from
        Mesopotamia declared war on five kings in Canaan. The Bible states that the kings of Canaan had served (probably
        in the form of tribute money) the kings of the east for the previous 12 years before the rebellion. Their
        rebellion was quickly put down. The Mesopotamian kings made one fatal mistake. They had taken captive Abraham’s
        nephew Lot and his family. Abraham took 318 servants and young men and conquered those kings in a surprise night
        attack and recovered all, including his nephew.
      </p>
      <p>
        At this point in the scriptures, Melchizedek the king of Salem (Jerusalem) enters recorded history. He is
        described as being “the priest of the most high God”. Without giving details, it appears that Abraham and
        Melchizedek are known to each other. By giving tithes to Melchizedek, Abraham acknowledges the superior
        spiritual position and place of honor due to this king of Salem. Both of them used the phrase “the most high
        God” in reference to the only one true God and Creator.
      </p>
      <p><b>
        “The LORD hath sworn, and will not repent, Thou art a priest for ever after the order of Melchizedek.” (Psalms
        110:4)
      </b>
      </p>
      <p>
        This verse proclaimed by the psalmist/prophet/king David was some 1000 years after the events
        recorded in Genesis. Seemingly, out of nowhere, this mysterious name appears again in history. Of course, the
        passage is describing Jesus. David, as a prophet of God, is declaringthat the “Lord” is a priest forever. A
        priest is a mediator between God and man. This is exactly what the Bible confirms in I Timothy 2:5 as it
        declares that this mediator is “the man Christ Jesus”. Here, the comparison is made between Melchizedek and
        Jesus.
      </p>
      <p>
        Another 1000 years would pass before Melchizedek again appears in the historical records. We find him in
        Hebrews: chapters 5, 6 and 7. The New Testament spelling of his name is slightly different.
      </p>
      <p>
        <b>
          “As he saith in another place, Thou art a priest for ever after the order of Melchisedec.” </b> (Hebrews 5:6)
      </p>
      <p><b>
        “Whither the forerunner is for us entered, even Jesus, made an high priest for ever after the order of
        Melchisedec.”</b> (Hebrews 6:20)
      </p>
      <p>
        The overall theme of the book of Hebrews is the superiority of the priesthood of Jesus as compared to
        the Levitical priesthood as established with Aaron.
        This is especially stressed in the 7th chapter where the writer demonstrates this by comparing the priesthoods
        of Jesus and Melchizedec with that of Aaron’s. In the seventh chapter, we see again the phrase “order of
        Melchisedec”.
      </p>
      <p><b>
        “For this Melchisedec, king of Salem, priest of the most high God, who met Abraham returning from the slaughter
        of the kings, and blessed him;
        To whom also Abraham gave a tenth part of all; first being by interpretation King of righteousness, and after
        that also King of Salem, which is King of peace;
        Without father, without mother, without descent, having neither beginning of days, nor end of life; but made
        like unto the Son of God; abideth a priest continually.
        Now consider how great this man was, unto whom even the patriarch Abraham gave the tenth of the spoils.
        And verily they that are of the sons of Levi, who receive the office of the priesthood, have a commandment to
        take tithes of the people according to the law, that is, of their brethren, though they come out of the loins of
        Abraham:
        But he whose descent is not counted from them received tithes of Abraham, and blessed him that had the promises.
        And without all contradiction the less is blessed of the better.
        And here men that die receive tithes; but there he receiveth them, of whom it is witnessed that he liveth.
        And as I may so say, Levi also, who receiveth tithes, payed tithes in Abraham.
        For he was yet in the loins of his father, when Melchisedec met him.
        If therefore perfection were by the Levitical priesthood, (for under it the people received the law,) what
        further need was there that another priest should rise after the order of Melchisedec, and not be called after
        the order of Aaron?
        For the priesthood being changed, there is made of necessity a change also of the law.
        For he of whom these things are spoken pertaineth to another tribe, of which no man gave attendance at the
        altar.
        For it is evident that our Lord sprang out of Juda; of which tribe Moses spake nothing concerning priesthood.
        And it is yet far more evident: for that after the similitude of Melchisedec there ariseth another priest,
        Who is made, not after the law of a carnal commandment, but after the power of an endless life.
        For he testifieth, Thou art a priest for ever after the order of Melchisedec.
        For there is verily a disannulling of the commandment going before for the weakness and unprofitableness
        thereof.
        For the law made nothing perfect, but the bringing in of a better hope did; by the which we draw nigh unto God.
        And inasmuch as not without an oath he was made priest:
        (For those priests were made without an oath; but this with an oath by him, The Lord sware and will not repent,
        Thou art a priest for ever after the order of Melchisedec:)
        By so much was Jesus made a surety of a better testament.
        And they truly were many priests, because they were not suffered to continue by reason of death:
        But this man, because he continueth ever, hath an unchangeable priesthood.
        Wherefore he is able also to save them to the uttermost that come unto God by him, seeing he ever liveth to make
        intercession for them.
        For such an high priest became us, who is holy, harmless, undefiled, separate from sinners, and made higher than
        the heavens;
        Who needeth not daily, as those high priests, to offer up sacrifice, first for his own sins, and then for the
        people’s: for this he did once, when he offered up himself.
        For the law maketh men high priests which have infirmity; but the word of the oath, which was since the law,
        maketh the Son, who is consecrated for evermore.”
      </b>
      </p>
      <p>
        This chapter describes Melchizedek in more detail than all the other references about him. Yet, in spite of
        this, little is revealed. We know that his name means king of righteousness, and that he was the king of Salem
        (which means peace) or Jerusalem. Also, that he was priest of the most high God. The emphasis of this chapter is
        on the “priesthood” of both Melchizedek and Jesus.
      </p>
      <p>
        It is primarily verse three that convinces many that Melchizedek was a theophany of God with such phrases as:
        “without father, without mother, without descent, having neither beginning of days, nor end of life.” The writer
        of Hebrews gives a little more clarification regarding the phrase “without descent” in verses 5 and 6. It is
        clear that the phrase refers to the priesthood. In the Levitical priesthood, the office or position of being a
        priest was solely based upon their birth. They were all descended from Aaron. But this was not the case with
        Melchizedek. He was made a priest by God, not by man nor birth. Moses was divinely inspired to give the account
        of Melchizedek with no reference to his ancestry. He appeared on the pages of history as already being a priest
        of the most high God. Just as Jesus was ordained to be a priest for mankind, so too was Melchizedek chosen by
        God long before the Levitical or Aaronic priesthood was established.
      </p>
      <p>
        Melchizedek was described in scriptures as a real, historical king of Jerusalem. Hebrews 7:4 calls him a “man”.
        In all accounts of God manifesting himself to man in the Old Testament (actually, they were all pre-incarnate
        appearances of Christ), they were temporary. Also, in these accounts, he is clearly recognized as deity. This is
        not the case with Melchizedek. No, in chapter seven, the overriding theme is the comparison of the “priesthood”
        between Jesus and Melchizedek.
      </p>
      <p>
        There is an interesting story in Genesis 25 which might shed a little light on this topic. Here, we read that
        Isaac’s wife, Rebekah was having difficulty in her pregnancy. Initially she was barren, but Isaac prayed to God,
        and God intervened and made her fertile. She asked Isaac why was she having such trouble, since it was God who
        allowed her to become pregnant. To find the answer, the Bible states that “she went to enquire of the LORD.”
        Remember, this was hundreds of years before the Levitical priesthood was established. So, where did she go? It
        is very possible that she went to Jerusalem to see the priest of the most high God.
      </p>
      <p>
        It is my belief that Shem was Melchizedek, the king of Righteousness, priest of the most high God. This is
        according to Jewish tradition and teaching. Although I am suspect of much of the rabbinic teachings, in
        this scenario, it makes sense. But, according to biblical chronology, Shem would have been dead by this time.
        Earlier, I had mentioned one of the Canaanite kings by the name of Shemeber. Eber was the great-grandson of
        Shem. The name of “Hebrews” was derived from his name. Shem was Abraham’s contemporary for 100 years in the land
        of Canaan. Eber would have been contemporary with Abraham, Isaac and Jacob. It is very probable that Rebekah
        went to see Eber to enquire of the Lord.
      </p>
      <p>
        God always has a witness for each generation. He chose someone who had witnessed his judgment on a sinful world.
        This was Noah’s son, Shem. He was to be the priest that would teach others about God. In his omniscience, God
        also called Shem’s great-grandson, Eber, to take a special role in the history of mankind. As Shem and Eber were
        soon to pass into history, God called Abraham to take their place in the land of Canaan. Why was this land so
        important to God, and especially Jerusalem? For that answer, you must read my other study, <a href="jerusalemStory">“The Jerusalem
        Story”</a>. 
      </p>
    </div>
  </div>
</div>