<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>More Musings from Job</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
    <h3>Introduction</h3>
    <p>
	The book of Job is a story about human tragedy and human suffering.  It is also a story of redemption.  In this true historical drama, God allows us to see behind the curtains and gives us a 
    glimpse into the spiritual world.  The story begins with a setting that places Job somewhere in the Arabian peninsula.  God was proud of his servant Job.  The Bible records that there came a 
    day when the “sons of God” came to  present themselves before God.  Satan came also.  It is God who initiates  a conversation with Satan.  Then comes a question that I’m sure Job wishes 
    God had never asked.
    </p>
    <p><b>
	“And the LORD said unto Satan, Hast thou considered my servant Job, that there is none like him in the earth, a perfect and an upright man, one that feareth God, and escheweth evil?”
    </b></p>
    <p>
	Satan responds by saying that the only reason Job serves you is because you have blessed him with abundance.  I have tried to reduce him to poverty, but I can’t even touch any of his possessions 
    because of the hedge that you placed around him.  You have protected and shielded him from harm.
    <p><b>
	“And the LORD said unto Satan, Behold, all that he hath is in thy power; only upon himself put not forth thine hand…”
    </b></p>
    <p>
	You may wonder why God keeps Job from bodily harm now but not later.  It is simply because Satan claimed that it was material wealth which caused Job to serve God.  By the way, 
    the “all that he hath” included his family.  Satan did not lose anytime whatsoever to seek to destroy everything that Job held dear to him.
	In a single day, a day of calamity, Job lost all of his oxen, asses, sheep, camels, servants and all ten of his children.  Using a phrase coined by Winston Churchill, it would be 
    a “day which shall live in infamy.”  Job went from being a billionaire to a pauper in just a matter of hours.  In spite of all this, Job “sinned not.”
    </p>
    <p><b>
	“And said, Naked came I out of my mother’s womb, and naked shall I return thither:  the LORD gave, and the LORD hath taken away; blessed be the name of the LORD.”
     </b></p>
    <p>
	Later, we do not know how long, the sons of God again presented themselves before God.  Satan also had to stand before his Maker.  God asks Satan the same question as before.  In his 
    earlier attempt to dissuade Job from serving God, Satan had miserably failed.  This time he wants to go further.
    </p>
    <p><b>
	“And Satan answered the LORD, and said, Skin for skin, yea, all that a man hath will he give for his life.”
    </b></p>
    <p>
	Obviously, Job had nothing left to give.  The only thing Job had was his integrity and his righteousness.  Satan boasts the same thing to God as before:  Job will curse you to your face.  
    God delivered Job into Satan’s hand with the restriction, you may not take his life.  Satan wasted no time, he caused Job to have boils from the top of his head to the soles of his feet.  
    We do not know exactly what Job had to cause these boils and intense suffering that he had to endure, but the scripture does give us a few clues.
     </p>
    <p><b>
	“My flesh is clothed with worms and clods of dust; my skin is broken, and become loathsome.”  (Job 7:5)
	“And though after my skin worms destroy this body, yet in my flesh shall I see God.”  (Job 19:26)
    </b></p>
    <p>
	So, Job had some type of parasitic worm.  There are several parasites that might fit into the description given in these passages.  I will give the reader just one example which might help us 
    understand what Job was having to experience.  An article from the Centers for Disease Control (CDC) gives these characteristics and symptoms of the disease caused by the Guinea worm.
	“People with Guinea worm disease have no symptoms for about one year.  Then, the person begins to feel ill.  Symptoms can include the following:  fever, itchy rash, nausea, vomiting, diarrhea, 
    and dizziness.  A blister will then develop.  This blister can form anywhere on the skin.  It gets bigger and bigger over several days and causes a burning pain.  The blister eventually ruptures, 
    exposing the worm.  The infected person may put the affected body part in cool water to ease the symptoms.  On contact with water, the worm discharges hundreds of thousands of larvae into the water.  
    Furthermore, without proper care, the wound often becomes infected by bacteria.  This causes additional egregious symptoms.  Disability from this disease lasts for 8 weeks on average, but sometimes 
    be permanent.”
    </p>
    <p>
	What Job endured was pure unadulterated misery.  The Bible records that Job sat in a pile of ashes and scraped the boils with a broken piece of pottery.  There was nothing that Job did that could 
    provide him any relief or comfort.  All of this caused a stench which was almost unbearable to any that would get near Job.  His wife gave these comforting words.
   </p>
    <p><b>
	“Then said his wife unto him, Dost thou still retain thine integrity?  Curse God, and die.”
    </b></p>
    <p>
	After Job’s three friends came to visit, and before they spoke, Job made this very revealing statement.
    </p>
    <p><b>
	“For the thing which I greatly feared is come upon me, and that which I was afraid of is come upon me.                                                            	
    I was not in safety, neither had I rest, neither was I quiet; yet trouble came.”
    </b></p>
    <p>
	To all that knew Job, I am sure that they thought Job didn’t have a worry in the world, since he had everything a person could imagine.  Have you not thought the very same thing about 
    some millionaire or billionaire?  The truth is, money and wealth does not bring happiness or peace.  Knowing God and having him in your heart is the only thing that can bring such assurance.  
    But, Job did know God, and he served him with all his heart, yet he lived in a constant state of fear.  Why?                                   	
    Someone once said that the phrase “fear not” or something similar is found 365 times in the Bible.  One for each day of the year.  Actually, if you add up all phrases that have the same import, 
    then the number is much larger.  But, it is the most often used command by God found in the Bible.  What God wants from us is for us to have an unwavering trust in him.  In so doing, fear and worry 
    would have no power over us. So what was it that Job feared the most?  The scriptures do give us one thing that worried Job considerably, even constantly.
    </p>
    <p><b>
	“And his sons went and feasted in their houses, every one his day; and sent and called for their three sisters to eat and to drink with them. And it was so, when the days of their feasting 
    were gone about, that Job sent and sanctified them, and rose up early in the morning, and offered burnt offerings according to the number of them all:  for Job said, It may be that my sons have 
    sinned, and cursed God in their hearts.  Thus did Job continually.”
    </b></p>
    <p>
	What Job feared most was not that he would lose all his possessions, or that he would not be esteemed by his friends.  What he feared and what haunted him was the possibility that his children 
    would sin against God.  In so doing, he knew that judgment would come upon them.  This was the prevailing thought by those early generations after the flood.  This is exactly what his three friends 
    repeatedly told him, that is, God punishes the wicked.  Deep inside the spirit of Job, he had a fear that one day he would lose his peace and tranquility that everyone saw on the outside.  
    Job continually felt an unrest and turmoil on the inside because of what might happen to his children.  Now, Job says, that trouble and unrest has come upon him for all the world to see.              	
    All parents should want the best for their children.  The best does not necessarily mean financial success.  What is important to parents is that their children lead contented and fulfilled lives.  
    Christian parents should desire the very best.  The “best” is that they should know and serve God.  Nothing else can compare to that one thing, that is, living a life that is pleasing to God.  
    Solomon in his wisdom very succinctly explained what was mankind’s purpose in life.
    </p>
    <p><b>
	“Let us hear the conclusion of the whole matter:  Fear God, and keep his commandments:  for this is the whole duty of man.”
    </b></p>
    <p>
	As parents, it is natural that we should worry about our children.  But, God wants us to trust him in all things.  These are easy words to say, but letting them reside deep in your spirit, 
    and allowing them to produce that fruit which God desires, is extremely difficult.  Even Job, as righteous as he was, could not accomplish this.       
    All this now sets the stage upon which we will tell Job’s story.
    </p>
    <p>
	To me, the book of Job is one of the most interesting books in the Bible.  What makes it so particularly interesting is the historical time period in which the events are recorded.  Job was probably 
    born some 200 years after the flood (I personally believe he was the sixth generation from this cataclysm), and the events described in the book occurred when Job was about a 100 years old.  In the 
    very first verse, it states that Job lived in the land of Uz.  In Genesis 10:23, we discover that Uz was the grandson of Shem.  This was the third generation after the flood inclusive of Shem.  
    Again, the Bible stops its side-branched genealogy with Uz in order that we may connect the dots with the story as found in the book of Job.  From this same chapter, we know that the dispersion at 
    Babel happened in the fifth generation.  Undoubtedly, Uz left the area of Babel and settled in a new geographical area which would later be named after him.  It stands to reason that Job descended 
    from the lineage of Uz.  In verse 3, the scriptures tell us that Job was “the greatest of all the men of the east”.  It appears that he was not only esteemed by those who knew him because of his wealth, 
    but also because of his piety. 
    </p>
    <p>
	By this time, the population had increased tremendously.  The facts about the worldwide deluge were known to all, since the eyewitnesses to that cataclysm were still living.  God's judgment upon a 
    wicked civilization was still fresh upon the memory of mankind.  This truth must be considered when studying this ancient book.  Excluding the comments from Job and God, there are a total on nine 
    discourses made by Job's friends.  Each friend spoke in order with respect as to their ages.  Eliphaz, being the eldest, spoke first after Job breaks the silence. 
    </p>

<h3>First discourse and Job's response (chapters 4-7)</h3>
    <p>
	It is interesting that, although they most probably lived in different regions of the country from each other, Job's friends made an "appointment" to come together for the sole purpose to console Job 
    in his plight.  Undoubtedly, news had a way of being spread in those early times, probably from trading caravans.  One wonders how these men and Job became friends in the first place being from 
    different areas of the land.  I suspect that they might be distant relatives.  Of course, this is just speculation.  Interesting, too, are their actions upon seeing Job.  After tearing their clothes 
    and throwing dust upon their heads, they sat down without saying a word for "seven days and seven nights."  It is easy to fault Job's friends as we read this story, but who among us today would do what 
    they did?
    </p>
    <p>
	In the beginning, Eliphaz spoke kindly to Job and praised him for teaching so many about God, but that didn't last long.  Eliphaz reminds Job that God only punishes the wicked, and never the innocent.  
    This is obviously in reference to God's actions in the Noahian flood.  He then proceeds to tell Job of an experience that he personally encountered.  The Bible does not tell us when this happened to 
    Eliphaz.  One night, as he lay in bed, just as he was about to fall asleep, he saw an apparition.  Eliphaz was asked this question by this visiting spirit:  "Shall mortal man be more just than God?  
    Shall a man be more pure than his maker?"  I can't help but wonder, was Eliphaz relating something that really happened to him, or was he just using that to make a point with Job?  This seems to be very 
    relevant in later conversations, might I even say, accusations.
    </p>
    <p>
	Next, Eliphaz makes a statement that was most likely a belief that was accepted in those early generations after the flood.  I believe it was teachings passed down from Noah to his posterity.  
    The Bible records this:  "and his angels he charged with folly."  This was a truth initially revealed to Adam by God and passed on to Noah.  The truth is this:  that God imputed the angels with "folly".  
    The Hebrew word here means to brag, to boast.  It reminds me of the boasting of Lucifer in the Isaiah 14 passage.  We find his judgment in Matthew 25:41, "everlasting fire, prepared for the devil and his
    angels."  Yes, this fact has been known ever since the dawn of man.
    </p>
    <p>
	What Eliphaz is accusing Job of is pride.  He tells Job that if he were in Job's place, he would repent, and trust God's mercy.  He further states that it is a great thing that Job is suffering all this, 
    because it proves God's love for Job.  In summation, Eliphaz tells Job that his counsel to him is for his own good.
	In Job's response, he says that he wished that God would just take his life and be done with it.  Job says that what he is having to endure is more than what he can possibly bear.  He further states that
    there is nothing to hope for, there is no reason to even have a desire to live any longer.  Many since Job have uttered very similar words.  The problem is this, mankind does not know the future.  
    The future belongs to God alone.  Job could never have imagined that he would be healed, his wealth restored, that he would have more children, or that he would see his descendants even to the fourth 
    generation.  No, he knew none of this.
	Job criticizes his friends for not showing pity, instead, only condemnation.  He feels that he will soon not be part of this world anymore, and that he will die from his sufferings.  So, instead of pity
    or comfort, Job accuses Eliphaz of trying to scare him with dreams and visions.
	Finally, in desperation, Job exclaims, "I have sinned."  He says this in response to his friend's accusations.  I feel that his was more of a question, "if" I have sinned.  He wondered why God did not
    pardon him, if there was truly sin in his life.  It was Job's practice to offer sacrifices to God for any possibility of accidental sin.  The Bible says that Job did this "continually."
    </p>
   
<h3>Second discourse and Job’s response (chapters 8-10)</h3>
    <p>
	After seeing that Job had finished his comments and defense, Bildad continues with the same argument which Eliphaz had started.  He doesn’t even bother to enumerate Job’s past deeds of righteousness. 
    Instead, he immediately begins his condemnation and accusations.  Bildad makes the claim that God took the lives of his children because of their transgressions.  What kind of friend would stoop so low 
    as to disparage and demean a father’s children so soon after their death, and while he was still grieving?  Bildad doesn’t even stop there, though, he even impugns Job’s own righteousness by saying, 
    </p>
    <p><b>
    “If thou wert pure and upright.”  
	“For enquire, I pray thee, of the former age, and prepare thyself to the search of their fathers:                                                                          	
    For we are but of yesterday, and know nothing, because our days upon the earth are a shadow. Shall not they teach thee, and tell thee, and utter words out of their heart?” (8:8-10)
    </b></p>
    <p>
	Bildad challenges Job to go and seek out those from the “former age”.  The Hebrew word translated as “former” basically means first.  What does he mean by first age?  He is referring to those 
    who lived prior to the Noachian flood.  Yes, Noah and his three sons were still living at this present time of Job.  This will be discussed further in a later chapter.  Of course, Bildad knows that
    they will tell him that the unrighteous and evildoers were all judged and punished with a watery judgment.  The righteous were all spared.  In other words Job, you are nothing but a hypocrite 
    (see verse 13).
	Although the words spoken by Job’s friends may not have been empathetic, caring, or even comforting, there is much to be gleaned from them.  For instance, he compares the average age of their time 
    with the longevity of those that lived before the deluge, and even immediately after the flood.  He said that their lives were nothing but a “shadow” compared to the “former age.”  The scriptures 
    state that Noah lived 950 years, Shem lived to be about 600 years of age, his son Arphaxad lived 438 years, his son Salah lived 433 years, and his son Eber lived to be 464 years.  For the next five
    generations after that, people lived for 200 plus years.  Interesting, too, is his statement about their knowledge as compared to those who lived prior to the flood.  He said that their present
    knowledge was “nothing.”  Noah brought with him a wealth of information and knowledge, but most was lost in God’s judgment upon the world.  One can only imagine how much technology and scientific 
    knowledge that the antediluvians had acquired in those 1656 years prior to the flood, especially in light of their longevity.  They didn’t have to continue to reinvent the proverbial wheel.
	In Job’s response, he admits that what Bildad said was true about God and about the former age.  Obviously, he doesn’t concede to Bildad’s accusations though.  Undoubtedly, Job had heard the stories 
    about the great deluge from either Noah himself or one of his sons.  In verses 5 through 7, the descriptions given most probably are accurate recordings from those very eyewitnesses.
    </p>
    <p><b>
	“Which removeth the mountains, and they know not: which overturneth them in his anger. Which shaketh the earth out of her place, and the pillars thereof tremble. 	
    Which commandeth the sun, and it riseth not; and sealeth up the stars.”
    </b></p>
    <p>
	The destructive force of water is well known.  However, no one living has ever seen such a force on a global scale.  The pre-flood mountains were completely destroyed.  Job continues his history lesson
     by stating that the earth actually shook.  The Hebrew word means to “quiver.”  When did this happen?  For those who think that the early chapters of Genesis were just poetic stories to teach a moral 
     lesson, you might want to consider what the author of Genesis 7 thought about it.
    </p>
    <p><b>
	“In the six hundredth year of Noah’s life, in the second month, the seventeenth day of the month, the same day were all the fountains of the great deep broken up, and the windows of heaven were opened.”
    </b></p>
    <p>
	A writer of history could not have made it more specific and clear.  No, the story of Job was not just some fable or poetic diatribe.  It was a narrative history of great historical and moral impact 
    about that early time after the flood and about the human condition.
	In answer to the original question that I posed about the mechanism that caused the earth to shake or quiver, I will now give my thoughts on this point that was raised by Job, and which made an 
    unmistakable and indelible impression upon him.  Of course, the reader has probably already guessed the answer, since I quoted the Genesis 7 passage previously.
	In this passage of Genesis, it says that all the fountains of the great deep were broken up.  The Hebrew word for broken literally means to “to rend or rip up.”  The effects of the universal
    flood upon the earth was catastrophic.  Peter described it this way:  “Whereby the world that then was, being overflowed with water, perished.”  It has only been in recent decades that scientists
    have discovered that there were subterranean springs or fountains within the deep depths of the ocean.  Usually, they are located at or near the mid oceanic rifts.  These thermal springs enter the 
    ocean at nearly 600 degrees Fahrenheit.  But, this was old news to the inspired writers of the Bible.  It was on this specific date that the crust of the earth ruptured releasing an unfathomable
    amount of subterranean water into the atmosphere.  This force literally shook the earth.  What Job is relating to his friends and to us today is the fact that we serve an awesome God.
	Skeptics today often demand proof that God exists.  To Job, there was no doubt that God existed.  Notice what he says in verse 11:
     </p>
    <p><b>
	“Lo, he goeth by me, and I see him not:  he passeth on also, but I	perceive him not.”
    </b></p>
    <p>
	Here, Job acknowledges that God exists although he remains unseen.  The psalmist David proclaimed that, “The heavens declare the glory of God; and the firmament sheweth his handiwork.”  No, the 
    universe, the earth and all its beauty, did not accidentally appear by atoms bumping into atoms.  The Bible declares that those who would deny God are “willfully ignorant.”
	In his agony and despair, Job admits that he is weary of life.  He sees no hope or reason to continue to live.  How many people today have had these same thoughts?  Again, what Job did not know, and 
    what we don’t know is the future.  It may seem like the sun will never shine again in our lives, but it will.  Job asks God the question, “if I have sinned and all this is the result, then why don’t 
    you forgive and restore me.”  Again, Job is asking heartfelt questions, and at the time, no answer seems to be in sight.  We are all guilty of having these same feelings and thoughts, when we are going 
    through life’s trials and despairs.  Still, God was silent.
    </p>
    <p>
	There was a time in my life when I was going through one of those deep valleys of despair.  I had thoughts of suicide on a constant basis.  I would never have done this, but the thoughts were there.  
    I called my mother who lived in another state just to share what I was going through.  At that time, my dad was in late stage Alzheimer’s.  He did not know me or my mother.  After telling my mother 
    what I was going through, she said that just yesterday, her and my dad were sitting on the couch watching the television.  She said, all of a sudden, my dad turned to her and said, “our boy is hurting.” 
    Of course, I was 55 years old at the time. She tried to get him to repeat what he said, but he just went back to watching TV.  He had no idea what he just said.  I knew God was talking to me, and that 
    he knew what I was going through.  After that, thoughts of suicide never returned.  God is so good and merciful.  Job, too, would eventually hear from God.
    </p>

<h3>Third discourse and Job’s response (chapters 11-14)</h3>
    <p>
	Next, Zophar has his turn to speak, and he doesn’t waste any time in his accusations against Job.  So far, Job has been charged as being a sinner, a hypocrite, and now, he is called a liar in verse 3.  
    He even wishes that God would speak in condemnation of Job also.  In fact, he tells Job that he is not being punished enough for his sins.  With friends like Zophar, who needs any enemies?
	He then encourages Job to repent by saying, “stretch out thine hands toward him.”  Remember that Job is covered in boils from head to toe.  The Bible records that he scraped them with a broken piece 
    of pottery.  This caused blemishes, scabs, and scars.  Later, Job states that both friends and family were abhorred at his very appearance.  His good friend reminds Job of his hideous features, but gives
     him a ray of hope.  Zophar tells Job that if he would only repent, he could “lift up thy face without spot.”  In other words, God would cause him to be healed and restored.
	At this point, Job couldn’t hide his frustration any longer, he replied to Zophar in a rather sarcastic manner.  Essentially, he tells his friends that they know everything, and when they die, all 
    wisdom and knowledge will die with them.  Have you ever felt this way?  You have probably wanted to say something along those lines to some of your friends too.  One of my favorite tee shirts has a 
    comment on the back that I believe Job would have liked: <b>"I’M A GRUMPY OLD MARINE.  MY LEVEL OF SARCASM DEPENDS ON YOUR LEVEL OF STUPIDITY."</b>
    </p>
    <p>
	Job tells them “who knoweth not such things as these?”  The “such things” he is referring to are about God’s character, holiness, and judgment.  As I have already mentioned, the story of the flood was 
    a well known fact of history to those early generations after the deluge.  They all knew the who, what, when, and why of that cataclysm.  Job appeals to both biology and geology as evidence of God and 
    his majesty.   Scientists today search tirelessly for the origin and essence of life.  Job declares that it is God who has given and who controls that life-force.  In  verse 15, Job alludes to both
    the creation and the flood.
    </p>
    <p><b>
	“Behold, he withholdeth the waters, and they dry up:  also he sendeth them out, and they overturn the earth.”  (12:15)
    </b></p>
    <p>
	The word “withholdeth” means to holdback or assemble.  In Genesis 1:9, God tells the waters to “be gathered together.”  This was an event that began the 3rd creation day.  Job states that since it 
    was God who performed this, it was also God who sent them out to “overturn” the earth.  The word used in the Hebrew means to overthrow or tumble.  What a vivid description of the destructive force 
    that was leashed upon the earth.  It appears that the ancients loved to discuss and talk about the awesomeness of God.  We need to do more of that today.
    </p>
    <p><b>                          
	“With the ancient is wisdom; and in length of days understanding.
	He leadeth princes away spoiled, and overthroweth the mighty.
	He removeth away the speech of the trusty, and taketh away the understanding of the aged.”  (12:12,19,20)
    </b></p>
    <p>
	These few verses are rich in meaning and history.  The first of these verses affirms what has already been mentioned, that is, the antediluvians lived to be ancient and they acquired much knowledge 
    in the process.  The reader should read chapters 10 and 11 in Genesis in order to appreciate what Job says in just these few verses.  Chapter 10 is sometimes referred to as the Table of Nations.  
    It is really a genealogy of the descendants of Noah’s three sons.  The primary figure or personality in chapter 10 is Nimrod.  His name literally means let us rebel.  The Bible states that he was 
    “the mighty hunter before the LORD.”  There are many myths, stories, and traditions about this person who began to build cities and kingdoms.  The phrase “before the LORD” actually means “face to face” 
    or, as we would say today, “in your face.” It appears that it was Nimrod’s goal to confront God and rebel against him in any way he could.   As long as humanity all shared the same language, they could 
    accomplish just about anything they set their minds to do. 
    </p>
    <p>
	God always as a way to deal with wayward and rebellious mankind.  In chapter 11, we find that all he had to do to bring Nimrod down a notch or two was to confound their language.  This is what Job was 
    referencing in verses 19 and 20.  The word “spoiled” has the meaning of to make naked or strip.  That’s exactly what he did to Nimrod.  He stripped him of having control and authority over all the 
    people.  Job continued with his brief history lesson and explained that God “removeth” the speech of the “trusty.”  The Hebrew word translated “removeth” literally means to “turn off.”  The word 
    “trusty” might mean faithful or pillar.  A pillar is the support of a structure.  The word speech is the same word translate “language” in Genesis 11:1.  Nimrod was the “pillar” that held together
    and gave support to that early generation as they migrated from Ararat (due to the population growth) to the land of Shinar.  God specifically told Noah and his sons to multiply and fill the earth.  
    This is how Nimrod rebelled against God’s command.  Instead of obeying God’s command to spread out, Nimrod told the people to stay together and build a tower and a city.  God aborted Nimrod’s plan 
    simply by turning off their language.  It was here at Babel where God confused the languages and they could no longer communicate.  As a result, they began to separate according to their language and
    families.  God always has the answer.  One last point that Job mentioned was the fact that God took away the understanding of the aged.  When those seventy families separated, none had all the 
    knowledge.  Up to that point, they had “accumulated” knowledge, that is, their total knowledge depended upon their unity.  
	Job went through that whole discussion to prove to his friends that he knew just as much as they.  His immortal words that have often been repeated were:  “Though he slay me, yet will I trust in him.”  
    Job unequivocally maintains that he will be justified.  He asks a question that millions have asked since:  “If a man die, shall he live again?”  Obviously, it is a rhetorical question.  
    Job knew the answer.  He said that he will wait “till his change come.”  Sadly, today many do not know that simple answer.  Millions believe that when they die, that will be the end of it.  
    They have no hope for anything beyond this life.
    </p>

<h3>Fourth discourse and Job’s response (chapters 15 – 17)</h3>
    <p>
	In his second attack, Eliphaz accuses Job of useless talk and empty words which serve no real purpose or good.  Instead of trying to justify himself, Eliphaz told Job that he should fear God and pray.  
    Again, he reminds Job that he doesn’t know more than his friends.  He should heed their counsel.  He then tells Job to listen carefully to what he is about to hear, because he heard it first hand.
    </p>
    <p><b> 
	“With us are both the gray-headed and very aged men, much elder than thy father.”
	I will shew thee, hear me; and that which I have seen I will declare; Which wise men have told from their fathers, and have not hid it: Unto whom alone the earth was given, and no stranger passed 	
    among them.”  (15:10, 17-19)
    </b></p>
    <p>
	Here, Eliphaz distinguishes two groups of the elderly:  the gray-headed and the very aged men.  It appears that Job’s father would be in the gray-headed group.  From Genesis 10 and 11, the first four 
    generations after the flood, inclusive of Shem, lived to be 400 plus years.    The fifth through the ninth generations lived to be 200 plus years.  This appears to be the two groups which Eliphaz is 
    referencing.  What he is about to reveal came directly from “wise men”.  The fathers of these wise men lived when “no stranger passed among them.”  Obviously, this was soon after the flood before the 
    earth became very populated.  It would be reasonable to assume that he is speaking of the 3rd and 4th generations from the flood.  The population from the first, second, and third generations would be 
    low enough to where everyone knew each other.  The “wise men” probably lived in the fourth generation.
	In my comments of chapter 8, I quoted a verse which spoke of the “former age”.  The former age was the time before God judged the world with a universal flood.  The Greeks make mention also of 
    this “former age”.  They described it as a time when men lived to be of great ages, when the trees gave them fruit all year, and when the weather was always warm and sunny.  They referred to it as the 
    Golden Age.  The sons’ of Noah became a repertoire of information whose descendants, no doubt, regularly sought them out to extract knowledge from them.
	The Sumerians were one of the oldest civilizations who settled near the Tigris and Euphrates rivers soon after the flood.  Archaeologists have discovered thousands of clay tablets which give us 
    insight into that early period.  One tablet records a father giving advice to his son:
	“Would you achieve success?  Then seek out the first generations...My son, seek out the first generations, inquire of them.”
	“He (the ‘big brother’) vaunted not his knowledge, his words are restrained…had he vaunted his knowledge, eyes would pop.  Attend him therefore before the sun rises and before the night cools; do not 
    turn back the pleasure of being by the side of the big brother; having come close to the ‘big foreheads’ your words will become honored.”
    </p>
    <p>
	In Jack Cuozzo’s book, Buried Alive, he presents the hypothesis that the protruding foreheads of the Neanderthal merely represented advanced ages.  This has much credence, since many Neanderthal remains 
    were found in upper strata above the more “modern” human remains.  This means that the Neanderthals lived longer and died after their modern contemporaries.  This fits in perfectly with what the 
    Sumerian tablets record and what we also find in the writings of the book of Job.  By the way, Jack Cuozzo is a forensic dentist who has actually taken x-rays of authentic Neanderthal fossil remains.
    </p>
    <p><b> 
	“The wicked man travaileth with pain all his days, and the number of years is hidden to the oppressor.
	A dreadful sound is in his ears:  in prosperity the destroyer shall come upon him. For he stretcheth out his hand against God, and strengtheneth himself against the Almighty.”  (15:20, 21, 25)
    </b></p>
    <p>
	From these verses, we discover that these wicked men, although prosperous and long-lived, did not experience peace or contentment.  They rejected the only One who could give them peace.  Perhaps 
    the reader noticed the strange phrase, “a dreadful sound is in his ears”.  The word dreadful means “alarm or terror”.  The word sound means “proclamation or a call”.  The word ears denotes “to hear”.  
    These evil antediluvians heard a proclamation that instilled terror into their hearts.  This probably refers to the warning of impending destruction by the preaching of Noah (2Peter 2:5).  However, 
    this “call” to repentance did not change their hearts or their lifestyle.  Finally, we find mankind in open and flagrant rebellion against God.  What they exhibited was an overt hatred for God.  
    They failed to realize that the very God who they despised and rejected was the one responsible for all the material blessings which they loved and enjoyed.  How very reminiscent of that mindset is 
    the world in which we live today.
	After this brief history lesson, Eliphaz reminds Job that the “congregation of hypocrites shall be desolate.”  The Hebrew meanings for these two words can be multitude and soiled, respectively. 
    “Soiled” means stained by sin.  Again, Eliphaz compares Job’s condition to that of the sinful antediluvians.  Their sins were met by judgment, as it is with Job.
	Instead of receiving empathy from his friends, he is met with accusations and condemnation.  No wonder Job exclaims, “miserable comforters are ye all.”  His friends have not helped him at all.  
    Job says that his grief has not been mitigated, instead, he has just grown more weary.  Although he has been scorned by his friends, Job maintains his integrity and innocence.  He pleads to God for 
    mercy.  He is truly in the valley of despair.  He said that he had nothing to look forward to except the grave.  Job wore sackcloth for clothing and sprinkled dust upon his head.  This was outward 
    show of how he felt on the inside.  
	The Bible does not tell us how long Job had to suffer, but it was long enough for news to reach his friends.  Also, it took time for them to consider the situation and decide to make the journey to 
    visit.  This back and forth communication took time.  To Job, each day seemed like it would never end, and the nights seemed longer than the days.  He had no idea of when, or if, this suffering would 
    ever end. There are many people today who feel as Job.  The only thing they can envision is hopelessness and despair.  They cannot comprehend or even believe that “this too shall pass.”  When people 
    are in these depths of anguish, that is when they need friendship and encouragement the most.  Friends need to be there to give hope that God will see them through.
    </p>

<h3>Fifth discourse and Job’s response (chapters 18 – 19)</h3>
    <p>
	This is Bildad’s second time at bat.  In this entire discourse, the overriding theme is that God punishes the wicked.  Of course, the insinuation is that since Job is being punished, then he must 
    be wicked and hiding his sins.  Again, that which is indelibly imprinted upon the minds of men in these early generations after the flood, is the fact that God judged a wicked world by a watery 
    judgment.  No doubt, stories about the horrors of the flood were passed down from generation to generation.
	One of the earliest works of literature is called the Epic of Gilgamesh.  It was written upon clay tablets and found in the region of Mesopotamia, that region where the first civilization after the 
    flood was built.  Part of this epic recounts the story of the universal deluge.  The “Noah” of the Babylonian flood tradition was called Utnapishtim.  Naturally, the names would not be the same since 
    this was after the confusion of languages at the tower of Babel.  In this story, Utnapishtim tells of the horrors which he witnessed.  
	“When the storm came to an end and the terrible water spouts ceased, I opened the window and the light smote upon my face;  I looked at the sea, tentatively observing, and the whole humanity had returned 
    to mud.  Like seaweed the corpses floated.  I was seized with sadness;  I sat down and wept, and my tears fell upon my face.”
	I believe this was an actual and true story told by Noah to his descendants for several generations.  Noah’s father had sons and daughters.  This means that all of Noah’s brothers, sisters, 
    nephews, nieces, uncles, and aunts all perished in the flood.  When Noah looked at all those corpses, he was saddened with the knowledge that some of those bodies floating on the water were many 
    of his own loved ones.  The population of the world at that time could have been millions, possibly billions.  Yes, that memory of the judgment of an evil world was haunting to those early generations
     after the flood.  This is why that thought about God punishing the wicked keeps coming up throughout the book of Job.
	To those skeptics that believe in evolution which cynically ask why  we cannot find human remains in sedimentary layers along with dinosaurs or other extinct animals, the answer is simple.  Humans are 
    the most intelligent and would have moved to higher ground, and also would have found something that floated to cling to.  They would have been the last to succumb to the water’s devastation.  
    Their floating corpses would eventually have been consumed by the various creatures found in the oceans. Job responds by saying “these ten times” you, my supposed friends, have reproached me.  
    The number “ten” in the Bible denotes completeness or fullness.  They did not merely reprove him of his alleged hidden sin, but they attacked his very character. Job pleads with them to have pity on his 
    plight instead of heaping condemnations upon him.  His family, his close friends, and even his servants have all abandoned Job, and try to avoid him as much as possible.  
    </p>
    <p><b> 
	“My breath is strange to my wife, though I intreated for the children’s sake of mine own body.”  (19:17)
    </b></p>
    <p>
	The Hebrew word for “breath” is ruach and can be translated breath or wind or spirit.  Here Job uses it to refer to his spirit, his innermost soul.  His very existence has become wearisome and 
    loathsome to his wife.  She is tired of his complaining about his condition.  She just wants him to “curse God and die.”  Job pleads with her to at least commiserate with him the loss of their 
    children.  She wants nothing to do with him.  Job has been physically and socially abandoned and isolated from all those whom he loved.
    </p>
    <p><b>
	“Oh that my words were now written! Oh that they were printed in a book!”  (19:23)
    </b></p>
    <p>
	Little did Job realize that one day his words would be recorded for all posterity to read.  Millions have received comfort, knowledge, and wisdom from what Job had to endure.  God allowed the 
    curtain to be pulled back enough for us to see the spiritual workings behind the scenes of Job’s trials.
    </p>
    <p><b>
	“For I know that my redeemer liveth, and that he shall stand at the latter day upon the earth: And though after my skin worms destroy this body, yet in my flesh shall I see God.”  (19:25, 26)
    </b></p>
    <p>
	Here, we see a truth that I believe was passed from Adam to Noah to Job.  It was a truth and a hope that mankind had held to since those days in the Garden when God confronted Adam and Eve with 
    their sin.  The truth I am referring to was that promise of a coming redeemer as recorded in Genesis 3:15.  Not only did Job proclaim his confidence in a redeemer that would come in the
    “latter day” (Jesus), he also believed that he would be given a new body in the resurrection.  Unknown to Job at this time, was the fact that after his trial was over, he would “see” God.  
    It is hard, actually extremely difficult, for us to see God when we are going through a valley and experiencing trials in our lives.  But, that is why the book of Job is so important and valuable.  
    We need to remember that “this too shall pass.”  God will bring us through.
    </p>

<h3>Sixth discourse and Job’s response (chapters 20 – 21)</h3>
    <p>
	Zophar closes out the second round of discussions of Job’s friends.  He is still convinced that Job must be hiding some sins from them.  Zophar tells Job that a hypocrite will eventually be found 
    out, and that his facade of righteousness will soon be removed.  He does not outrightly accuse Job of certain deeds, but it is insinuated.  In a round about way, he hints that Job is suffering 
    because he has “oppressed and forsaken the poor.”  He even proposes that Job took someone’s home from them by force.  Maybe Zophar is suggesting that perhaps this is how Job accumulated his wealth.  
    He then relates to Job a story that had been passed down for generations.  
    </p>
    <p><b>
	“When he is about to fill his belly, God shall cast the fury of his wrath upon him, and shall rain it upon him while he is eating.
	The increase of his house shall depart, and his goods shall flow away in the day of his wrath. This is the portion of a wicked man from God, and the heritage appointed unto him by God.”  (20:23, 28-29)
    </b></p>
    <p>
	This story by Zophar paints a picture of the events at the onset of that great Deluge.  The Bible records that on the same day that all the animals had been loaded, and Noah and his family entered the 
    ark, it began to rain. There is a passage in Matthew spoken by Jesus that is very reminiscent of the words here in Job.  Jesus spoke of that day of wrath when God judged the world with a flood.
    </p>
    <p><b>
	“But as the days of Noah were, so shall also the coming of the Son of man be. For as in the days that were before the flood they were eating and drinking, marrying and giving in marriage, until the day
    that Noe entered the ark, And knew not until the flood came, and took them all away; so shall also the coming of the Son of man be.”  (Matthew 24:37-39)
    </b></p>
    <p>
	In his response, Job tells his friends to listen carefully to what he is about to say.  He confesses that his complaint is not with them, but with God.  He states that when he even thinks about 
    it, he is gripped with fear.  As a man, should he dare question what God is doing or allowing to be done to him?  After all, in his heart, Job believes he is innocent of wrongdoing.  As he contemplates 
    the lives of the wicked before the flood to his own suffering, Job feels that there is an inconsistency in God’s judgment.   He sarcastically tells his friends that after he has said what is on his heart,
    then they could continue to mock and ridicule him.
    </p>
    <p><b>
	“Wherefore do the wicked live, become old, yea, mighty in power? They spend their days in wealth, and in a moment go down to the grave. Therefore they say unto God, Depart from us; for we desire not the knowledge of thy ways. 
    What is the Almighty, that we should serve him? And what profit should we have, if we pray unto him?”  (21:7, 13-15)
    </b></p>
    <p>
	Remember, that before the flood, the Bible said that they lived to ancient ages and became “mighty men...men of renown.”  In living such long ages, they had accumulated much wealth.  They even mocked 
    God and told him that they had no need for him.  I have encountered many atheists and agnostics who reject God, especially in today’s social media.  They flippantly mock God as those in Job’s day.  
    But, one day, they will all stand before the Judge of the earth and give an account of their life’s deeds.  
	These ancient ones had the joy of seeing their children and many generations of their descendants.  Job, knowing that these were wicked men, could not reconcile their blessings of life with what he, 
    a righteous man, was having to endure.  The wicked, Job reasoned, did not see judgment until the very end.  Whereas, he is having to suffer in the present time, while he is still relatively young.  
    Where is the justice in that?  Job realizes that he is treading on dangerous ground in questioning God’s justice.  That’s what made him so fearful.
	Have we not wondered, just as Job, why aren’t the wicked punished?  It appears that their life is full, even as they continue in their evil ways with impunity.  He explains that even someone walking 
    down the road, when asked about the fate of the wicked, knows that they will ultimately be punished.  But, Job challenges his friends with this question:  who will bring them to justice now?  
    Although Job’s questions to his friends might seem to them interesting in an abstract way, they were life and death questions to Job.  
    </p>

<h3>Seventh discourse and Job’s response (chapters 22 – 24)</h3>
    <p>
	In chapter 22, the last comments made by Eliphaz are recorded.  Remember, when Eliphaz first began to speak, he praised Job for his piety and all his humanitarian deeds.  But now, he doesn’t restrain 
    himself in his accusations against Job.  As he sits there and looks at Job in his pitiful condition, Eliphaz convinces himself that Job must have sinned.  Again, this mindset is based on the narrative 
    and tradition that has been passed down in the previous few generations, that is, that God punishes the wicked.  He tells Job, “Is not thy wickedness great?  And thine iniquities infinite?”  Here are 
    Eliphaz’s accusations made against Job:
    </p>
    <ol>
        <li>You have taken a pledge from your brother for no reason.</li>
        <li>You have taken clothes from those who barely had anything.</li>
        <li>You have even refused to give water and food from those that were hungry and thirsty.</li>
        <li>You have denied help even to the widows who came and asked for assistance.  Those children, who no longer had a father, you have taken advantage of.</li> 
    </ol>
    <p>     
	Eliphaz uses Job’s own words against him.  He asks Job, surely you remember the life and path that the wicked have taken.  Eliphaz told Job that these evil persons were judged and punished before they 
    could even finish their allotted life spans.  They were all destroyed by the flood.  These were the very ones you spoke about earlier that said to God, “Depart from us.”  He told Job that even though 
    God had initially given them much wealth, it would all be taken away from them because of their wickedness.  Eliphaz is making the analogy that the exact same thing has happened to Job.  He ends his 
    speech to Job by again encouraging him to confess his sins and ask God for mercy.
	Job responds to Eliphaz by declaring that if only he could find God, then he would be able to defend his integrity and righteousness.  Job says that he is confident that God would agree that he is 
    innocent of all these accusations.  He says that when all this is over, he would come out untarnished and pure, just like gold.  Job steadfastly proclaims:
	“Neither have I gone back from the commandment of his lips; I have esteemed the words of his mouth more than my necessary food.”
	How did Job know what God’s commandments were?  Where did Job ever hear the words that came from God’s mouth?  Earlier, I made reference to the clay tablets found in the ancient city of Ur.  
    Yes, writing was accessible, but there was no Bible to guide him.  We know from the first chapter that Job was knowledgeable about the need for sacrifices.  Obviously, the knowledge about God and 
    what he desired from mankind came from the teachings of Noah that he passed on to later generations.  Also, from the context, we can ascertain what God desired, and what he wanted mankind to practice.  
    God placed much emphasis upon the fact that mankind should help the helpless.  Who were these that were less fortunate than others?  The text tells us:  the fatherless or orphans, the widows, the poor, 
    the ones that society had seemingly forgotten.  We know from scripture that God never changes.  His character, his essence, his values always remain constant.  In the Ten Commandments, the first four 
    addressed man’s duty to God, but the last six focused on mankind’s duty to each other.  Remember, when someone asked Jesus what the greatest commandment was?  His answer affirmed what God had 
    established even from the dawn of mankind:  (1) Love God, and (2) love your fellow man.  Yes, it’s that simple.	Job continued to answer Eliphaz.  In answering him, Job admits that he does not 
    understand the “why” of what was happening to him.
    </p>
    <p><b>
	“For he performeth the thing that is appointed for me: and many such things are with him. Therefore am I troubled at his presence:  when I consider, I am afraid of him. 
    For God maketh my heart soft, and the Almighty troubleth me: Because I was not cut off before the darkness, neither hath he covered the darkness from my face.”  (23;14-17)
    </b></p>
    <p>
	Job has accepted the fact that God will do that thing that he has decreed for Job.  Job knows that it is not just an accident or happenstance.  The Hebrew word for appointed literally means to 
    “cut in stone.”  That is why he said that he trembled at the presence of God.  He further confesses that he is afraid of God.  This word has the meaning of “to be startled” or “stand in awe.”  
    Most likely, Job experienced both emotions as he contemplates God’s majesty and purity.  He is made to be faint at heart as he stands before God. In his heart, Job felt that he had done all that he 
    possibly could do in his service to God.  He knew what God had commanded.  Job was faithful in his love and devotion to his Maker.  This fact was a consternation to Job.  When he thought of his Godly
    grandfather, Methuselah, he knew that he did not have to go through the judgment of the flood.  Jewish tradition said that Methuselah died the week of the flood.  Methuselah’s name meant “when he dies, 
    judgment.”   Yet, here he was having to go through this darkness of suffering.  Job wonders why. In chapter 24, Job goes through a whole litany of sins which the antediluvians were guilty.  
    Essentially, many of these were the same as what Eliphaz accused Job of commiting.  Job reminds his friends that many of these lived a full, prosperous life and went to their graves without having 
    to face the judgment of God (they died before the flood).  Job challenges them to say that what he just said was not true.
    </p>

<h3>Eighth discourse and Job’s response (chapters 25 – 31)</h3>
    <p>
	Interestingly, this would be the shortest comment from his friends, yet the longest of Job’s responses.  Here, Bildad the Shuite concludes with what all have already confirmed, that is, God is 
    all-powerful and beyond the comprehension of man.  He says that all men are impure in comparison to God.  Even the moon and stars, the celestial bodies in heaven, are imperfect before their Creator.  
    Therefore, Job, how can you still maintain that you are righteous and just before him?  He asks Job, “How can man be justified with God?”  Bildad is here just repeating what Eliphaz said at the very 
    beginning in his story about the visiting spirit in a night vision. In the first four verses, Job sarcastically replied to his friend.  Who have you helped?  Who have you lifted up from despair?  
    Who have you counseled?  Obviously, he did not help Job.  By the way, Bildad, what “spirit” gave you this wisdom of counsel?  Job mockingly asks Bildad, did a “spirit” come to you too? 
    Job then began to declare the awesomeness of God.
    </p>
    <p><b>
	“He stretcheth out the north over the empty place, and hangeth the earth upon nothing. He bindeth up the waters in his thick clouds; and the cloud is not rent under them. He holdeth back the 
    face of his throne, and spreadeth his cloud upon it. He hath compassed the waters with bounds, until the day and night come to an end.”  (26:7-10)
    </b></p>
    <p>
	Long before the Babylonian, the Medo-Persian, the Grecian, and the Roman empires, man had knowledge of the mysteries of the universe.  Yes, ancient man knew that the earth was supported by nothing.  
    Polaris, the North star, is situated near the “empty place.”  The Hebrew word translated “empty” means desolate.  However, it wasn’t until 1981 that the Bootes Void, otherwise known as the Great Void 
    or Super Void, was discovered.  This region in space is a vast emptiness.  It’s diameter has been estimated to be about 250 to 330 million light years.  Since light travels at 186,282 miles per second, 
    a light year is almost 6 trillion miles.  For comparison, our Milky Way galaxy is approximately 100,000 light years in diameter. A little over 4000 years ago, Job made a declaration that was probably 
    common knowledge to those of his day, that is, that the earth was spherical.  Job said that God had encircled the oceans with boundaries.  In fact, Job said that there was a place in which day and 
    night met.  Today, we call that “twilight.”  Because our atmosphere bends sunlight, it produces a “gray line” or “twilight zone.”  This zone covers a distance of about 37 miles.  If it were not for 
    the atmosphere, night and day would hardly have any transition at all.  The line that separates day and night is appropriately called the “terminator.” One of the accusations made against Job was 
    that because he was hiding his sins and feigning to be righteous, he was therefore a hypocrite.  He responds with this statement: 
    </p>
    <p><b>
	“For what is the hope of the hypocrite, though he hath gained, when God taketh away his soul?”
    </b></p>
    <p>
	Jesus repeated almost these very same words:  <b>“For what shall it profit a man, if he shall gain the whole world, and lose his own soul?” To God, the worth of a single soul is more than all this world.</b>  
    John 3:16 describes the extent to which God loves us:  <b>“For God so loved the world, that he gave his only begotten Son.” </b>
    </p>
    <p>
    In chapter 28, we see the ingenuity of man in searching the minerals from the earth.  Ancient men knew where and how to extract the treasures of the earth.  But, the one thing that man could not find was  
    wisdom.  It is God who knows the origin and essence of wisdom.  It is God who can look from his throne in heaven and view the whole earth and all its inhabitants.  It was God who made a weight for the 
    “winds” or atmosphere.  He even weighed the waters from its dimensions. In every school year (I teach chemistry and physical science), I have the students guess the weight of the air 
    that is in my classroom.  My classroom is rather large since it includes a lab area.  They know that they need to find the volume of the room, so they measure that first.  I then give them the weight 
    of 1 cubic foot of air, which is .0807 pounds per cubic foot.  They are always shocked to discover that the air in our room weighs about 900 pounds.  I then show them a 12 inch ruler.  I tell them to 
    imagine a one foot cubed container filled with water.  They then are told to guess the weight of the water in the container.  Again, they are amazed at how much that little bit of water weighs. 
    Job then declares how to achieve wisdom.
    </p>
    <p><b>
	“And unto man he said, Behold, the fear of the Lord, that is wisdom; and to depart from evil is understanding.”  (28:28) <br/>
	“The fear of the LORD is the beginning of wisdom:  a good understanding have all they that do his commandments:  his praise endureth for ever.”  (Psalms 110:10) <br/>         
	“Let us hear the conclusion of the whole matter:  Fear God, and keep his commandments:  for this is the whole duty of man.”  (Ecclesiastes 12:13)    
    </b></p>
    <p>  
	In 2002, a Christian pastor wrote a book titled, “The Purpose Driven Life.”  In his book, Rick Warren gave five purposes for mankind.  Solomon, who God endowed with wisdom, 
    made it very simple as to man’s purpose in this life when he penned the words found in Ecclesiastes 12:13.  The Hebrew word for “fear” means to reverence.  In fact, it means to reverence exceedingly.  
    We are not to hold back or diminish in any way our awe and reverence toward God.  Yes, this is true wisdom. In chapter 29, Job reminisces and pines for the days before calamity fell upon him.  No where in the book 
    of Job do we find the length of time that he had to endure his suffering.  However, in verse two, we get a hint that it lasted for at least several months, maybe close to a year.   
	“Oh that I were as in months past, as in the days when God preserved me.”
    The blessings of God upon Job began even at a young age.  He had a special walk and intimacy with God (verse 4).  Job continued with his reminiscing about his children and the time when life was going so well with him.  
    He said that both young and old gave him honor.  In verses 12-17, he gives the reasons why people admired him.  It was because he had a tender heart toward those who were less fortunate than he:  the poor, the orphans, 
    the widows, the blind and the lame.  He made it his business to render aid and assistance to them.  He was also in a position to render due justice to those who had done evil.  He was always willing to give counsel to those who needed it. 	
    In these verses and in others in the book of Job, one can discover what is truly important to God.  Let’s see what they are.
    </p>
    <p><b>
    “Behold, thou hast instructed many, and thou hast strengthened the weak hands.  Thy words have upholden him that was falling, and thou hast strengthened the feeble knees.”  (4:3,4) <br/>
    “Because I delivered the poor that cried, and the fatherless, and him that had none to help him. The blessing of him that was ready to perish came upon me:  and I caused the widow’s heart to sing for joy… 
    I was eyes to the blind, and feet was I to the lame. I was a father to the poor…And I brake the jaws of the wicked…”  (29:12-17) <br/>         
    “Did not I weep for him that was in trouble?  Was not my soul grieved for the poor?”  (30:25) 
    </b></p>
    <p> 
	We have mentioned some of this previously, but since we find it several times in this ancient book, it is worth noting again.  What God deems important, we should also.  What was of importance in Job’s time is just as important in our own 
    present age.  Empathy, compassion, generosity, benevolence and love to our fellow man touches the heart of God.  Jesus demonstrated this throughout his earthly ministry.                                         
   	In chapter 30, Job laments that all that has changed now.  Instead of rendering him honor and reverence, Job now receives derision and ridicule, even from the young and those that were of base character.  He said that he wept for 
    those who were in trouble, but none weeps for Job. He tried to get sympathy from those in the assembly, where once he was held in high esteem, but his cry of despair fell on deaf ears.
    </p>
    <p><b>
	“I am a brother to dragons, and a companion to owls.”
    </b></p>
    <p> 
	This is not a phrase that we use today, however it was in the time of Job, and even centuries after Job.  What did it mean then?  First, I want to consider the word “dragon.”  The Hebrew word for dragon was tanniyn or tanniym which means “elongate.”  
    In other words, it was large.  The word was usually used to denote either land or marine monsters.  In fact, mankind used the word “dragon” up until 1841 when the word “dinosaur” was finally coined to describe these monsters.  As mankind migrated 
    farther and farther out after the tower of Babel, he continually drove these creatures into more desolate places.  I realize that evolutionists today ridicule the idea that mankind and dinosaurs ever coexisted.  However, their presence is 
    recorded in petroglyphs (rock engravings), clay and ceramic artifacts, and written and oral history in cultures all over the world. Both the dragons and the owls were said to live in desolate places and both produced mournful sounds.  
    This is why Job now feels a kindred to both of these creatures.  Let’s look at a few other passages of scripture to see how they fit with this scenario.
    </p>
    <p><b>
	“Nebuchadrezzar the king of Babylon hath devoured me, he hath crushed me, he hath made me an empty vessel, he hath swallowed me up like a dragon…”  (Jeremiah 51:34) <br/>
	“Though thou hast sore broken us in the place of dragons, and covered us with the shadow of death.”  (Psalms 44:19) <br/>
	“Therefore I will wail and howl, I will go stripped and naked:  I will make a wailing like the dragons, and mourning as the owls.”  (Micah 1:8) <br/>
	“And I hated Esau, and laid his mountains and his heritage waste for the dragons of the wilderness.”  (Malachi 1:3)
    </b></p>
    <p> 
	Job ends his defense by saying that if he had committed any of those offenses of which he had been accused, then how would he answer God when he stood before him?  But, Job knows down deep in his heart that he stands guiltless of those accusations.  
    He is so confident of this fact, that he welcomes the time when he stands before his Maker.  He said that it was his heart’s desire that God would answer him.  In just a short time, God would answer Job’s prayerful desire.  
    The author of this ancient story writes this:  “The words of Job are ended.”     
    </p>
       
<h3>Ninth discourse (chapters 32 – 37)</h3>
    <p>
	This last speaker is not listed as one of Job’s friends.  He is identified as Elihu, the son of Barachel the Buzite.  We do not know if Job had ever met this young man before this encounter.  He might have.  Job was well known 
    throughout the region of the East.  It may be that Elihu just wanted to tag along to finally meet Job, this man of renown.  When I think of Elihu, the term ‘millennial” comes to mind.  In today’s society, a millennial has sometimes
    been designated as a person who is between 22 to 38 years of age. Generally, the millennials are characterized as being more proficient in technology.  Sometimes they come across as being “know-it-alls.”  Obviously, this is a broad brush
    characterization.  As the reader will quickly see, Elihu definitely fits into this category.  In this one discourse, he speaks longer than any of Job’s three friends had done previously, even though they spoke multiple times.  Elihu said that 
    he had held back so long, that he was about to explode because he had so much to say.  Let’s see if he indeed can add some wisdom and understanding to Job’s plight. One of the last things that Job said was, “my desire is, that the Almighty would answer me.”  
    Elihu told Job that he was about to get his wish.  Elihu boldly and unabashedly stated that he came in place of God to answer Job.  At least he humbled himself a little by telling Job that, he too, was made of clay (Those early generations after the flood 
    all knew the creation story).  Therefore, he would not frighten or use a heavy hand against Job.  What a guy!  He then tells Job that he has listened attentively to Job’s declarations of innocence.  But, Elihu confidently states that Job is indeed guilty 
    and unjust regardless of his claims otherwise.  God is using this tragedy to turn him to repentance.  Elihu tells Job to not speak or interrupt because:  “I shall teach thee wisdom.”  I’m sure Job is sitting on the edge of his chair ready to absorb all that 
    he can from this fount of knowledge.  What Elihu now offers as evidence against Job is without a single iota of proof.  He said that Job made it a habit to associate himself with wicked and evil men.  This was an assumption based on what Job had said.  
    He further stated that Job’s speeches were void of any knowledge or wisdom.  He continued by saying that since Job, in his refusal to heed the counsel of his friends, had committed the sin of rebellion.  Elihu said that because of this final sin, his judgment 
    and desire was that God’s punishment upon Job should continue.  He again slanders Job by claiming that Job made this statement:  “My righteousness is more than God’s.”  Job never said anything close to this.  It was an outright lie.
	“Therefore doth Job open his mouth in vain; he multiplieth words without knowledge.”
	This is just another slanderous comment against Job made by Elihu.  I want the reader to take note of these last words of character assassination.  You would think by now that Elihu would be through with his tedious recitals of libels against Job.  
    But he isn’t.  He told Job to “Suffer me a little, and I will shew thee that I have yet to speak on God’s behalf” (youthful arrogance).  He then continued for another two chapters with more baseless accusations.
    </p>

<h3>Tenth discourse and Job’s response (chapters 38 – 42)</h3>
    <p>
    God now enters the scene with his own words of wisdom.  The Bible said that God spoke “out of the whirlwind.”  There was no doubt to any that this was indeed God who spoke.  I find it almost humorous that the very first words that God uttered was:  
    “Who is this that darkeneth counsel by words without knowledge?”  Here, without ever mentioning his name, God deflates Elihu’s ego down to zero by repeating his own “words without knowledge” comment back to him. Job had been longing to be able to speak 
    to God and to plead his case before him.  Now was his opportunity.  But, before God would allow a response from Job, he had some questions specifically for him to answer first.  Mr. T had the famous catchphrase of “pity the fool” which he first used as 
    the boxer Clubber Lang in Rocky 3.  As a teacher, I certainly pity anyone who would have to take a test which God had prepared.  I believe that Job was probably cringing at the very thought of what was about to happen. 	God begins with the topic of Creation. 
    Job, were you there when I created the earth?  Do you even know or understand how I did it?  Do you understand the secrets of geology, meteorolgy, astronomy, genetics or biology?  This was the essence of the first series of questions.  Let’s consider a few 
    of these questions God posed to Job in this little pop quiz.
    </p>
    <p><b>"Hast thou entered into the springs of the sea?</b> <br/>Today’s scientists had suspected that there were springs below the ocean floor for many years.  They had observed underwater volcanoes spewing forth tons of steam.  But, it wasn’t until the 1970s when they 
    actually gathered direct evidence of their existence.  Obviously, ancient man knew of these springs over 4000 years ago.  The questions about God’s creation were things which Job had seen, or else, had knowledge of.  His knowledge was superficial.  
    There was no depth of understanding.  It reminds me of an old saying, “a little knowledge is a dangerous thing.”
    </p>
    <p><b>
    Hast thou entered into the treasures of the snow...treasures of the hail?</b><br/>                                                                                                         
    Job most probably lived somewhere in what is now Saudi Arabia.  In today’s climate conditions, snow is a rare event in this geographical region.  But, in Job’s time, snow was more of a common event.  This will be discussed in more detail in the next 
    question posed to Job.  Especially interesting was the statement made by God about hail.  He said that hail was kept in reserve or a depository as a weapon of war.  The Bible records at least two times in which God specifically used hail to accomplish an end.  
    The first time was recorded in Exodus 9:22-26.  Here, hail was one of the ten plagues that God used against Egypt to foment the freedom of Israel from Egyptian bondage.  There was a battle recorded in Joshua 10:11, where God more specifically used hail as a weapon of choice. 
    </p>
    <p><b>  
	“And it came to pass, as they fled from before Israel, and were in the going down to Bethhoron, that the LORD cast down great stones from heaven upon them unto Azekah, and they died:  they were more which died with hailstones than whom the children of Israel slew with the sword.”
    </b></p>
    <p> 
	Some theologians and scholars scoff at this account in the book of Joshua.  They suggest it may have elements of truth, but it is an obvious exaggeration.  But, just a quick research in wikipedia, which gave 74 cited references, lends much credence to the Joshua account.  
    The largest hailstone ever recorded was found in South Dakota in 2010.  This hail had almost an 8 inch diameter and weighed nearly 2 pounds.  Hail stones can reach velocities of between 70 to 100 mph, if they are baseball size and larger.  
    I will list just five incidences that I found in the wikipedia article.
    </p>
	<ol>
        <li>In the 9th century, several hundred people were killed by a hailstorm in India.</li>
        <li>A freak hailstorm struck France in 1360 which killed an estimated 1000 English soldiers on Black Monday during the Hundred Years War.</li>                                                                                                 	
        <li>In 1490, reliable sources said that China had a hail storm which killed more than 10,000 people.</li>                                                           	
        <li>Another deadly hailstorm happened in India which killed at least 230 people.</li>                                                                	
        <li>In more recent times (1986), there were 92 people killed in Bangladesh.  Some of these hailstones were the size of grapefruits and weighed over 2 pounds.</li>
    </ol>
    <p>
    Out of whose womb came the ice?...the face of the deep is frozen. Many biblical creation scientists believe that the ice age began about 100 years after the flood and lasted for about 500 years.  Undoubtedly, Job lived during this period of time.  
    Secular scientists hold to the consensus that there were five ice ages.  When I was going to college in the 60s, I was taught that there were ten ice ages.  The truth is, there is only one viable mechanism that can explain an ice age, and that is the Noachian flood.  
    During this period of earth’s upheaval, volcanic activity was simultaneously happening worldwide.  There are approximately 100,000 seamounts in the world’s oceans.  Seamounts are volcanoes which are below the surface.  This volcanic activity heated up the oceans and 
    produced the moisture for an abundance of snow.  This continued for several hundred years, thus producing the ice age. The “deep” most probably refers to the Mediterranean Sea.  According to this verse, portions if not all of it was at one time frozen.  
    Yes, Job had witnessed all of this, but was unable to explain it.
    </p>
    <p>
    Canst thou bind the sweet influences of Pleiades, or loose the bands of Orion?  Canst thou bring forth Mazzaroth in his season?  Or canst thou guide Arcturus with his sons? Early mankind knew the constellations and the brightest and most prominent stars.  
    Scientists today say that there are about 50 ancient constellations.  These can be traced back to the Middle Eastern, Roman and Greek cultures.  The ancients used these astronomical constellations  to determine the time of year.  The Bible states that God determined the 
    number of the stars and even named each one (Psalms 147:4).  Contrary to modern cosmology, stars are not in the process of “being born.”  No, their “birth date” were all on the same day, the 4th day of the Creation Week.  It stands to reason that God named them at that time.  
    Also, I suspect that God shared with Adam the name of the stars and constellations that could easily be seen with the naked eye.  These names were passed down from generation to generation.                                          	
    So, Job, were you the one who made the bond between that cluster of stars known as Pleiades?  Can you loosen the belt from Orion the Hunter?  Can you guide Arcturus in the constellation of the Herdsman along with his sons?  Can you bring forth the astronomical zodiac in its proper season?
    Who hath put wisdom in the inward parts? 
    </p>
    <p>                                                   	
    For the rest of this chapter and all of chapter 39, God asks Job if he can explain all the behaviors and physical characteristics of the animals.  Obviously, Job is unable to do so.  
    God told Job that all of it was due to the “wisdom” which he put inside of them when they were first created.  What is this wisdom?  Today, scientists call it their genome.  The genome is simply the sum total of an organisms’ genetic make-up which consists of the DNA molecule.  
    DNA stands for deoxyribonucleic acid.  This is the hereditary material found in all living organisms.  In humans, we have over 3 billion nucleotides in each haploid cell of our body which contains a nucleus.  The psalmist David alludes to this phenomenon in Psalms 138:14-16.
    </p>
    <p><b> 
	“I will praise thee; for I am fearfully and wonderfully made:  marvellous are thy works; and that my soul knoweth right well. My substance was not hid from thee, when I was made in secret, and curiously wrought in the lowest parts of the earth.                              	
    Thine eyes did see my substance, yet being unperfect; and in thy book all my members were written, which in continuance were fashioned, when as yet there was none of them.”
    </b></p>
    <p> 
	David said that even before the members of his body were formed, they were written in thy book.  It has been estimated that if the DNA molecule were transcribed into a book, it would amount to about 4000 books each with 500 pages.  Since the human body contains over 30 trillion cells, 
    and most of these cells contain DNA, the number of books that could equate to this amount of information would fill the Grand Canyon over 25 times.    
    </p>
    <p><b> 
    Will the unicorn be willing to serve thee, or abide by thy crib?</b> <br/>
    The agnostics and atheists oftentimes bring up the unicorn as a point of reference to ridicule the Bible.  Of course, in their minds, they envision the mystical single-horned horse that was made popular in European folklore.  When anyone reads the description of the unicorn 
    in this passage, it becomes obvious that God is describing an actual creature known to Job.  It is an animal that is extremely strong and cannot be tamed or domesticated by man.  Today, there is an animal that closely resembles that as mentioned by God. 
    It is the Indian rhinoceros with the scientific name of Rhinoceros unicornis.  As its name implies, it has a single horn which was 5 or 6 feet long.  But, there is an extinct animal which probably gave rise to today’s rhinoceros.  It is known as the Siberian unicorn.  
    It was much larger.  In fact, it was approximately the same size as the wooly mammoth.  Most likely, this was the unicorn mentioned in this passage found in Job.  
    </p>
    <p><b> 
    Gavest thou the goodly wings unto the peacocks? </b> <br/>
    I am aware that many theologians and biblical scholars maintain that the ostrich is meant here instead of peacock.  However, I will use the peacock to make a point which still gives the same meaning as presented in the passage, 
    that is, the awesomeness and omniscience of our Creator God. To the unbiased person, the intricate beauty and design of a male peacock’s tail feathers demand a Designer.  However, to the atheist and agnostic, this is unacceptable.  By the way, in the Hebrew, both wings or tail feathers are correct translations.                                                             	
    Charles Darwin published his On the Origin of Species in 1859.  Its full title (which infers racism) is On the Origin of Species by Means of Natural Selection, or the Preservation of Favoured Races in the Struggle for Life.  A scientist by the name of Asa Gray did a review of Darwin’s book.  
    Charles Darwin wrote Gray a letter in 1860 thanking him for the review.  In his letter, he made this confession: <br/>
    <b>
	“It is curious that I remember well time when the thought of the eye made me cold all over, but I have got over this stage of the complaint, and now small trifling particulars of structure often make me very uncomfortable.  The sight of a feather in a peacock’s tail, whenever I gaze at it, makes me sick!”
    </b> <br/>
	What disturbed him was the design that was so evident in the peacock’s tail.  His theory would not allow such a design (or Designer).  Everything must be explained in a naturalistic and secular manner.  In Darwin’s theory of Natural Selection, God did not have a role. In a letter written 
    twenty years after his publication, Darwin reveals a little of his thoughts about God.  He said that he had never been an atheist, but now, especially as he has gotten older, he viewed himself as an agnostic.
    </p>
    <p>
	After this, Job was greatly humbled.  He said, “Behold, I am vile; what shall I answer thee?”  When confronted with the Creator of the Universe, mankind is puny and helpless.  That’s exactly how Job felt at that moment.  To Job’s dismay, God is not through with his little pop quiz.  
    He spends two chapters highlighting just two animals:  the behemoth and the leviathan.  What made these two animals so important that so much time would be used to discuss them?  God did not mention the lion (the alleged king of beasts) or the elephant.  
    Let’s consider these two strange beasts.
    </p>
    <p><b> 
    Behold now behemoth, which I made with thee.</b><br/>        
	In Genesis 1:25-26, the Bible records that God created the land animals and mankind both on the sixth day of the creation week.  Here, God reaffirms that same truth.  Of course, this is contrary to evolutionary thinking.  The root word for what is translated “behemoth” means to be mute or dumb.  
    In other words, the behemoth is just a huge, clumsy dumb animal.  So, why does God emphasize it as a wonder of his creation?  Most likely, it was due to its size. The herbivorous dinosaurs that once roamed the earth were huge.  It has been estimated that their length from head to tail might have
    a range of 65 feet to over 100 feet.  Their weight has been estimated to be between 65 tons to over 100 tons.  In comparison, most bull elephants weigh about 7 tons.  The heaviest ever recorded was nearly 12 tons.  Obviously, even this largest specimen pales in comparison to the giant herbivorous dinosaurs or sauropods. 
    Practically all reference Bibles and commentaries identify the hippopotamus as the behemoth.  However, some have referenced it as the elephant or rhinoceros. 
    </p>
    <p><b> 
	“Lo now, his strength is in his loins, and his force is in the navel of his belly.  He moveth his tail like a cedar:  the sinews of his stones are wrapped together.  His bones are as strong pieces of brass; his bones are like bars of iron.  
    He is the chief of the ways of God:  he that made him can make his sword to approach unto him…”  (Job 40:16-19)
    </b></p>
    <p>
	If you had comparative photos of the sauropod, the elephant, and the hippopotamus, then you would naturally come to the conclusion that only one could match the description as recorded in this passage of Job.  In verse 19, God states that he, and only he, could dare approach and destroy this animal, not man.  
    Ancient man has been known to kill the elephant, the hippopotamus, and the rhinoceros.  The puny tails of the three well-known animals could barely be compared to the movement of the cedar tree.  However, the sauropod’s tail movement could easily be likened to the swaying of the cedar. 
    In the verses that follow in this chapter, the eating habits and behaviors of the behemoth are pointed out.  The Bible states that he grazes on the hill sides, and rests along the lowlands where there is shade and water.  When the behemoth drinks from the water (the Jordan river is mentioned here),
    the scripture says that he takes his time.  Two things can be drawn from this:  first, he is not afraid of any other animal that might attack him during this vulnerable time for most animals; second, he requires a lot of water.  If you weigh nearly 100 tons and you are composed of at least 60 % plus 
    of water, then one can only imagine how much would satisfy the thirst of such an animal. Job, do you really want to contend with the Almighty?  In case you have any thoughts of doing so, let me tell you of one more of my creatures that is too awesome for man to even imagine.   
    Canst thou draw out leviathan with an hook? If you don’t know what a leviathan is, just look at the margin of your Bible, and you will see that it is the crocodile.  At least, this is what the majority of commentaries and Bible scholars maintain.  
    The problem is, a crocodile falls far short of the description as recorded in Job.  
    </p>
    <p><b> 
	“None is so fierce that dare stir him up:  who then is able to stand before me?”
    </b></p>
    <p>
	God gives Job examples of the two most awesome and fearsome creatures he ever made.  He tells Job, if you can’t stand before my created creatures, how could you ever have thought that you could stand before your Creator?  God then proceeds to give a detailed description of the leviathan.
    His teeth are terrible round about.  The word “terrible” means to cause fright.  Well, I could see how the crocodile could fit the bill for that easy enough. His scales are his pride.  Pride could be interpreted as arrogance or majesty.  Again, the scales of a crocodile fits well into that description also. 
    By his neesings a light doth shine.  This archaic word from the King James Version is literally translated from the Hebrew word which means “to sneeze” or “sneezings.”  There is some hesitation or doubt as to whether this is a correct translation for neesings, at least on my part.  In 2Kings 4:35, the KJV 
    used the word “sneezed.”  It is a different Hebrew word entirely for this natural body response.  I am inclined to believe that “snort’ might better represent the action of the leviathan.  Whatever the case, when this strange creature did this, it produced a light or illumination.  There goes the crocodile hypothesis.                                         
    Out of his mouth go burning lamps, and sparks of fire leap out.  Out of his nostrils goeth smoke...His breath kindleth coals, and a flame goeth out of his mouth.  He esteemeth iron as straw, and brass as rotten wood.   Alright, that did it, no crocodile.  No, this is indeed the genesis or beginning of the cultural and 
    historical phenomenon of the fire-breathing dragon.  It is not a myth!  Rather, it is the quintessential of God’s creation of all the animals.  God said, “he is a king.”  Cultures all over the world including practically every continent have stories of dragons which breathe out fire.  Skeptics say these are but myths 
    and folklore.  However, when cultures worldwide share a similar story, then that story is based upon a historical fact.  Yes, the stories have been altered and even embellished, but the basic facts remain.    
    </p>
    <p><b>                                                              
    He maketh the deep to boil like a pot:  he maketh the sea like a pot of ointment. </b><br/> 
    When the ancients and even the apothecaries made an ointment, they gathered the herbal ingredients and boiled them in a pot.  Just as the water boils in a pot, so does the sea react to the tumultuous movement of the leviathan.  
    The “sea” is the habitation of the leviathan, not some river or inlet where the crocodiles are found. I have one final thought about this mysterious creature called the leviathan.  In the description, it appears that it was some species of marine reptile.  Some of these huge animals are presumed to have 
    whales as part of their diet.  They were the predators of the seas.  What struck me as strange, since they lived in the seas, why did God create them with this fire-breathing capability?  The only feasible reason was that it was a defense mechanism against man.  In evolutionary thinking, man and dinosaurs did not coexist.  
    Evolution is in error.
    </p>
    <p>
	Finally, Job responds to God with a confession, “no thought can be withholden from thee.”  This reminded me of the statement as found in Job 2:10.
    </p>
    <p><b> 
	“In all this did not Job sin with his lips.”
    </b></p>
    <p>
	I think that all of us are guilty at one time or another of spiritual pride.  Have there not been occasions when you did not speak your thoughts, even though you might have felt justified in doing so?  Have you ever been falsely accused, and did not defend yourself from such accusations?  
    Did you pat yourself on the back, so to speak, afterwards for your restraint?  I think that now Job is remembering his thoughts that he had right after all the tragedy struck him on that one fateful day.  Job continues with his confession by saying he spoke those things which he did not understand.  
    He could not see the hand of God that was orchestrating these events nor understand their purpose.    
    </p>
    <p><b> 
    I have heard of thee by the hearing of the ear:  but now mine eyes seeth thee.   
    </b></p>
    <p>
    As repeatedly mentioned in this study, Job lived in a time when the events of the Deluge was still fresh on people’s minds.  Noah and his sons were still living to share their stories.  Yes, Job had heard all about God.  
    The Bible never declares that God visibly revealed himself, but only that he spoke out from a whirlwind.  Yet, Job said that he had seen God with his eyes.  Did he see a form?  Does it really matter?	Just suppose that God spoke to you in an audible voice, in fact, he spoke to you in the presence of others, 
    and they also heard that same voice.  Would seeing a theophany of God make it more real or believable to you?  I think not.       
    </p>
    <p><b>                    	                                                                                                 
    Wherefore I abhor myself, and repent in dust and ashes.  When man is confronted with, and stands in the presence of a holy God, all of their frailties and faults become loathsome before their eyes.  
    </b></p>
    <p>
    The prophet Isaiah had such an experience.  After he had a vision of the Lord sitting upon his throne, 
    he cried out:  <b>“Woe is me! For I am undone; because I am a man of unclean lips.”  <br/>
    The LORD said to Eliphaz the Temanite, My wrath is kindled against thee, and against thy two friends. </b><br/> 
    The story of Job is coming to an end.  God now specifically addresses the eldest of Job’s three friends.  He tells him what is required to atone for their sins, a burnt offering.  
    To make it even more clear as to their wrong, God tells Eliphaz that Job must pray for them before he would receive their sin offerings.  God does not mention Elihu, the millennial.  Several commentaries maintain that Elihu spoke the truth, that’s why his name is not mentioned here.  
    However, this is far from being accurate.  I have previously cited the reasons why.
    </p>
    <p>
    So Eliphaz the Temanite and Bildad the Shuhite and Zophar the Naamathite went, and did according as the LORD commanded them:  the LORD also accepted Job.  And the LORD turned the captivity of Job, when he prayed for his friends. Even as I write these words, I feel the power and force of God’s will 
    for mankind.  First, there must be true repentance in a person’s life before they can approach the throne of God.  Also, I doubt there is not a man or woman alive who does not need to forgive someone who has wounded their heart with hurtful words.  These are powerful spiritual forces: repentance and 
    forgiveness.  Jesus led a completely sinless life, so he never had to repent of anything.  However, he exercised that gift of forgiveness as he hung upon the cross.  In our walk with God, repentance and forgiveness are not options, they are life-giving requirements.  Unforgiveness in a person’s heart 
    is like a cancer.  After Job prayed for his friends, I believe Job’s outward healing of his body was immediate.  This would be a sign to his friends that God indeed heard Job’s prayer.
    </p>
    <p><b>
    Conclusion and Job’s blessing</b><br/>  
    Not only did God heal Job from his boils and disease, he gave him twice as much earthly treasures as he had before.  Job’s brothers and sisters and friends came back to him with compassion and empathy.  Also, they brought him money and jewelry.  I suspect God 
    moved upon them and probably showed them how they were guilty of not expressing love and compassion to Job.  With the newly acquired treasures, Job was able to buy twice the amount of livestock as he had before.  God gave him seven more sons and three more daughters to fill that void in his heart,
    after he had lost his children.  Job’s daughters were the most beautiful women in all the land.  God allowed Job to live another 140 years, even being able to see his descendants to the fourth generation.  This would bring us to the tenth generation after the flood.  Abraham entered history in the 
    tenth generation, thus starting a new saga of God’s dealings with mankind.
    </p>
    </div>
  </div>
</div>