<div class="post">
  <h1>Who were the Nephilim?</h1>

  <p>
    Who were the what? Many Christians would have no idea, nor do they care to know, what this question is referencing.
    The word actually comes from a Hebrew word which is translated giant or giants in the KJV. The root meaning of the
    word means “to fall” or “fallen ones”. It is used only three times in the Old Testament: once in Genesis 6:4 and twice
    in Numbers13:33. However, it seems to be a popular topic to those who are interested in Biblical creationism, or to
    those who are interested in the topic of giants. Many sincere Christians believe that the nephilim were fallen angels
    who had sexual relations with humans during those early centuries before the Noachian flood. This paper will not
    attempt to address the pros and cons of the varying interpretations. Rather, I will just present what I feel the Bible
    reveals to us regarding this somewhat obscure topic. The universal theme of the Bible centers itself upon the
    redemption of mankind. Thus, Jesus is the central figure of the Bible, since it was his blood that paid for that
    redemption. Therefore, there are many topics that are introduced but are not explained in detail because they are not
    central to the main theme. Obviously, this is one of those topics. As I begin to share my thoughts with the reader, I
    will not immediately cite the core passage, Genesis 6:4. However, I feel that a foundation must be laid first. This
    groundwork will begin at the very beginning of mankind’s history.
  </p>
  <p>
    We will start our story in the garden of Eden. Although we cannot be certain as to how long Adam and Eve lived in the
    garden before they sinned, I think it reasonable to infer that the “fall” happened within just days or perhaps a few
    weeks after humanity’s creation. There are several reasons for this conclusion. First, the story as told in Genesis 3
    lends itself toward this premise. I don’t believe Satan lost any time in his assault against mankind. It is recorded
    in many cultures that there was a time when man was able to communicate with the animals. Thus, Eve was not shocked
    when the serpent spoke to her. Also, it appears that Cain was the first son born to them after their fall from
    innocence. Both Adam and Eve were created with a perfect genome. Their DNA would have been pure from any mutations.
    Eve, undoubtedly, was extremely fertile. As a consequence, the conception of Cain probably took place within that
    first month after creation. The saga continues in the fourth chapter of Genesis with the account of the world’s first
    homicide.
  </p>
  <p>
    I could have titled this study, “A Tale of Two Sons”. Of course, Charles Dickens beat me to the punch with his famous
    story of two cities. As we shall see, the scriptural focus is upon two sons who would eventually change the world.
    That being said, let’s continue with our story.
  </p>
  <p>
    In Genesis 4:1, Eve said, “I have gotten a man from the LORD.” Obviously, this is in reference to the promise of a
    coming redeemer in Genesis 3:15. It appears that Eve was a little too premature in her optimism. No, it would be some
    4000 years before that promise would be realized. In 4:3, we see the phrase, “And in the process of time.” This phrase
    denotes that many years had passed since the birth of Cain. In fact, we know that Adam was 130 years old at the birth
    of Seth. Seth was probably the first son born after the murder of his brother Abel. So, we can deduce that Cain was
    125 plus years old when he committed the first murder. Adam and Eve could have had many children during this period of
    time. In fact, Jewish historians record that Adam and Eve had 33 sons and 23 daughters (actually, I believe this to be
    a rather conservative number). Remember, the Jews kept meticulous genealogical records. It is very reasonable that
    Cain was already married at this time. As always, the question arises, “who was Cain’s wife?” Basically, there are
    only two logical choices, either a sister or a niece (it is also possible that he might have married a great niece).
    Since the human genome was essentially mutation free, there would be no genetic repercussions from such unions.
    In verse 16, we read, “And Cain went out from the presence of the LORD”. What somber words indeed. This would become
    Cain’s legacy: a life as a vagabond. A vagabond is defined as someone who wanders having no permanent dwelling. This
    is not describing Cain’s physical abode, but rather, it is revealing his spiritual condition. In verse 15, Cain
    described his situation this way, “from thy face shall I be hid”. Yes, he would forever be remembered as a vagabond
    from God’s presence.
  </p>
  <p>
    It is Cain’s genealogy that is first examined and recorded for us in the Bible. The Bible states that Cain built a
    city and named it after his son, Enoch. This name could mean “initiated”, “teaching” or “a teacher of”. As parents,
    what we teach our children is of utmost importance. Enoch had a son who he named “Irad” which means fugitive.
    Apparently, Cain told his story to his son. More than likely, he framed the story so that it portrayed him as the
    victim of a vengeful God. Enoch’s “teaching” or influence was evident in the naming of his grandson, Mehujael. This
    name means smitten of God or God is combative. I can almost envision Cain sitting with his sons and grandsons telling
    them of the “poor, pitiful me” story of his being driven away from his relatives by a vengeful and unmerciful God. I’m
    sure that in his story, Cain acted only in self-defense against his aggressive brother, Abel. Not to mention the fact
    that God was unjust in that he showed favoritism to Abel. There is one other consideration that one might infer from
    this story. When Cain was driven out, he went to a land called Nod. Of course, this was named by Cain or possibly his
    descendants because it basically means “wandering”. It is possible that other relatives of Cain and, of course, his
    own immediate family, went with Cain. So now, we have established a clan separate from the rest of humanity’s earliest
    civilization.
  </p>
  <p>
    In chapter 4, the Bible continues with Cain’s genealogy all the way down to the eighth generation from Adam. I will
    not comment much on these generations except for one very interesting fact. For the first seventeen hundred years of
    earth’s early history before the Flood, only the names of four women were recorded in the annals of scripture: Eve,
    Cain’s wives Adah and Zillah and, finally, in the eighth generation, we find the name of Naamah. Curiously, this name
    means pleasant or beautiful. I do not think it was for naught that her name was recorded in the inspired writings. We
    will revisit this thought later.
  </p>
  <p>
    In the last few verses of chapter four and the first of chapter five, we find that Adam and Eve had another son, whom
    they named Seth. Adam was 130 years of age when Seth was born. Seth’s name means “appointed”, that is, he was
    appointed to replace Abel whom Cain had murdered. This birth undoubtedly occurred within a year or two after that
    first infamous deed. Here is the phrase in verse 26 of chapter 4 that I want to focus on:
    “...and he called his name Enos: then began men to call upon the name of the LORD.”
  </p>
  <p>
    The Hebrew word for “upon” is composed of two Hebrew letters. These same two letters are elsewhere in the Bible
    translated “by”. The words “to call” is a word which essentially means to encounter or address. Therefore, this phrase
    could also be translated, “then began men to be called, addressed, known by the name of the LORD.” In other words,
    they were known as the “sons of God”. In the New Testament, believers are referred to as “the sons of God”. God does
    not change. If His followers are called sons of God in the New Testament, then they would also be known as that in the
    Old Testament. We see this in Hosea 1:10, “...Ye are the sons of the living God”. To the Hebrew, this was a foreign
    thought, that is why they wanted to stone Jesus. But to God, his followers are his children or sons. So, in God’s
    eyes, two groups of people began to emerge in that early history of mankind: those who followed Him and those who
    followed Cain.
  </p>
  <p>
    Consider this for a moment. Is the Bible declaring that Adam and Eve and the rest of their children never called upon
    the name of the LORD until the birth of their grandson, Enos? No, they both were hopeful and anticipated the coming
    redeemer. They taught their children about God and how to sacrifice for the atonement of their sins. Rather, by the
    time of the birth of their grandson, the world became much more populated. Also, there was a clear distinction between
    the righteous lineage coming from Adam and Eve, and the ungodly lineage of Cain and those who aligned themselves with
    him.
  </p>
  <p>
    For ten generations up to, and including, the birth of Noah, there was always those who followed after God. However,
    by the time of Noah, it became only a remnant. What happened to mankind to cause such a transformation in their
    actions and morality? It is time to examine that pivotal passage as found in chapter 6.
  </p>
  <p><b>
    “And it came to pass, when men began to multiply on the face of the earth, and daughters were born unto them.
    That the sons of God saw the daughters of men that they were fair; and they took them wives of all which they chose.
    And the LORD said, My spirit shall not always strive with man, for that he also is flesh: yet his days shall be an
    hundred and twenty years.
    There were giants in the earth in those days; and also after that, when the sons of God came in unto the daughters of
    men, and they bare children to them, the same became mighty men which were of old, men of renown.
    And God saw that the wickedness of man was great in the earth, and that every imagination of the thoughts of his heart
    was only evil continually.” </b>
  </p>
  <p>
    In that first verse, it reveals to us that the population of the earth had increased dramatically. I believe the time
    frame for this passage is in the eighth generation from Adam. I will explain this position in my comments on verse 2.
    Notice that the Bible states that the “daughters of men” were fair. In other words, they were pretty. Or, you might
    say that they were pleasant or beautiful as the name Naamah describes in 4:22. I do not believe the inspired
    scriptures stopped in the lineage of Cain at the eighth generation with Naamah by accident or without purpose. It is
    also with purpose that the Bible declares that the daughters of men were fair. I believe God intentionally gives us
    enough information in his Word to “connect the dots” in many passages of scripture without having to spell it all out
    for us.
  </p>
  <p>
    Before the Israelites entered the Promise Land, they were warned not to inter-marry with the inhabitants of the land.
    This prohibition was given by God for the very same reason why the New Testament records in 2 Cor.6:14, “Be ye not
    unequally yoked together with unbelievers...” God, in his omniscience, knew that when the godly married the ungodly,
    it would have a detrimental effect on their spiritual condition. With respect to the antediluvians (those that lived
    before the Flood), it would be disastrous. It would only take three generations (the eighth, the ninth, and the tenth)
    before the world became saturated with evil. Because of their long life spans, these three generations covered a time
    period of almost one thousand years. A lot can happen to a civilization in one thousand years.
    The Bible specifically declares that there were giants (nephilim) in the earth before (“after that”) the union of the
    sons of God with the daughters of men. We know from the fossil record that both invertebrates and vertebrates grew
    quite large before the Noachian flood. Most probably, within the human genome, there existed a huge potential of
    variation. This variation included the ability for very large humans to exist. Just think about today’s dog varieties.
    Within the dog genome, the relative sizes can range from chihuahuas to great Danes, from a few pounds to some over 300
    pounds. So, to produce giants, it did not require some mythical union of fallen angels and mankind.
    Rather, it was a natural process.
  </p>
  <p>
    What the scriptures do declare about the descendants from this infamous union were that they produced “men of renown”.
    The Hebrew word for renown is the same word which is translated Shem, the middle son of Noah. The word simply means:
    honor, authority, or lofty. In other words, someone who is famous. The truth is, someone can become famous for a
    variety of reasons: some good, some bad. Obviously, those before the flood became famous for their deeds of evil, as
    did Nimrod after the flood.
  </p>
  <p>
    By now the reader has surmised my view on the identity of the giants or nephilim. They were not strictly the Sethites,
    but rather, they were the godly lineage of Adam and Eve. What we can affirm is that they were not the progeny of
    fallen angels. The Bible declares that angels and even fallen angels are spirits. The demoniac of Gadara had a legion
    or about 5000 demons. Some say that the fallen spirits can manifest themselves with a body, and thus, with DNA.
    However, there is not one scripture that can be used to prove this. The angels that did manifest themselves acted only
    with the permission of God. Otherwise, why did not the devils of the demoniac just materialize into a body. They were
    happy just to inhabit the bodies of pigs. No, demons can only influence and control mankind when they inhabit the
    human body. Even Lucifer or Satan had to use the body of a serpent to speak to Eve. DNA, that component unique to
    mankind, is there for a purpose. It is for mankind exclusively. This was the plan and in the mind of God in his
    creation of man. Listen to the words of Jesus in Matthew 22:29, 30.
  </p>
  <p><b>
    “Jesus answered and said unto them, Ye do err, not knowing the scriptures, nor the power of God.
    For in the resurrection they neither marry, nor are given in marriage, but are as the angels of God in heaven.” </b>
  </p>
  <p>
    In the Bible, the pervading purpose of marriage is for procreation. Here, Jesus explicitly states that man will not be
    able to procreate in heaven because they would be like the angels. The obvious meaning is that angels do not have the
    capacity for procreation. Some might object by saying, “what about the passages in 2Peter and Jude?” Well, let’s
    consider those scriptures now.
  </p>
  <p><b>
    “For if God spared not the angels that sinned, but cast them down to hell, and delivered them into chains of darkness
    to be reserved unto judgment;
    And spared not the old world, but saved Noah the eighth person, a preacher of righteousness, bringing in the flood
    upon the world of the ungodly;
    And turning the cities of Sodom and Gomorrha into ashes condemned them with an overthrow, making them an ensample unto
    those that after should live ungodly;
    And delivered just Lot, vexed with the filthy conversation of the wicked:
    For that righteous man dwelling among them, in seeing and hearing, vexed his righteous soul from day to day with their
    unlawful deeds;
    The Lord knoweth how to deliver the godly out of temptations, and to reserve the unjust unto the day of judgment to be
    punished.” </b> (2Peter 2:4-9)
  <p>
  </p>
    In this chapter, Peter begins his discourse about false prophets. But the underscoring theme is judgment. Peter
    assures his hearers that these so-called prophets will one day meet their judgment before God. He then proceeds to
    give examples of evil men receiving their just rewards. He begins with the very first case of disobedience, that is,
    the rebellion of a segment of angels. He “chains” them and places them into “darkness”. This word, as with another
    Greek word used in Jude which is translated chains, is used only once in the New Testament. The word simply means a
    restraint, something which limits their activity. The word darkness just refers to their spiritual condition. God is
    light and everything outside of his presence is in darkness. One time a demon spoke out to Jesus and said, “art thou
    come hither to torment us before the time?”. Yes, God has a day marked on his celestial calendar in which he will
    judge the world and even the demons.
  </p>
  <p>
    Peter continues with his discourse of judgments with that of Noah’s flood upon an ungodly world. Lastly, he cites the
    judgment he caused upon the cities of the plain, Sodom and Gomorrha. What Peter says in verse 9 is exactly the same as
    in verse 7 of chapter three: [and to reserve the unjust unto the day of judgment to be punished] and [reserved unto
    fire against the day of judgment and perdition of ungodly men]. No, the flood wasn’t sent to eradicate a world full of
    angel/men half-breeds. It was sent as a judgment against ungodly mankind. The passage in Jude reinforces this same
    premise. In Jude, there were those who were spreading false doctrine and were jeopardizing the faith of some of the
    believers. It is in this context in which the scriptures speak about “the angels which kept not their first estate,
    but left their own habitation...”. People try and connect verse six and seven of Jude as if both were practicing the
    same type of sin. No, the only connection is the fact that both sinned against God, and both received a judgment from
    God as a result of that sin. In the Bible, there is only one instance of angels sinning against God. Of course, this
    happened at the rebellion under the leadership of Lucifer, aka, Satan.
  </p>
  <p>
    In closing, I must again state that angels cannot cohabit with mankind, nor have they ever been able to do so. I admit
    that this view is not as sensational as that popular interpretation being proclaimed by many today. That’s okay. I
    believe what I have just presented to be more scriptural. Let all decide for themselves what is true with regard to
    this rather obscure topic.
  </p>

</div>

