<div class="post">
  <h1>The God of the Old Testament</h1>
    <p>             
      To many, the God of the Old Testament appears to be vengeful and cruel.  This has been the accusation of the atheist
      and agnostic.  Even many Christians can’t seem to reconcile the goodness of God (which they have experienced in their
      hearts) to that which they have read in the Old Testament passages.  For example, Joshua was instructed to
      kill all the inhabitants of the land of Canaan.  Was this really necessary?  Does this seem just?  To answer these
      questions, we must begin this story from the very beginning.
      After Adam and Eve had eaten of the forbidden fruit, God pronounced his judgment upon their sin.  In Genesis 3:15 we
      read:
    </p>
    <p><b>
      “And I will put enmity between thee and the woman, and between thy seed and her seed; it shall bruise thy head,
      and thou shalt bruise his heel.” </b>
    </p>
    <p>
      The Hebrew word for enmity means hostility or hatred.  Notice, too, that this hatred was not just to be between Satan
      and mankind, but between his “seed” and the woman’s “seed.”  The ungodly were to be Satan’s seed and the Godly were to
      be the woman’s seed .  We see this when Jesus told the ungodly Pharisees that they did the “deeds of your father….the
      devil.”  The seed of woman was to become the redeemer of mankind.  Yes, Satan bruised the “heel” of Jesus at Calvary
      (a minor wound), but Jesus gave Satan a mortal wound to the head (Jesus’ resurrection).  For that, Satan hates and
      tries to destroy the believers of Christ.  In Revelation 12, we find the dragon (the devil) trying to make war with
      the remnant of her seed , those which keep the commandments of God, and have the testimony of Jesus Christ.  From time
      immemorial, there has been this conflict between good and evil.
    </p>
    <p>
      Therefore, having this knowledge (that the “seed” of woman would one day destroy him), Satan did all within his power
      to abort God’s plan.  From all appearances, he almost succeeded in his sinister goal twice in recorded history.  Satan
      knew that if he could destroy mankind (by making them entirely evil like him), then there could be no righteous seed
      to destroy him.  Almost 1700 years after the creation of Adam, the world had become totally corrupt (almost ).  God
      found a righteous man named Noah.  Yes, God did judge the world with a flood, but He saved eight souls.  This was all
      he needed to continue his plan to one day redeem mankind.  This was the first attempt by Satan to stop his own future
      destruction.
    </p>
    <p>
      We find his second attempt in the book of Esther.  At this time, the Medes and the Persians ruled the entire world.
      In Esther 3:6, we see that “Haman sought to destroy all the Jews that were throughout the whole kingdom.”  The Jews
      were the only people on earth that had the knowledge of the one true God.  Therefore, by destroying the Jews, Satan
      would, as a consequence, destroy God’s plan for man’s redemption and Satan’s own future and certain judgment.  In the
      story, we find that Haman had convinced King Ahasuerus to make a proclamation that would, in effect, annihilate all
      Jews from the face of the earth.  The proclamation was to go to “ every province…every people…to every people after
      their language…to destroy, to kill, and to cause to perish, all Jews … in one day .”  Fortunately, God had other
      plans.  He raised up a little Jewish girl named Hadassah (Esther) that would spoil Satan’s scheme.
    </p>
    <p>
      Yes, Satan did try a third time, but it was just an exercise in futility.  This, of course, was when he tried to kill
      the baby Jesus.  He even tried at Jesus’ temptation experience in the desert.  He even thought he had won at Calvary’s
      hill.  It was too late…the Son of God, the Redeemer of mankind had already arrived and conquered.
    </p>
    <p>
      Well, returning to our original question, why was it necessary for God to execute such harsh penalties and judgments
      upon the seemingly innocent (the women and children) inhabitants of the land of Canaan?  The answer is simple.  God
      knew the hearts and nature of mankind.  To maintain a Godly people that would one day bring forth the Savior of the
      world, God had to keep them separate from the ungodly.
    </p>
    <p>
      Let’s consider the justness of God.  Was God just in wanting to kill all the inhabitants of Canaan?  Absolutely!  In a
      prophetic vision, God told Abraham what was to become of his descendants. They would serve in a land (Egypt) for over
      400 years.  This time was to be a time of mercy for the inhabitants of Canaan (the Amorites).  Notice what God says in
      Genesis 15:16:  “for the iniquity of the Amorites is not yet full .”  God truly is long-suffering and patient.  Known
      to everyone is the story of Sodom and Gomorrah.  The extent of their sinfulness is legend.  Abraham refers to God as
      the Judge of all the earth , and rightfully so.  Since God is righteous and holy, he cannot ignore sin.  It must be
      judged.  Yet, in this story, we again see the mercy of his judgment.  He was willing to not destroy these wicked
      cities, if there could only be found ten righteous people among them.  But, alas, there were not ten.
      From the beginning of time, names meant something.  The names of the first ten patriarchs revealed God’s plan of
      redemption for mankind as promised in Genesis 3:15.
    </p>
    <ul>
      <li>Adam is the Hebrew word for man.</li>
      <li>Seth means appointed.</li>
      <li>Enos means mortal.</li>
      <li>Cainan means sorrow.</li>
      <li>Mahalaleel means the blessed God.</li>
      <li>Jared means shall come down.</li>
      <li>Enoch means teaching.</li>
      <li>Methusaleh means his death shall bring.</li>
      <li>Lamech means despairing.</li>
      <li>Noah means comfort or rest.</li>
    </ul>
    <p>
      Thus, we find the gospel message revealed through the names of the first ten patriarchs. 
    </p>
    <p><b>
      “Man is appointed mortal sorrow, but the blessed God shall come down, teaching that His death shall bring the
      despairing, rest.”  </b>
    </p>
    <p>
      We see this same truth in the names of God as he revealed himself to man.  The name came to represent a man’s
      character and essence.  So, it is with God’s name.  The following are but a few of the names of God as he
      progressively revealed himself to man.
    </p>
    <ul>
      <li>Jehovah Jireh - the Lord will Provide.</li>
      <li>Jehovah Nissi - the Lord our Banner.</li>
      <li>Jehovah Shalom - the Lord our Peace.</li>
      <li>El Elyon - the Most High God.</li>
      <li>Jehovah Tsidkenu - God our Righteousness.</li>
      <li>Jehovah Shammah - the Lord is Present.</li>
      <li>Jehovah Rapha - the Lord that Heals.</li>
    </ul>
    <p>
      In Exodus 33, Moses sought to know God, that is, he wanted to find out all about God’s nature or essence.  Moses said,
      “show me your glory.” In verse 19, God said,
    <p><b>
      “I will make all my goodness pass before thee, and I will proclaim the name of the Lord before thee.” </b>
    </p>
    <p>
      Here’s exactly what happened:
    </p>
    <p><b>
      “And the LORD descended in the cloud, and stood with him there, and proclaimed the name of the LORD.
      And the LORD passed by before him, and proclaimed, The LORD, The LORD God, merciful and gracious, longsuffering, and
      abundant in goodness and truth… ”</b>
    </p>
    <p>
      This is the God of the Old Testament.  Before going up to receive the commandments of God, the people declared to
      Moses:
    </p>
    <p><b>
      “…speak thou unto us all that the LORD our God shall speak unto thee; and we will hear it, and do it.” </b>
    </p>
    <p>
      Later, after Moses returned, he told the people that truly God had heard their words.  Listen to what God told Moses concerning the
      words of the children of Israel in Deuteronomy 5.
    </p>
    <p><b>
      “O that there were such an heart in them, that they would fear me, and keep all my commandments always, that it might
      be well with them, and with their children for ever!”</b>
    </p>
    <p>
      To paraphrase, God said, “if it were only true.”  God wants to bless his people.  But, since he is a holy and
      righteous God, his blessings require obedience.  God again expresses his utmost desire for his children in Jeremiah
      29:11.
    </p>
    <p><b>
      “For I know the thoughts that I think toward you, saith the LORD, thoughts of peace, and not of evil, to give you an
      expected end.”</b>
    </p>
    <p>
      This truth is profoundly illustrated is what is known as the “priestly blessing.”  In Numbers 6, God instructed Moses
      to tell Aaron that when they appeared before the children of Israel, they should bless them specifically in the
      following manner,
    </p>
    <p>
      “The LORD bless thee, and keep thee:</br>
      The LORD make his face shine upon thee, and be gracious
      unto thee:</br>
      The LORD lift up his countenance upon thee, and give thee
      peace.”</br>
    </p>
    <p>
      Echoing these same thoughts about the character of God, Peter writes in II Peter 3:9.
    </p>
    <p><b>
      “The Lord is longsuffering to us-ward, not willing that any should perish, but that all should come to repentance.” </b>
    </p>
    <p>
      Even to the ungodly, God extends his mercy.  Everyone remembers the story of Jonah.  During this period of time,
      Assyria was the enemy of Israel, and Nineveh was its capital.  God told Jonah to go and warn Nineveh that he was about
      to destroy them.  Of course, Jonah did not want to give a warning to Nineveh.  He wanted God to destroy them, so he
      fled.  This is his explanation to God:
    </p>
    <p><b>
      “ Therefore I fled before unto Tarshish; for I knew that thou art a gracious God, and merciful, slow to anger, and of
      great kindness…”</b>
    </p>
    <p>
      Probably one of the most sublime examples of God’s love and mercy is illustrated in the life of one of Israel’s most
      wicked kings…Manasseh.  He became king when he was only twelve years old and reigned fifty-five years.  Unlike his
      godly father Hezekiah, Manasseh did exactly opposite of everything his father did.  He erected altars to Baal,
      worshipped “ all ”the host of heaven, he built altars for the worship of idols inside the temple of Jerusalem, he
      offered his sons in a fiery sacrifice to Molech, he was deeply involved with witchcraft and sorcery, and Jewish
      tradition records that he had the prophet Isaiah sawn into.  In fact, the Bible states that he “shed innocent blood
      very much, till he had filled Jerusalem from one end to another.”  It’s unfathomable that any righteous man could
      ever forgive such atrocities as that which were committed by this evil king.  But, alas, God’s mercies are
      unsearchable.  In 2 Chronicles 33, the Bible says that after God judged Israel for her sins, he sent king Manasseh
      into exile to Assyria.  While there, Manasseh “besought the LORD his God, and humbled himself greatly before the God
      of his fathers, and prayed unto him.”  Just as the Bible declared God to be merciful, gracious and longsuffering,
      because of Manasseh’s repentance, God stepped in and restored him as king to Israel. God’s righteousness demanded that
      Manasseh’s sin be judged, but God’s love executed mercy instead.
    </p>
    <p>
      But the objection still arises, “but what about the innocent children that were killed?”  Again, using the words of
      Abraham, should not the Judge of all the earth do right?  Of course, he will judge rightly and just.  The children are
      protected under God’s grace as being yet innocent.  So, they are spared the agony and despair of the troubles of this
      world.  This is clearly seen in I Kings 14 when the son of the wicked king Jeroboam became deathly sick and died.  The
      scriptures reveal God’s grace in verse 13:
    </p>
    <p><b>
     “ …for he only of Jeroboam shall come to the grave, because in him there
      is found some good thing toward the LORD God of Israel in the house of Jeroboam.”</b>
    </p>
    <p>
      So, the God of the Old Testament is the same as the God of the New Testament.  In MalachI 3:6 God said, “For I am the
      LORD, I change not… ” </b> In Hebrews 13:8, we read:  “Jesus Christ the same yesterday, and today, and for ever.” </b> God
      doesn’t change.
    </p>
    <p>
      That same loving, compassionate God of the New Testament is merely the “express image” of the “Father of lights, with
      whom is no variableness, neither shadow of turning.” (James 1:17).  Jesus is the mediator between God and man.  Every
      time God manifested himself to man in the Old Testament, it was through the person of his Son.  The Son of God
      expresses the essence, nature, and attributes of his Father which are revealed through his name.  In John 14, the
      disciples wanted to see the Father.  Jesus told them that “if you’ve seen me, then you’ve seen the Father.”  Jesus
      came to earth as the final revelation of the Father’s love to humanity.  The most majestic words ever penned were
      these: <b>“For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not
      perish, but have everlasting life.”</b>
    </p>
    <p>
      Only twice in the New Testament does it state that Jesus wept.  Even in the garden of Gethsemane where Jesus agonized
      in prayer before his arrest on that fateful night, the Bible never records that he wept.  Yes, his sweat was as
      “great drops of blood ,” but no tears were recorded.   No, Jesus saved his tears for humanity. The two times that he
      wept was because of his love for man:
      <ul>
        <li> he wept over Jerusalem knowing the judgment which was to come upon them
          some 40 years later </li>
        <li>he wept at the grave of Lazarus because of the despair of mankind caused by Satan.</li>
      </ul>
    </p>
    <p>
      The Bible is filled with examples of God’s longsuffering and mercy extended to sinful man.  Man has limits of mercy
      and forgiveness, but God knows of no such limitations.  His love and gracious mercies are beyond comprehension.
      When George Beverly Shea was 103 years old, a year before his death, he and Guy Penrod recorded this song, “Does Jesus
      Care?”  Listen to the words:
    </p>
    <p><b>
      “Does Jesus care when my heart is pained too deeply for mirth or song.  As the burdens press, and the cares
      distressed, and the way grows weary and long?</br>
      Does Jesus care when my way is dark with a nameless dread and fear?  As the daylight fades into deep night shades,
      does he care enough to be near?</br>
      Does Jesus care when I’ve said “goodbye” to the dearest on earth to me, and my sad heart aches till it nearly breaks.
       Is it aught to Him?  Does He care?</b></br>
    </p>
    <p>
      Beautifully, the writer of this song answers these heartfelt questions in the chorus.
    </p>
    <p><b>
      “Oh, yes, He cares, I know He cares.  His heart is touched with my grief; when the days are weary, the long nights
      dreary, I know my Savior cares.”</b>
    </p>
</div>