<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Predestination Reconsidered</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/predestination.jpg">
      </div>
      <p>
          The controversy over predestination versus free-will has continued since the early centuries of Christianity.  The
          Church Fathers, such as, Justin Martyr, Tertullian, Irenaeus, Clement of Alexandria, Origen, and Chrysostom, all in
          clear and decisive statements, gave their adherence to the theory of conditional predestination, rejecting the
          opposite as false, dangerous, and utterly subversive of the divine glory.
      </p>
      <p>
          Augustine was the first prominent teacher of unconditional election, and he, regardless of the logical
          inconsistency, granted that reprobation is not unconditional.  This doctrine of Augustine was first formally
          accepted by the Church in 529 A.D., in the Canons of the Council of Orange, approved by Pope Boniface II.  The
          prominency of unconditional election in the theology of Protestanism is due largely to the influence and work of
          John Calvin, who, at the age of twenty-five, wrote his Institutes, in which he not only set forth the Augustinian
          doctrine of unconditional e- lection, but also taught unconditional reprobation.
      </p>
      <p>
          John Wesley and his followers were responsible in a large degree for reviving and developing the doctrine of
          Arminius.  Calvinists hold that the election of individuals to salvation is absolute, unconditional, by virtue of an
          eternal divine decree.  Arminians regard election as conditional upon repentance and faith; the decree of God is
          that all who truly repent of their sins and believe on the Lord Jesus Christ shall be saved.  But every responsible
          person determines for himself whether or not he will repent and believe.
          The controversy surrounding, the doctrine of predestination principally is based upon two passages of scripture:
          Rom. 8:29,30 and Eph.l:5,ll
      </p>
      <p>
          In trying to ascertain the truth about predestination, I’m reminded of Paul’s statement concerning the “simplicity”
          of the Gospel message. Too often, in our effort to dissect the Scriptures for further examination, we make our
          specimens too small.  It is almost like taking a frag ment of a brick and examining it for the purpose of
          determining the de sign and type of structure of the building in which the brick was removed. Theologians,
          oftentimes, in their zeal for detailed exegesis, can not “see the forest for the trees”.
      </p>
      <p>
          I’m afraid that we have been guilty in the past of not considering Romans 8:29,30 in its fuller context.  When I
          read any of Paul’s writings, I am mindful of the man and his calling.  In Acts 9:15 the Lord declared to Ananias the
          calling of Paul:  “Go thy way: for he is a chosen vessel unto me, to bear my name before the Gentiles...”.  In Acts
          13:46-48, Paul acknowledges his calling to the Gentiles.
      </p>
      <p><b>
          “Then Paul and Barnabas waxed bold, and said, It was necessary that the word of God should first have been spoken to
          you: but seeing ye put it from you, and judge yourselves unworthy of everlasting life, lo, we turn to the
          Gentiles. For so hath the Lord commanded us, saying, I have set thee to be a light of the Gentiles, that thou
          shouldest be for salvation unto the ends of the earth.
          And when the Gentiles heard this, they were glad, and glorified the word of the Lord: and as many as
          were ordained to eternal life believed.”</b>
      </p>
      <p>
          (Our predestinarian friends would like to point out the word “ordained” in verse 48 in support of their view.
           However, in the Greek text it is seen that ordained is used proleptically, that is, in anticipation of the verbal
          action of believed.  For example, when we say, “he was shot dead”, dead is used proleptically in anticipation of him
          being shot.)
      </p>
      <p>
          It is established, then, that Paul was called to be the Apostle to the Gentiles.  Bearing this in mind, we will now
          consider the dominant theme of the Epistle to the Romans.  Chapters 1-11 primarily deal with the theme of “salvation
          by faith”.  Chapters 12-16 concerns itself with “Christian duties”.  Although the first eleven chapters speak
          of “salvation by faith”, there is a further dichotomy between Law and Grace and between Gentile and Jew.  The point
          of the message remains the same, however.
      </p>
      <p>
          The Church in Rome was composed mostly with Gentiles (Romans) and, of course, with a few Jews.  We conclude this,
          since the Jews were ex pelled from Rome by Claudius’ edict in 49 A.D., and the Epistle of Romans was written
          approximately 57 A.D.  These Jews were a constant problem to Paul.  They were known as Judaizers since they insisted
          on the Gentile converts adhering to certain Jewish laws.  It is for this very reason why this letter was written.
          Paul goes through much effort in establishing the call of the Gentiles to the Gospel.  He takes great pains to prove
          that the Gentiles are just as much sons of God as the Jews.
      </p>
      <p>
          In the first chapter of Romans, Paul declares that “obedience to the faith” is “among all nations (Gentiles)”.  He
          further states speci fically that the Romans are “the called” of Jesus Christ.  In verse 16, he proclaims
          the universality of the Gospel by the use of the phrase “to every one that believeth”.  There are no stipulations.
           In that same verse, Paul uses a phrase that is strictly Pauline, and that is, “to the Jew first, and also to the
          Greek (Gentile)”.  He uses this phrase repeatedly in his writings to show that the Gentiles are just as much
          “called” to be recipients of the Gospel message as the Jews.
      </p>
      <p>
          In Romans 2. Paul criticizes the Jews (verse 4) because they were indignant over the fact that the Gentiles were
          being received as heirs of salvation equally with the Jews.  They were boasting of their heritage and making
          judgmental and condescending remarks to the Gentile believers.  This statement is validated when interpreted in
          light of the rest of the chapter.
      </p>
      <p><b>
          “Or despisest thou the riches of his goodness and forbearance and longsuffering; not knowing that the goodness of
          God leadeth thee to repentance?
          ...But glory, honour, and peace, to every man that worketh good, to the Jew first, and also to the
          Gentile; ...Behold, thou art called a Jew, and restest in the law, and makest thy boast of God.
          ...Thou that makest thy boast of the law, through breaking the law dishonourest thou God?
          For the name of God is blasphemed among the Gentiles through you (Jew), as it is written.
          ...For he is not a Jew, which is one outwardly; neither is that circumcision, which is outward in the flesh: But he
          is a Jew, which is one inwardly; and circumcision is that of the heart, in the spirit, and not in the letter; whose
          praise is not of men, but of God.” </b>
      </p>
      <p>
          Paul, more or less, puts this boasting to rest in chapter 3 when he tells those Jews that they were just as much
          sinners as the Gentiles even though they had the law committed to them.  Paul shows that the Old Testament
          privileges, though giving to the Jews a certain superiority over the Gentiles, did not give them any advantages in
          escaping the Divine condemnation.
      </p>
      <p><b>
          “What then?  are we better than they? No, in no wise: for we have before proved both Jews and Gentiles, that they
          are all under sin;” </b>
      </p>
      <p>
          He concludes (vss.27,29) that the Jews are without basis to boast since God is a God both to the Jews and to the
          Gentiles.
      </p>
      <p><b>
          “Where is boasting then?  It is excluded.  By what law?  of works? Nay: but by the law of faith.
          ...Is he the God of the Jews only?  is he not also of the Gentiles? Yes, of the Gentiles also:” </b>
      </p>
      <p>
          Paul continues with this same thought in chapter 4 when he proves that Abraham was not only the father of the
          Jews (and that only of the believing Jew), but he was also the father of the Gentiles.
          “...but to that also which is of the faith of Abraham; who is the father of us all.
          (As it is written, I have made thee a father of many nations,) before him whom he believed, even God, who quickeneth
          the dead, and calleth those things which be not as though they were.” (vss.16,17)
          There is a play on words in verse 17 thereby expressing a double meaning of thought.  The Jews frequently referred
          to the Gentiles as “things which be not” and to themselves as “things which be”.  Observe the similar wording and
          thought as found in 1 Cor.1:28:
      </p>
      <p><b>
          “And base things of the world, and things which are despised, hath God chosen, yea, and things which are not, to
          bring to nought things that are;” </b>
      </p>
      <p>
          Paul addresses the Gentile believers in chapter 5 and 6 assuring them that they are fully justified before God
          because of the provision of Christ.  He admonishes them to walk in the light of the Gospel and not according to
          their former way of life.
      </p>
      <p>
          In chapter 7, Paul turns his attention to the Jewish believers. He explicitly states this in the first verse where
          he says, “Know ye not, brethren, (for I speak to them that know the law)”.  Paul proves that the law was but for a
          season.  They were “bound” to it until it became “dead” (vs.24).  The law ceased with the coming of Christ.  Now, we
          should live under the law of liberty in Christ.
      </p>
      <p>
          The problem at Rome was that the Judaizers were condemning (8:1) the Gentile believers because they did not regard
          the Jewish laws such as circumcision (Rom.2:28,29), eating unclean animals (Rom.14:14), and observing the Sabbath
          and other feast days (Rom.14:5).  Paul, in order to abort this false teaching, established the calling of the
          Gentiles, proved to the Jewish believers that the law was fulfilled in Christ, and firmly maintained the equality of
          all believers both Jew and Gentile.
      </p>
      <p>
          Paul continues his thesis in chapter 8 stating that the law is dead and, consequently, there is no condemnation to
          those who are in Christ (whether Jew or Gentile).  He admonishes the Jews, and to those Gentiles who were being
          persuaded by this Jewish heresy, that as long as they put their confidence in Jewish circumcision (see
          Phil.3:3), then they will never be able to please God (vs.8).  Paul further declares that they have been freed
          from the law (spirit of bondage—vs.15), and have received the Spirit of adoption by their faith in Christ.
          Paul has almost the identical message when writing to the Church in Galatia in order to combat this same Jewish
          heresy.
      </p>
      <p><b>
          “But when the fulness of the time was come, God sent forth his Son, made of a woman, made under the law, To redeem
          them (Jews) that were under the law, that we might receive the adoption of sons.
          And because ye are sons, God hath sent forth the Spirit of his Son into your hearts, crying, Abba, Father. Wherefore
          thou art no more a servant, but a son; and if a son, then an heir of God through Christ.
          Howbeit then, when ye (Gentiles) knew not God, ye did ser vice unto them which by nature are no gods. But now, after
          that ye have known God, or rather are known of God, how turn ye again to the weak and beggarly elements, whereunto
          ye desire again to be in bondage? </b>(Gal.4:4-9)
      </p>
      <p>
          It is clear in this passage that this heresy was affecting both the Jewish and Gentile believer.  Paul reproves the
          Jews (vs.5) for becoming again enslaved under the law.  In verse 8, he tells the Gentile believers that they are, in
          effect, guilty of returning to idolatry by enslaving themselves in these Jewish laws.
          Starting with verse 17, Paul begins a discussion about the consequence of becoming a Christian.  He does so by
          introducing the cross of the Christian, namely, suffering.
      </p>
      <p><b>
          “And if children, then heirs; heirs of God, and joint-heirs with Christ; if so be that we suffer with him, that we
          may be also glorified together.
          For I reckon that the sufferings of this present time are not worthy to be compared with the glory which shall be
          re vealed in us.” </b>(Rom.8:17,18)
      </p>
      <p>
          This was not something foreign to the believers at this time, however, as is evident from this passage and Paul’s
          own testimony in 2 Cor.11:23- 33. There were some in Galatia that were even reverting back to Judaism during
          periods of persecution as is recorded in Gal.6:12. <b>
          “...they constrain you to be circumcised; only lest they should suffer persecution for the cross of Christ.”</b>
      </p>
      <p>
          Jesus warned the apostles that by following him they would become a reproach unto the world, and consequently, would
          suffer persecution.
      </p>
      <p><b>
          “These things I have spoken unto you, that in me ye might have peace. In the world ye shall have tribulation: but be
          of good cheer; I have overcome the world.” </b>(Jn.l6:33)
      </p>
      <p>
          We will now consider a passage found in Romans 8 which has great ly been misinterpreted and misunderstood by many
          students of the Bible.
      </p>
      <p><b>
          “And we know that all things work together for good to them that love God, to them who are the called according to
          his purpose.”</b> (Rom.8:28)
      </p>
      <p>
          Many people interpret this to mean that every circumstance in life, whether good or evil (from a human perspective),
          originates from the predetermined will of God.  This, however, was not Paul’s intention nor his theological
          position.  When Paul uses the phrase “all things”, he does so in the context of what he had previously discussed,
          namely, suffering (persecution/tribulation).  In verse 18, Paul says that the sufferings which the Christian endures
          is completely overshadowed by the hope of the Believer of eternal life with Christ.  Paul further clarifies the
          phrase, “all things”, in verses 35-39.
      </p>
      <p><b>
          “Who shall separate us from the love of Christ?  shall tribulation, or distress, or persecution, or famine, or
          nakedness, or peril, or sword?
          As it is written, For thy sake we are killed all the day long; we are accounted as sheep for the slaughter. Nay,
          in all these things, we are more than conquerors through him that loved us.
          For I am persuaded, that neither death, nor life, nor angels, nor principalities, nor powers, nor things present,
          nor things to come,
          Nor height, nor depth, nor any other creature, shall be able to separate us from the love of God, which is in Christ
          Jesus our Lord.”</b>
      </p>
      <p>
          Instead of God being the causative agent for the Believer’s suffering, Paul declares that God’s eternal purpose is
          not thwarted by these events.  On the contrary, the Christian remains firmly secure in the hope of eternal life.
          Because of the tribulations in this world, Paul writes to the Corinthians in 1 Cor.15:19 that,
          “If in this life only we have hope in Christ, we are of all men most miserable.”
          This truth can be further illustrated by considering 2 Cor.4:6-18.
      </p>
      <p><b>
          “For God, who commanded the light to shine out of darkness, hath shined in our hearts, to give the light of the
          knowledge of the glory of God in the face of Jesus Christ. But we have this treasure in earthen vessels, that the
          excellency of the power may be of God, and not of us. We are troubled on every side, yet not distressed; we
          are perplexed, but not in despair;
          Persecuted, but not forsaken; cast down, but not destroyed; Always bearing about in the body the dying of the Lord
          Jesus, that the life also of Jesus might be made manifest in our body. For we which live are alwa3y delivered unto
          death for Jesus’ sake, that the life also of Jesus might be made manifest in our mortal flesh.
          So then death worketh in us, but life in you. We having the same spirit of faith, according as it is written, I
          believed, and therefore have I spoken; we also be lieve, and therefore speak;
          Knowing that he which raised up the Lord Jesus shall raise up us also by Jesus, and shall present us with you. For
          all things are for your sakes, that the abundant grace might through the thanksgiving of many redound to the
          glory of God.
          For which cause we faint not; but though our outward man per ish, yet the inward man is renewed day by day. For our
          light affliction, which is but for a moment, worketh for us a far more exceeding and eternal weight of glory. While
          we look not at the things which are seen, but at the things which are not seen: for the things which are seen are
          temporal; but the things which are not seen are eternal.” </b>
      </p>
      <p>
          Here, verses 15-17, Paul reveals that “all these things” are “working together” to strengthen the inner man.  In
          verse 18, he teaches us that the strengthening and uplifting does not come from the circumstances themselves (things
          which are seen), but rather, it comes from what the believer does through these periods of despair.   If he
          keeps his eyes on Jesus and his faith (things which are not seen—Heb.llzl) in God, then he truly is like a man who
          “built his house upon a rock” and remained safe through the storms of life.
          In Rom.8:26, Paul says that it is the Spirit who helps us in our weakened times and even makes intercession for us
          to God.  This is the secret of becoming an “overcomer”, namely, praying in the Spirit.  This is how we can be
          “led by the Spirit”
          (Rom.8:14).  Jude declares to us this same truth in verse 20.
      </p>
      <p><b>
          “But ye, beloved, building up yourselves on your most holy faith, praying in the Holy Ghost.” </b>
      </p>
      <p>
          Even when we are not at liberty to pray, we can still retain our fortitude because we have purposed in our hearts to
          serve God.  This determination or “mind-set” becomes an impregnable wall against the enemy.  The Scriptures speak
          about this “mind-set”.
      </p>
      <p><b>
          “I beseech you therefore, brethren, by the mercies of God, that ye present your bodies a living sacrifice, holy,
          acceptable unto God, which is your reasonable service. And be not conformed to this world: but be ye transformed by
          the renewing of your mind, that ye may prove what is that good, and acceptable, and perfect, will of God.” </b>
          (Rom.12:1-2)
      </p>
      <p><b>
          “Thou wilt keep him in perfect peace, whose mind is stayed on thee; because he trusteth in thee.” </b>(Isa.26:3)
      </p>
      <p>
          Returning now to the second phrase in Rom.8:28, “the called according to his purpose (will)”, Paul forcefully and
          unambiguously revealed in the preceding chapters of this epistle that God’s elect was both Jew and Gentile.  It was
          in God’s plan and foreknowledge before the creation of the world that the “calling” was going to be to “whomsoever
          will” both Jew and Gentile.  God did not limit himself to be the God of the Jews exclusively.  This fact was
          revealed to the prophets in a multitude of scriptures. <br/>
          The synopsis of Paul’s message thus far is found in Rom.8:29,30.
      </p>
      <p><b>
          “For whom he did foreknow, he also did predestinate to be conformed to the image of his Son, that he might be the
          firstborn among many brethren.
          Moreover whom he did predestinate, them he also called: and whom he called, them he also justified: and whom he
          justified, them he also glorified.” </b>
      </p>
      <p>
          In verse 29 and 30, Paul uses the word “predestinate” in a two fold way.  In an encompassing view, it refers to
          the recipients of God’s grace.  As is evident from Paul’s fore-going discussion, the idea of
          predestination is used in the collective sense and not in the individual sense as many have presumed.  This is the
          very crux of Paul’s message and the very truth which he endeavored to proclaim—that both Jew and Gentile have been
          called (predestined) by God.  (Remember Peter’s vision in Acts 10 and Paul’s calling in Acts 9).
      </p>
      <p>
          Primarily, though, the word, as used in these two verses, entails purpose and provision.  The purpose was that the
          believers (both Jew and Gentile) would be “conformed to the image of his Son”.  As regards provision, Paul stated in
          Rom.7:18 that while under the law he did not have the ability nor power “to perform that which is good”.  However,
          in verse 25 of that chapter, he joyfully proclaims that the answer (provision) is found in Jesus Christ.
          In order to follow Paul ’s line of reasoning in Rom.8:29-30, we must of necessity start with verse 28.  In this
          verse, he states that God is using all things to bring about that good which he has ordained (Eph.2:10) for all
          believers to possess.  In actuality, Paul says the very same thing in verse 29, only in a different way.  The phrase
          “For whom he did foreknow” is the same as “to them who are the called” in verse 28.  He “predestinated” or willed
          (purpose—vs.28) that believers should be Christ-like.
      </p>
      <p>
          In verse 30, Paul sums it up this way:  God has predestined(foreordained) that all should be saved (2 Pet.3:9;
          Jn.3:15,16); in order for all to be saved, he calls them to repentance by the preaching of the Gospel
          (Rom.10:8-17); if they believe the Gospel message and accept Christ into their hearts, then God justifies them
          (Rom.5:1; 1 Cor.6:11); he then glorifies them by filling them with His Spirit (Rom.8:11; 2 Cor. 4:6,7).
          Before we consider the Ephesian passage where the word “predestinated” is used, we would like to cite just a few
          more passages in Romans.
      </p>
      <p>
          We do this to emphasize to the reader the thought of Paul as regards the predestination or calling of the Gentiles
          to the Gospel as well as the Jew.
      </p>
      <p><b>
          “What if God, willing to shew his wrath, and to make his power known, endured with much longsuffering the vessels of
          wrath (see 1 Thess.2:14-16) fitted to destruction: And that he might make known the riches of his glory on
          the vessels of mercy, which he had afore prepared unto glory. Even us, whom he hath called, not of the Jews only,
          but also of the Gentiles?” </b> (Rom.9:22-24)
      </p>
      <p><b>
          “I say then, Hath God cast away his people? God forbid. For I also am an Israelite, of the seed of Abraham, of the
          tribe of Benjamin.
          God hath not cast away his people which he foreknew. Even so then at this present time also there is
          a remnant according to the election of grace.
          Now if the fall of them be the riches of the world, and the diminishing of them the riches of the Gentiles; how much
          more their (Israel’s) fullness?
          For I would not, brethren, that ye should be ignorant of this mystery, lest ye should be wise in your own conceits;
          that blindness in part is happened to Israel, until the fullness of the Gentiles be come in.
          And so all Israel shall be saved; as it is written, There shall come out of Sion the Deliverer, and shall turn
          away ungodliness from Jacob:” </b>(Rom.11:1,2,5,7,12,25,26)
      </p>
      <p>
          In Rom.9:22-24, Paul uses the phrases vessels of wrath and vessels of mercy to refer to the Jews and Gentiles,
          respectively.  Notice how he uses the pronoun us, thereby associating himself with the Gentiles. Again, we see the
          same thought how that God has predestined (afore pre pared) both Jew and Gentile to share in the glories of Christ.
          Romans 11 has proven to be a most controversial passage, especially verse 26.  The Dispensationalists have
          interpreted this chapter as proof of a national conversion of Israel.  However, this is not the teaching of Paul at
          all.  He states in verse 2 that God foreknew Israel after the flesh according to the covenant made to them (verse
          27).  This covenant was valid, however, only to those believing Jews (vss.5,7).  The believing remnant became
          the election.  Paul taught that the believing Jew and the believing Gentile (Rom.2:28,29) together composed the
          completed olive tree having both natural branches (Jews) and grafted branches (Gentiles). This is the context in
          which Paul uses the phrase all Israel in verse 26. The all was both the believing Jew and the believing Gentile.
          We will now turn our attention to the Ephesian letter, where Paul makes it even more clear to us how that God has
          predestined both Jew and Gentile to be partakers of the Gospel.  We see even better how Paul uses this word in
          a collective sense and not in an individual sense.
      </p>
      <p><b>
          “According as he hath chosen us in him before the foundation of the world, that we should be holy and without blame
          before him in love:
          Having predestinated us unto the adoption of children by Jesus Christ to himself, according to the good pleasure of
          his will.
          To the praise of the glory of his grace, wherein he hath made us accepted in the beloved.
          In whom we have redemption through his blood, the forgiveness of sins, according to the riches of his grace; Wherein
          he hath abounded toward us in all wisdom and prudence; Having made known unto us the mystery of his
          will,’ according to his good pleasure which he hath purposed in himself: That in the dispensation of the fulness of
          times he might gather together in one all things in Christ, both which are in heaven, and which are on earth; even
          in him: In whom also we have obtained an inheritance, being predestinated according to the purposeof him who worketh
          all things after the counsel of his own will:
          That we should be to the praise of his glory, who first trust ed in Christ.” </b>(Eph.1:4-12)
      </p>
      <p>
          If one were to read this passage without denominational prejudice or prior theological biasness, then the truth
          about predestination becomes self-evident.  Paul said that he became “all things to all men”. To the Jew, he became
          a Jew; to the Gentile, he became a Gentile.  Here, Paul, by using the pronouns “we” and “us”, demonstrates his
          oneness with the Gentile.  He does this same thing in other passages when addressing the Jewish converts.
          In this passage, Paul clearly shows that it was the Gentiles col lectivelythat were predestined by God to share in
          the Gospel message, so that, both Jew and Gentile would be gathered together “in one all things in Christ”.
          Notice Eph.2:ll-19.
      </p>
      <p><b>
          “Wherefore remember, that ye being in time past Gentiles in the flesh,who are called Uncircumcision by that which
          is called the Circumcision in the flesh made by hands; That at that time ye were without Christ, being aliens from
          the commonwealth of Israel, and strangers from the covenants of promise, having no hope, and without God in the
          world: But now in Christ Jesus ye who sometimes were far off are made nigh by the blood of Christ.
          For he is our peace, who hath made both one, and hath broken down the middle wall of partition between us; Having
          abolished in his flesh the enmity, even the law of commandments contained in ordinances; for to make in him self
          of twain one new man, so making peace;
          And that he might reconcile both unto God in one body by the cross, having slain the enmity thereby:
          And came and preached peace to you which were afar off, and to them that were nigh.
          For through him we both have access by one Spirit unto the Father.
          Now therefore ye are no more strangers and foreigners, but fellow citizens with the saints, and of the household of
          God.” </b>
      </p>
      <p>
          To this truth the prophet Zechariah agreed.
      </p>
      <p><b>
          “Rejoice greatly, 0 daughter of Zion; shout, 0 daughter of Jerusalem: behold, thy King cometh unto thee: he is just,
          and having salvation; lowly, and riding upon an ass, and upon a colt the foal of an ass.
          And I will cut off the chariot from Ephraim, and the horse from Jerusalem, and the battle bow shall be cut off:
          and he shall speak peace unto the heathen: and his dominion shall be from sea even to sea, and from the river even
          to the ends of the earth.” </b>(Zech.9:9,10)
      </p>
      <p>
          There is much similarity in the wording between the Roman epistle and the letter to Ephesus.  It is almost as if
          Paul used the same sermon notes when writing these two churches.  But really, if one were to carefully study the
          Pauline epistles, it would be discovered that this was a burning message inside the heart of Paul.  The fact that
          God had chosen both Jew and Gentile to become one in Christ was indelibly imprinted upon the conscience of Paul.  To
          preach this truth was the pas sionate desire of this great Apostle.
      </p>
      <p>
          As I have previously stated in this paper, the controversy over predestination would become greatly mitigated if
          Paul’s wording as found in Romans 8:29,30 and Ephesians 1:5,11 would be read and interpreted
          in its greater context, and, in the context of the calling of the Apostle Paul.
          The predestination or calling of both the Jew and the Gentile was not a message which was unique to Paul, however,
          as is evident from Jesus’ own teaching in John 10:16.
      </p>
      <p><b>
          “And other sheep (Gentiles) I have, which are not of this fold (Jews): them also I must bring, and ‘they shall hear
          my voice; and there shall be one fold, and one shepherd.” </b>
      </p>
      <p>
          In conclusion, I would like to make one final quote from Eph.3:l-12, so that, we may again emphasize that Paul
          speaks in the collective sense when referring to the eternal purpose of God’s predestined plan for man, both Jew and
          Gentile.
      </p>
      <p><b>
          “For this cause I Paul, the prisoner of Jesus Christ for you Gentiles,
          If ye have heard of the dispensation of the grace of God which is given me to you-ward:
          How that by revelation he made known unto me the mystery; (as I wrote afore in few words,
          Whereby, when ye read, ye may understand my knowledge in the mystery of Christ)
          Which in other ages was not made known unto the sons of men, as it is now revealed unto his holy apostles and
          prophets by the Spirit;
          That the Gentiles should be fellow heirs, and of the same body, and partakers of his promise in Christ by the
          gospel: Whereof I was made a minister, according to the gift of the grace of God given unto me by the effectual
          working of his power.
          Unto me, who am less than the least of all saints, is this grace given, that I should preach among the Gentiles the
          un searchable riches of Christ;
          And to make all men see what is the fellowship of the mystery, which from the beginning of the world hath been hid
          in God, who created all things by Jesus Christ:
          To the intent that now unto the principalities and powers in heavenly places might be known by the church the
          manifold wisdom of God,
          According to the eternal purpose which he purposed in Christ Jesus our Lord:
          In whom we have boldness and access with confidence by the faith of him.” </b>
      </p>
      <p>
          Almost as a postscript, I must make one qualifying comment concerning the thesis of this paper.  When we state that
          predestination is used in the collective sense referring both to Jews and Gentiles, we do so in the context of how
          Paul used the word in the Roman and Ephesian passages. This is not to say that God is bound to operate only within
          these confines. God is sovereign and may choose to individually predestinate and ordain certain persons for specific
          ministries and callings.  Certainly the Apostle Paul would be a prime example of this prerogative.  But, again, we
          reiterate that the passages normally used to support predestination are not to be interpreted in the individual
          sense but in the collective sense.
      </p>
    </div>
  </div>
</div>