<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>God’s Rainbow</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/rainbow.jpg">
      </div>
       <p></p>
        The book of beginnings has always fascinated me, especially those first few chapters of Genesis. There are so many
        questions that have come to my mind when I read about the creation and the time just prior to and after the flood
        of Noah. So little is known or even recorded about those first seventeen hundred years of mankind’s existence. One
        can only imagine what the world must have been like to have precipitated such a cataclysmic judgment upon itself
        by its very Creator.
      </p>
      <p>
        First, there was this perfect world. A world where man and beast coexisted without fear of each other and,
        according to several legends from a variety of cultures, a world where they could actually communicate between
        themselves. It was a world that did not know the agony and despair of pain, disease and death. It was a world
        where the earth brought forth abundantly of its harvest with barely any effort made by man. This blissful world
        ended almost as quickly as it had begun. Sin had made its woeful presence known, and as the poet John Milton
        recorded, Paradise Lost was now a present reality.
      </p>
      <p>
        After this, both the earth and mankind would suffer. The world became inhospitable to man. The roses brought forth
        thorns, the gardens produced weeds and the earth’s climate was harsh and unforgiving. Truly, man would have to eat
        bread by the “sweat” of his brow. The pain of childbirth would be greatly magnified. Man would sit around the
        fires at night and reminisce and tell stories to the young of the “Golden Age.” For over sixteen hundred years,
        this was the lot of mankind. Years would pass and the sting of judgment would be forgotten. Sin would once again
        reign in the hearts of men.
      </p>
      <p>
        After Adam and Eve had sinned, Genesis 3:15 records that God came down and confronted them. In Exodus 34, God
        revealed to Moses his true nature and essence. This is how God described himself to Moses: “The LORD God, merciful
        and gracious, longsuffering, and abundant in goodness and truth, keeping mercy for thousands, forgiving iniquity
        and transgression and sin...” Yes, God being holy and righteous had to judge man’s sin but, at the same time,
        extended his arms of love and mercy to Adam and Eve. While he was pronouncing judgment upon their sin, he was
        promising them a future redemption.
      </p>
      <p>
        The first century Jewish historian Josephus recorded that, “while Adam was still alive, the posterity of Cain
        became exceedingly wicked.” By the tenth generation of mankind, evil was rampant over the earth. However, God did
        not forget his promise of redemption to humanity. Throughout every generation, God maintained a Godly lineage that
        he would ultimately use to accomplish his redemptive plan. The Bible records that in the tenth generation from
        Adam there was a man called Noah who was “perfect in his generations.” In Genesis 6-9, the scriptures give the
        story of God’s judgment upon a sinful world and his love and mercy which was extended to Noah and his family.
        Noah’s Godly father prophesied over Noah at his birth. God had revealed to Lamech that through his son Noah, whose
        name means “comforted,” he would remove the curse that he had made upon the ground. This gives us a clue that the
        antediluvian climate was significantly different than what it is today. This agrees with the words penned by
        Peter, “the world that then was, being overflowed with water, perished.” In his mercy, God removed a portion of
        the curse of sin, but not all. The most egregious penalty of man’s sin would require the shedding of innocent
        blood. This is because God had initially shed the innocent blood of an animal to cover man’s shame of nakedness
        and sin. Of course, we know that this ultimate promise of redemption was fulfilled by the death of Jesus upon the
        cross of Calvary.
      </p>
      <p>
        What I have said so far brings us to the real purpose of this brief study. I want the reader to consider a
        wondrous and marvelous facet of nature, namely, the rainbow. We shall discover that the rainbow is a spectacular
        physical representation and display of God’s love and redemption. In order to do this, we need to consider the
        scriptural passage in which it is first recorded.
      </p>
      <p><b>
        “And I will establish my covenant with you; neither shall all flesh be cut off any more by the waters of a flood;
        neither shall there any more be a flood to destroy the earth.
        And God said, This is the token of the covenant which I make between me and you and every living creature that is
        with you, for perpetual generations.
        I do set my bow in the cloud, and it shall be for a token of a covenant between me and the earth.
        And it shall come to pass, when I bring a cloud over the earth, that the bow shall be seen in the cloud:
        And I will remember my covenant, which is between me and you and every living creature of all flesh; and the
        waters shall no more become a flood to destroy all flesh.
        And the bow shall be in the cloud; and I will look upon it, that I may remember the everlasting covenant between
        God and every living creature of all flesh that is upon the earth.
        And God said unto Noah, This is the token of the covenant, which I have established between me and all flesh that
        is upon the earth.” </b>
      </p>
      <p>
        In studying scripture, it is critical that we understand the meaning of the words employed, especially in the
        context of the language in which it was originally written. In this case, of course, the language was Hebrew. The
        first word under consideration is establish. The word in Hebrew means to “rise.” It can have many applications
        depending upon the context in which it is used. In this case, it means: to confirm, make good, perform and, of
        course, to establish. What God is referencing is his promise that he made to Adam and Eve about a future
        redemption. We will see this covenant-promise alluded to throughout the Old Testament. It was made to Abraham.
        Later, as history gets closer to the time of Jesus, the prophet Malachi prophesied saying:
      </p>
      <p><b>
        “Behold, I will send my messenger, and he shall prepare the way before me: and the Lord, whom ye seek, shall
        suddenly come to his temple, even the messenger of the covenant, whom ye delight in: behold, he shall come, saith
        the LORD of hosts.” </b>
      </p>
      <p>
        So, God is proclaiming what he will bring to pass, he will accomplish the promise that he made to mankind many
        years ago there in the Garden of Eden. Of great importance is the meaning of the word covenant. It literally means
        “to cut.” The Hebrew word is berith. Therefore, in order to establish this covenant, the shedding of blood is
        required. The writer of Hebrews makes this fact abundantly clear:
      </p>
      <p><b>

        “...and without shedding of blood is no remission...but now...hath he appeared to put away sin by the sacrifice of
        himself...So Christ was once offered to bear the sins of many.” </b>(Hebrews 9:22, 26, 28)
      </p>
      <p>
        In the passage in Genesis, God speaks about a token of that covenant. The word token simply means a sign, signal
        or evidence. As such, it just represents the covenant and is not the covenant itself. Notice, too, that this
        symbol of the covenant would be for perpetual generations. This explicitly implies a sign or token which will be
        evidenced throughout eternity. Let’s stop and consider this for a moment. How could and even why would God use a
        token of his covenant to be an eternal representation? It’s time now to consider the actual token in question.
        God said, “I do set my bow in the cloud.” To begin with, everyone knows that a rainbow is just an arc. An arc,
        which is just a portion of a circle, is hardly a symbol of something that represents eternity or that which is
        perpetual. At least, that’s what I thought. Many years ago, I took a moment to look up “rainbow” in an
        encyclopedia. What I discovered amazed me. Perhaps, if I were not so lacking in knowledge, the fact that all
        rainbows were complete circles would have been obvious to me. If I had been a “frequent flyer,” I probably would
        have encountered this phenomenon. Along with this thought is the phrase, “I may remember.” Although I had always
        had the impression that the rainbow was meant for humans “to remember” that God would no longer bring a flood upon
        the earth, that is not what the Bible states. Of course, God does not forget. This is merely a language
        accommodation known as anthropomorphism. In other words, God is being assigned human attributes. The “bow” or
        rainbow was to be a perpetual reminder throughout all eternity of His covenant-promise, and what it cost God to
        purchase mankind’s redemption. This is especially brought to mind in John 3:16. Therefore, from God’s perspective
        (heaven), the full-circled rainbow symbolized His everlasting covenant. The apostle John further documents this
        truth when he was given visions of heaven in the book of Revelation.
      </p>
      <p><b>
        “And immediately I was in the spirit: and, behold, a throne was set in heaven, and one sat on the throne.
        And he that sat was to look upon like a jasper and a sardine stone: and there was a rainbow round about the
        throne...
        And before the throne there was a sea of glass like unto crystal...”</b> (Revelation 4:2, 3, 6)
      </p>
      <p>
        The Greek word that is here translated “rainbow” is actually transliterated as iris. Notice that it is “round
        about” the throne. In other words, it is all-around, it encircles the throne. Also of interest is the fact that
        before the throne was a “sea of glass like unto a crystal.” Known to all is the mechanism upon which a rainbow is
        produced. As light passes through rain droplets or through a prism, like that of a crystal, it is refracted into
        its seven colors. The Bible speaks about God as “dwelling in the light.” In James, he is called the “Father of
        lights.” As the reader has probably already deduced, God’s glorious light of his presence passing through the
        crystal sea of glass produces this eternal rainbow which encircles the throne.
        We mentioned the Greek word for rainbow, but the Hebrew is much more interesting and intriguing. The Hebrew word
        is keshet and simply means “to bend.” Many Hebrew words are actually derivatives from a “root word.” Keshet is
        from the same root word hekesh which means “inference.” So, one could correctly say that God is wanting us to
        reflect or draw an inference as we gaze upon the rainbow. By contemplating about the rainbow, which is a natural
        phenomenon, one can infer something about God himself. As previously mentioned, the rainbow is formed when white
        light passes through water droplets in the clouds. The droplets serve as prisms that refract the light into seven
        colors: red, orange, yellow, green, blue, indigo and violet. The white light represents God’s purity and holiness.
        Notice how Timothy described this awesome characteristic of God:
      </p>
      <p><b>
        “Who only hath immortality, dwelling in the light which no man can approach unto; whom no man hath seen, nor can
        see: to whom be honor and power everlasting. Amen.” </b> (I Timothy 6:16)
      </p>
      <p>
        In Revelation 4:5, John said that there were “seven lamps of fire burning before the throne, which are the seven
        Spirits of God.” The number seven in scripture signifies fullness. Fire is used in metallurgy to purify. Thus, the
        seven colors refracted from the white light serve to illustrate the fullness of God’s holiness. Any student of art
        knows that there are three primary colors. These primary colors are found within the prismatic colors of the
        rainbow: red, yellow and blue. Let’s further examine and muse upon these colors.
      </p>
      <p>
        <b>Red</b> - Obviously, if the rainbow is the sign of the covenant, and a covenant necessitates the shedding of blood,
        then the red must symbolize the shed blood of Christ and, as a consequence, his death. As the sun sets (dies or is buried),
        many times it appears red. This is because only the longer wavelength of the light spectrum is observed.
        In Malachi 4:2, we find a very intuitive phrase, “the Sun of righteousness.” This is a definite reference to Christ.
      </p>
      <p>
      <b>Yellow</b> - The color yellow refers to the sun which rises or resurrects from the east. In the gospel of John, it
        states that Jesus was the light and life of the world. That is why the passage in Malachi holds such significance.
        The sun represents Jesus in that it gives the earth light and life (through the process of photosynthesis). In
        First Corinthians 15, Paul states that without the resurrection, we are yet dead in our sins. It is only because
        of Jesus’ resurrection that we have the promise and hope of eternal life.
      </p>
      <p>
        <b>Blue</b> - From antiquity, the color blue has come to represent royalty. In Esther 8:15, Mordecai is honored with
        wearing the king’s robe, the “royal apparel of blue.” In the book of Revelation, after Jesus’ ascension, he is
        referred to as the “Lord of lords and the King of kings.” Therefore, the color of blue epitomizes Jesus’
        exaltation. Peter told those in Jerusalem on the day of Pentecost that:
      </p>
      <p><b>
        “This Jesus hath God raised up, whereof we all are witnesses. Therefore, being by the right hand of God
        exalted...” </b> (Acts 2:32, 33)
      </p>
      <p>
        God, in his infinite wisdom, has provided to us a natural phenomenon that He has used to represent the death,
        resurrection and exaltation of Jesus.
      </p>
      <p>
        In rabbinic teaching, the Messiah was oftentimes referred to as “bar nivli” or “son of the clouds.” In Ezekiel
        1:28, we read about the “bow that is in the cloud” and the “brightness round about.” In this same verse it
        specifically stated that it was as the “likeness of the glory of the Lord.” Remember in the mount of
        transfiguration, God spoke through a “bright cloud.” Also, as Jesus ascended from the mount of Olives, he was
        taken up in a “cloud.” The angels told the disciples that Jesus would return in the same manner in which he left,
        that is, in a cloud. The clouds represent God’s glory and the rainbow symbolizes His grace. We see this
        association of clouds and rainbows even in the New Testament.
      </p>
      <p><b>
        “And he that sat was to look upon like a jasper and a sardine stone: and there was a rainbow round about the
        throne, in sight like unto an emerald.” </b> (Revelation 4:3) <b>
        “And I saw another mighty angel come down from heaven, clothed with a cloud: and a rainbow was upon his head, and
        his face was as it were the sun, and his feet as pillars of fire.” </b> (Revelation 10:1)
      </p>
      <p>
        Since the rainbow completely encircles the throne of God, the only way to approach His throne is to first come
        through the rainbow. Just as the gospel song says: “Some through the water, some through the flood. Some through
        the fire, but all through the blood.” In theological studies, the shed blood (red) stands for the doctrine of
        justification.
      </p>
      <p><b>
        “But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us. Much more then,
        being now justified by his blood...” </b>
        (Romans 5:8, 9)
      <p>
        The yellow represents the light and life we receive from Jesus’ resurrection. God is continually forming and
        fashioning the believer into the likeness of His Son. This is known as the doctrine of sanctification.
      </p>
      <p><b>
        “...being reconciled, we shall be saved by his life.” </b> (Romans 5:10)
      </p>
      <p><b>
        “That he might sanctify and cleanse it with the washing of water by the word. That he might present it to himself
        a glorious church, not having spot, or wrinkle, or any such thing; but that it should be holy and without
        blemish.” </b> (Ephesians 5:26,27)
      </p>
      <p>
        Finally, in order to be in the presence of God in His throne room, we must be glorified by passing through the
        royal color of blue. This is known as the doctrine of glorification.
      </p>
      <p><b>
        “Moreover, whom he did predestinate, them he also justified: and whom he justified, them he also glorified.” </b>
        (Romans 8:30)
      </p>
      <p>
        In this brief study, we have discovered that this beautiful symbol of promise (the rainbow) is, in actuality, a
        perpetual object lesson that encapsulates and summarizes the gospel message. We saw that the rainbow in the cloud
        represented God’s glory and grace. Also, we saw that it embodies Jesus’ death, burial, resurrection and
        exaltation. Lastly, in the colors of the rainbow, we find the doctrines of justification, sanctification and
        glorification.
      </p>
    </div>
  </div>
</div>