<p>                                    God’s Rainbow   
      In the third chapter of Genesis, we read how that mankind had sinned against their Creator.  Was this a surprise to God?  Of course not.  God knew before the beginning of His creation that man would fall from his state of innocence.  However, God had a plan of redemption for mankind.  In Revelation 13:8, we see that God had a Lamb that was “ slain from the foundation of the world. ”  We find this promise of redemption made in Genesis 3:15:
       “And I will put enmity between thee and the woman, and between thy seed and her seed; it shall bruise thy head, and thou shalt bruise his heel.”
      During the first 1656 years of human history, it appeared that evil would triumph and that the promise of man’s redemption would come to nought.  By the tenth generation of mankind, evil was rampant over the earth.  The first century Jewish historian Josephus recorded that, “ while Adam was still alive, the posterity of Cain became exceedingly wicked. ”  We know that Adam died in the ninth generation from creation during the time of Lamech, Noah’s father.  However, in every generation, God left a clue that He would indeed fulfill His promise.  We find these clues in the meanings of the names of the ten righteous patriarchs from Adam to Noah.
  Adam means “ man .”
  Seth means “ appointed .”
  Enos means “ mortal , feeble, or frailty.”
  Cainan means “lament, a dirge, or sorrow ”
  Mahalaleel means “ the Blessed God .”
  Jared means “descent, or shall come down .”
  Enoch means “initiated, to instruct, or teaching .”
  Methusaleh means “when he dies, sent” or “ his death shall bring .”
  Lamech means “to be low, depressed, or despairing.”
  Noah means “comfort or rest .”
      We find these ten names written consecutively in I Chron.1:1-4.
  If we read these names in Hebrew, we could translate them to mean, “ Man is appointed mortal sorrow, but the Blessed God shall come down teaching that His death shall bring the despairing rest. ”
      Thus, we find the essence of the gospel message found in the names of the first ten patriarchs.  The Apostle Paul in Romans tells us that because of sin, mankind and the “ whole creation groaneth and travailed in pain. ” Finally, in the generation of Noah, a man that was “ perfect in his generations ,” we again see how the plan of God to redeem mankind was to be fulfilled.  Noah’s story is found in Genesis 6-9.
                                                         
    “And God spake unto Noah, and to his sons with him, saying,
       And I, behold, I establish my covenant with you, and with your seed after you;
       And with every living creature that is with you, of the fowl, of the cattle, and of every beast of  the earth with you; from all that go out of the ark, to every beast of the earth.
       And I will establish my covenant with you; neither shall all flesh be cut off any more by the waters of a flood; neither shall there any more be a flood to destroy the earth.
       And God said, This is the token of the covenant which I make between me and you and every living creature that is with you, for perpetual generations :
       I do set my bow in the cloud, and it shall be for a token of a covenant between me and the earth.
       And it shall come to pass, when I bring a cloud over the earth, that the bow shall be seen in the cloud:
       And I will remember my covenant, which is between me and you and every living creature of all flesh; and the waters shall no more become a flood to destroy all flesh.
       And the bow shall be in the cloud; and I will look upon it, that I may remember the everlasting covenant between God and every living creature of all flesh that is upon the earth.
       And God said unto Noah, This is the token of the covenant , which I have established between me and all flesh that is upon the earth.”  (Gen.9:8-17)
       To many, the rainbow is but an oddity of nature. But in reality, it is a spectacular physical representation and display of God’s love and redemption.  Let’s see how this is so. 
      To better understand this passage of Scripture, we will examine some of its key terms and phrases.  The first phrase that we will consider is “establish my covenant” as found in verse 9.  As we have already noted, this covenant-promise was first given in Gen.3:15. 
      Since the Redeemer must come from the “seed” of woman, God had to sustain mankind by way of Noah and his family in order to fulfill his promise of a Redeemer.  So, in Genesis 9, we find that God renewed that covenant-promise to Noah.  Later, in Gen.12, God again renews this covenant-promise to Abraham.  Finally, Mal.3:1 tells of the one who would be the “messenger” of this covenant.
       “Behold, I will send my messenger, and he shall prepare the way before me:  and the Lord , whom ye seek, shall suddenly come to his temple, even the messenger of the covenant , whom ye delight in:  behold, he shall come, saith the LORD of hosts.”
      Before proceeding further, we must consider the meaning of the word “covenant”.  The Hebrew word for covenant is “berith”.  This word has the basic meaning of “to cut”.  Therefore, in order to establish a covenant, the shedding of blood is required.  The writer of Hebrews makes this fact abundantly clear in Heb.9:22, 26, 28.
       “…and without shedding of blood is no remission.
        but now…hath he appeared to put away sin by the sacrifice of himself.
        So Christ was once offered to bear the sins of many; and unto them that look for him shall he appear the second time without sin unto salvation.” 
      Next, we will examine the word “token”.  This term essentially refers to a “sign” or “signal”.  Obviously, if it is merely a symbol of the covenant , then it could not possibly be the actual covenant itself.  The passage in Genesis further states that the “bow” would be that very “token”.  Additionally, this “bow” was to be a “token” for “ perpetualgenerations” and a reminder of an “ everlastingcovenant ”.  Initially, this was a puzzle to me since the rainbow is only an arc and not a complete circle.  The circle is the usual symbol to represent eternity or the concept of everlasting.  Upon referencing an encyclopedia, I discovered the solution to my dilemma.  The encyclopedia stated that all rainbows are full circles , if viewed from an airplane.  With this additional bit of information, the phrase found in verse 15, “ I will remember ”, took on added significance.  God placed the bow in the clouds so that He would “remember”.  Of course, God doesn’t “forget”.  This is merely a language accommodation known as anthropomorphism.
      In other words, God is being assigned human attributes.   The “ bow” or rainbow was to be a perpetual reminder throughout all eternity of His covenant-promise and what it cost God to purchase man’s redemption .  This is especially brought to mind in John 3:16. Therefore, from God’s perspective (Heaven), the full-circled rainbowsymbolized His everlasting covenant.  The apostle John further documents this truth when he was given visions of Heaven in the book of Revelation
     “And immediately I was in the spirit:  and, behold, a throne was set in heaven, and one sat on the throne.
       And he that sat was to look upon like a jasper and a sardine stone:  and there was a rainbow round (all around) about the throne…”  (Rev.4:2, 3)      
      We will now give a little further consideration of the “ bow ” or rainbow.  To begin with, we find that the Hebrew word is keshet and simply means “ to bend ”.  However, it is from the same root word hekesh which means “ inference ”.  So, one could correctly say that God is wanting us to reflect or draw inference as we gaze upon the rainbow.  By contemplating the rainbow, which is a natural phenomenon, one can infer something about God Himself.  Of course, as we all know, the rainbow is formed when white light passes through water droplets in the clouds .  The water droplets serve as prisms that refract the light into seven colors:  red, orange, yellow, green, blue, indigo, and violet.  The white light represents God’s purity and holiness.  Notice how Timothy describes this awesome characteristic of God:
      “Who only hath immortality, dwelling in the light which no man can approach unto; whom no man hath seen, nor can see:  to whom be honor and power everlasting.  Amen.”  (1Tim.6:16)
      In Rev.4:5, John said that there were “ seven lamps of fire burning before the throne, which are the sevenSpirits of God.”  The number seven in Scripture signifies fullness .  Thus, the seven colors refracted from the white light serve to illustrate the fullness of God’s holiness.  Any student of art quickly discovers that there are three primary colors.  These primary colors are found within the prismatic colors of the rainbow:  red, yellow, and blue.  Obviously, if the rainbow is the sign of the covenant, and a covenant necessitates the shedding of blood, then the red must represent the shed blood of Christ.  Thus, the red found in the rainbow signifies His death .  As the sun sets (or dies, its burial ), many times it appears red, this is because only the longer wavelength of red reaches us. In Mal.4:2 (KJV), we find a very interesting phrase: “ the Sun of righteousness” .   This is a definite reference to Christ.  Of course, yellowrefers to the sun which arises (resurrects) from the east.  In the gospel of John, the Bible states that Jesus was the light and life of the world.  That is why in Malachi, the sun represents Jesus in that it gives the earth light and life (through the process of photosynthesis).  Consequently, the color yellow symbolizes both Jesus’ burial and His resurrection .  From antiquity, the color blue has come to represent royalty .  In Esther 8:15, Mordecai is honored with wearing the king’s robe, the “royal apparel of blue”.  In the book of Revelation, after Jesus’ ascension, he is referred to as the “Lord of lords and the King of kings”.   Thus, the color of blue symbolizes Jesus’ exaltation .  Peter told those in Jerusalem on the day of Pentecost that:
       “This Jesus hath God raised up, whereof we all are witnesses.
        Therefore, being by the right hand of God exalted…” (Acts 2:32,33)
   
       In rabbinic teaching, the Messiah was oftentimes referred to as “bar nivli” or “son of the clouds.”  In Ezekiel 1:28, we read about the “ bow that is in the cloud ” and the “ brightness round about. ”  In this same verse it specifically stated that it was as the “likeness of the glory of the Lord .”  Remember in the mount of transfiguration, God spoke through a “bright cloud.”  Also, as Jesus ascended from the Mount of Olives, he was take up in a “cloud.”  The angels told the disciples that Jesus would return in the same manner in which he left, that is, in a “cloud.” The clouds represent God’s glory and the rainbow symbolizes His grace .  We see this association of clouds and rainbows even in the New Testament as found in Revelation.
       “And he that sat was to look upon like a jasper and a sardine stone:  and there was a rainbow round about the throne , in sight like unto an emerald.” (Rev.4:3)
       “And I saw another mighty angel come down from heaven, clothed with a cloud:  and a rainbowwas upon his head, and his face was as it were the sun, and his feet as pillars of fire.” (Rev.10:1)
       There is one more consideration that I would like to make concerning the rainbow.  Since the rainbow completely encircles the throne of God, the only way to approach His throne is first to come through the rainbow.  Just as the gospel song says:
  “ Some through the water, some through the flood.  Some through the fire, but all through the blood .”  Thus, the red represents the shed blood of Christ .  In theological studies, this is known as the doctrine of justification .  
       “But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.
        Much more then, being now justified by his blood…” (Rom.5:8,9)
      The yellow represents the light and life we receive from Jesus’ resurrection .  God is continually forming and fashioning the believer into the likeness of His Son.  This is known as the doctrine of sanctification .
      
       “…being reconciled, we shall be saved by his life .” (Rom.5:10)
       “That he might sanctify and cleanse it with the washing of water by the word.
         That he might present it to himself a glorious church, not having spot, or wrinkle, or any such thing; but that it should be holy and without blemish.” (Eph.5:26,27)
      Finally, in order to be in the presence of God in His throne room, we must be glorified by passing through the royal color of blue.  This is known as the doctrine of glorification .
       “Moreover, whom he did predestinate, them he also called: and whom he called, them he also justified: and whom he justified, them he also glorified. ” (Rom.8:30)
       “Beloved, now are we the sons of God, and it doth not yet appear what we shall be: but we know that, when he shall appear, we shall be like him; for we shall see him as he is.” 
  (I John 3:2)
      In this brief study, we have discovered that this beautiful symbol of promise (the rainbow) is, in actuality, a perpetual object lesson that encapsulates and summarizes the gospel message.  We saw that the rainbow in the cloud represented God’s glory and grace .  Also, we discovered that it symbolized Jesus’ death, burial, resurrection and exaltation .  Finally, in the colors of the rainbow, we find the doctrines of justification, sanctification, and glorification .
       
      GOD’S  RAINBOW
      
                                  by
            Jim Gibson

</p>