<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Samson: The Original Superman</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/samson.jpg">
      </div>
      <p>
        As a boy growing up in the 1950s, the one TV series that captured my imagination was the “Adventures of
        Superman”. In fact, just the announcer introducing each episode made my heart beat a little faster: “Faster than
        a speeding bullet! More powerful than a locomotive! Able to leap tall buildings in a single bound!” Yes, it was
        Superman, who disguised himself (by wearing glasses) as the mild-mannered reporter for the Daily Planet who
        “fights a never-ending battle for truth, justice, and the American way!” Sometimes, my mother would let me use a
        towel as a cape. She fastened it with a safety pin. We neighborhood boys would play superman. I distinctly
        remember that, once I had that cape fastened on, I felt that I could run faster and jump higher. In fact, I was
        persuaded that this was indeed the case.
      </p>
      <p>
        However, long before that superman, the Bible records a real, historic personage that was truly super, and his
        name was Samson. His escapades can be found in Judges 14-16. The agnostics and atheists do their best to cast
        aspersions on the veracity of Samson’s feats. They simply regard them as myths. Even some theologians attempt to
        diminish, downplay, and essentially remove the supernatural from his deeds. There are those who view Samson as a
        man who was unusually endowed with bulging muscles much like the onetime body builder Arnold Schwarzenegger.
        Some maintain that he did those things that were, in fact, humanly possible. Others feel that, although he was
        muscular, his real strength came from God. Before I tell you what I think, let’s consider who Samson was and
        examine some of his exploits.
      </p>
      <p>
        Samson was probably born sometime in the 12th century BC to parents who were of the tribe of Dan. His birth was
        rather miraculous in that it was announced by an angel, more likely, it was a theophany (physical manifestation)
        of God. The angel told his parents that he was to be a Nazarite. This meant that Samson was to never drink wine
        or strong drink, neither eat anything that was deemed unclean, nor ever cut his hair. At this time of Israelite
        history, they were under Philistine domination. The southern portion of Dan was adjacent to the borders of the
        Philistines. This is the setting for our story.
      </p>
      <p>
        In chapter 14 of Judges, we read of Samson’s first heroic deed which demonstrated his superhuman strength. It
        appears that a certain Philistine woman in the town of Timnath had caught Samson’s eye. He wanted his parents to
        speak with her father about her becoming his wife. So, he and his parents went to Timnath to talk with the
        woman’s father. Undoubtedly, while his parents were discussing the prospects of marriage, Samson took a stroll
        into one of the nearby vineyards. Here is what happened.
      </p>
      <p><b>
        “Then went Samson down, and his father and mother, to Timnath, and came to the vineyards of Timnath: and,
        behold, a young lion roared against him.
        And the Spirit of the LORD came mightily upon him, and he rent him as would have rent a kid, and he had nothing
        in his hand: but he told not his father or his mother what he had done.” </b>
      </p>
      <p>
        The word “young” in this verse refers to a maned lion, in other words, a male. An adult male lion can weigh
        between 400 to 550 pounds. Considering the mass and strength, the tearing teeth, and the ripping claws which a
        lion possesses, the idea that a man could tear or rip apart such an animal is truly mind-boggling. The Bible
        compared this to a man tearing apart a kid, that is, a young goat. A “kid” is usually considered to be between
        ten to thirty pounds. This gives us a hint of the force that Samson used with no weapon, only his bare hands.
        But, this is only the beginning of the saga involving this Philistine woman. Sometime later, Samson went back
        down to Timnath to take his wife and have a marriage feast. As he passed by the carcass of the lion which he had
        killed, he noticed that a swarm of bees had made a hive within it. He took some of the honeycomb and even gave
        some to his parents, but they did not know anything about him killing the lion. At the feast, there were thirty
        Philistine men who came as part of the wedding guests. Samson gave them a riddle and made a wager that they
        could not decipher or explain its meaning. The men went to Samson’s wife and threatened her life and her
        family’s lives. She nagged on Samson for seven days for him to tell her the riddle. He finally wore down and
        told her. Of course, the men solved the riddle on the last day of the wedding feast. Samson had no doubt as to
        how they got the answer. His memorable words were, “If ye had not plowed with my heifer, ye had not found out my
        riddle.” He had promised them each a change of garments, that is, some new threads. To pay his debt, Samson
        traveled about 20 miles to a Philistine seaside town called Ashkelon. There, he killed thirty men and took their
        garments to settle his debt.
      </p>
      <p>
        It appears that Samson was not too pleased with his wife for giving away his riddle. After he paid off his debt,
        Samson went back to his father’s house for awhile. Later, he went back down to Timnath to see his wife, but her
        father would not allow it. While Samson was away, her father had given her to be the wife of one of Samson’s
        friends. By his absence, Samson’s father-in-law naturally assumed that, because of her betrayal, Samson had
        deserted her, so he gave her away to another man. This action would prove to be a fatal mistake for both the
        father-in-law and Samson’s former wife. Samson was incensed. He caught three hundred foxes, and attached a torch
        between their tails, and then, released them in the Philistine’s cornfields and vineyards. This completely
        devastated their crops. After finding out who had done this reprehensible deed, the Philistine men went and
        burned her and her father. This was but yet another bad decision by the Philistines. Upon finding out who had
        murdered his wife, Samson came and slaughtered all parties involved. This brings us to the final episode of this
        saga.
      </p>
      <p>
        The Philistines had to respond to Samson’s actions, since they were supposedly the lord and masters over the
        Israelites. After the slaughter, Samson went to a hill near the town of Etam in neighboring Judah and rested.
        The Philistines learned of his whereabouts and came with a thousand men to capture him. The men of Judah, upon
        realizing the possible war with their present rulers, came with three thousand men to deliver Samson into the
        hands of the Philistines. Compare the numbers involved just to capture a single man. Obviously, the men of Judah
        were much more cautious about coming up against Samson than were the Philistines. Samson allowed the men of
        Judah to bound him, and he went willingly to the camp of the Philistines. We all know the outcome of this
        confrontation. Samson killed all one thousand Philistines with no spear or sword, but only with the jawbone of
        an ass. Samson was exhausted and thirsty after the battle and called upon God for help. God immediately ripped
        open the ground, or possibly the rocky hill where Samson had previously been resting, and provided a fountain of
        water for him.
      </p>
      <p>
        As time passed, it is recorded that Samson again visited a town of the Philistines called Gaza. It was close to
        the coast and had an elevation of less than 200 feet at its highest point. Like many other ancient cities of
        that period, Gaza was enclosed with a protective wall. The Bible declares that Samson visited a harlot there. Of
        course, it did not take long before news of Samson’s arrival and location was well known to the men of the city.
        They decided to wait for him at the city’s gate, which was always shut up and secured at night. Let’s look at
        the passage that records this amazing story.
      </p>
      <p><b>
        “And Samson lay till midnight, and took the doors of the gate of the city, and the two posts, and went away with
        them, bar and all, and put them upon his shoulders, and carried them up to the top of an hill that is before
        Hebron.” </b>
      </p>
      <p>
        Gaza was one of the chief cities of the Philistines. Archaeology reveals that a lesser city than Gaza had a gate
        that was ten feet high and ten feet wide. These ancient gates were made of wood, but the wood was protected by
        metal bands or metal sheets. This was so that an enemy could not easily just burn the gate and make entrance. It
        has been estimated that such a gate might have weighed between 5 to 10 tons which, taking the lesser figure,
        would be about 10,000 pounds. The scripture states that Samson took the gate, the two posts, and the locking
        metal bar and carried them on his shoulders to the top of a hill which is “before” Hebron. This means that he
        had to pull them out of the ground! Before is a compound Hebrew word which means “above” and “facing”. Now
        Hebron is approximately 30 miles from Gaza and some 3000 feet higher in elevation. So, Samson carried all this
        weight this distance to the top of a hill that was above and facing Hebron. It was most probably a hill
        overlooking the town. Many have tried to explain away and make palatable this phenomenal feat. It becomes an
        obvious fact that what Samson did was not humanly possible. His strength was not his, rather, it was God’s.
        One of the most well-known and often told stories is that of Samson and Delilah. It is almost as memorable as
        Romeo and Juliet. The phrase that I believe to be very telling about Samson’s persona is made by the Philistines
        when they came to Delilah and said: “Entice him, and see wherein his great strength lieth.” Man looks on the
        outside, and from that perspective, the Philistines could not comprehend nor understand the source of Samson’s
        strength. He undoubtedly was no different in physique than any ordinary man.
        Throughout the Bible, God takes a person who is not noteworthy in man’s estimation, and performs mighty deeds
        through them. For instance, God took a poor man’s son from the tribe of Manasseh and defeated the armies of the
        Midianites and the Amalekites.
      </p>
      <p><b>
        “And there came an angel of the LORD, and sat under an oak which was in Ophrah, that pertained unto Joash the
        Abiezrite: and his son Gideon threshed wheat by the winepress, to hide it from the Midianites.
        And the angel of the LORD appeared unto him, and said unto him, The LORD is with thee, thou mighty man of
        valour.”  </b>
      </p>
      <p>
        I can almost visualize Gideon looking around to see who the angel was addressing when he proclaimed: “thou
        mighty man of valour.” No, Gideon could hardly claim to be anything like what the angel described him to be,
        that is, not yet. He did become that mighty man of valour after he became a willing vessel in which God could
        work through. Gideon raised an army of 32,000 men to go against an enemy whose army exceeded 120,000. These were
        formidable odds, but still within the realm of possibility. That is why God said that Gideon had too many men.
        God does not share his glory with another. He made Gideon reduce his army to just 300 men. This was 400 to 1!
        Now, it was no longer humanly possible to win. Without God, it was a hopeless task. But, with God, the armies of
        Midian and Amalek would be totally annihilated by Gideon’s 300 men.
      </p>
      <p>
        Everyone remembers the story of the young shepherd boy from Bethlehem whose name was David. The Philistine
        giant, Goliath, stood almost ten feet tall, and he daily defied the armies of Israel and of Israel’s God. One
        day, as David came to bring food to the captain that had command over his older brothers, he heard Goliath’s
        challenge against Israel. Although but a youth, he had faith in his God. Armed with just a sling, David met
        Goliath on the field of battle and delivered a fatal blow to the giant’s forehead. Some say that the stone
        merely knocked Goliath unconscious enough for David to use the giant’s own sword to sever his head. That may be,
        but I don’t think so. The Bible states that the stone “sunk” into the forehead. I will translate the Hebrew word
        that was used in this passage, so that the reader may get a better understanding of what actually happened. The
        word sunk means “to sink”. Yes, I am being facetious. For that term to make sense, the only conclusion is that
        the stone fractured and penetrated the skull. It was a fatal blow. In physics, the force of an object is the
        product of its mass and acceleration. I am inclined to believe that God not only guided that rock but might have
        added a little extra acceleration.
      </p>
      <p>
        We could go through the Bible with scores of examples of how God used the most unlikely characters to perform
        impossible tasks and amazing deeds.
      </p>
      <p>
        Samson is but one of a litany of individuals who became clay in the Potter’s hands. The apostle Paul recorded
        these words spoken to him by Jesus: “...for my strength is made perfect in weakness.” Yes, that great apostle to
        the gentiles made this confession: “when I am weak, then am I strong.”
        Therefore, if we examine Samson in the light of the scriptures and in consideration of the character of God,
        then we would have to conclude that he was much like that mild-mannered reporter from the Daily Planet. He was
        just a nondescript man from the tribe of Dan who God chose to accomplish his will and purpose.
      </p>
    </div>
  </div>
</div>