<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>The Seven Powers to Victory</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="small-12 medium-12 large-12 columns">
        <img src="assets/seven_powers.jpg" class="hide-for-small seven-img">
        <ul class="seven-list">       
          <li>I.     The Power of the Blood</li>
          <li>II.    The Power of the Cross</li>
          <li>III.   The Power of the Spirit</li>
          <li>IV.    The Power of Confession</li>
          <li>V.     The Power of the Word</li>
          <li>VI.   The Power of Prayer</li>
          <li>VII.  The Power of Praise</li>
        </ul>
      </div>
      <h4>
        I.   The Power of the Blood
      </h4>
      <p> 
            In studying the power of the blood, we find that from the very first, God had it in his plan that blood would be
        that efficacious agent for the sins of man.
      </p>
      <p><b>
           “Unto Adam also and to his wife did the Lord God  make coats of skins, and clothed them.”  </b> (Gen.3:21)
      </p>
      <p>
          From this verse, we learn that the blood of innocent animals was shed in order to cover the shame and sin of man.
         
        This, undoubtedly, was a decree from God because we read in the very next chapter that Abel offered a blood
        sacrifice to God.
      </p>
      <p><b>
             “And Abel, he also brought of the firstlings of his flock and of the fat thereof.  And the Lord had respect
        unto Abel and to his offering.” </b>  (Gen.4:4)
      </p>
      <p>
            Cain in his arrogance and pride thought that his sacrifice of the fruit of the ground would suffice, but this
        was
        not in God’s plan.  Consequently, his offering was unacceptable to God.
            As we read from Genesis to Malachi, the theme of a blood atonement is prominently portrayed.  Under the Old
        Testament
        economy, the blood of animals merely rolled the punishment of the people’s sins ahead for one year; it never
        completely
        absolved their sins.  This is why God sent his only-begotten Son to die on Calvary’s cross, so that through his
        death,
        we might all receive life.  
      </p>
      <p><b>
             “For this is my blood of the new testament, which is shed for many for the remission of sins.” </b>  (Matt.26:28)
      </p>
      <p><b>
            “Behold the Lamb of God, which taketh away the sin of the world.” </b> (John 1:29)
      </p>
      <p><b>
            “But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us…we were
        reconciled
        to God by the death of his Son.” </b>(Rom.5:8,10)
      </p>
      <p><b>
            “In whom we have redemption through his blood, even the forgiveness of sins.” </b>  (Col.1:14)
      </p>
      <p><b>
            “In whom we have redemption through his blood, the forgiveness of sins, according to the riches of his grace.”
         </b> (Eph.1:7)
      </p>
      <p><b>
           “Who his own self bare our sins in his own body on the tree, that we, being dead to sins, should live unto
        righteousness…” </b> (1Pet.2:24)
      </p>
      <p>
            It is evident from these, and many more verses, that we can now enjoy a right relationship with God.  We need no
        longer to be estranged from our Heavenly Father.
      </p>
      <p><b>
            “For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not
        perish, but have everlasting life.”  </b> (John 3:16)
      </p>
      <p><b>
            “For by grace are ye saved through faith; and that not of yourselves:  it is the gift of God.”  </b> (Eph.2:8)
      </p>
      <p>
            This is called the doctrine of Justification.  It means that we become justified in the eyes of God because
        Christ’s
        innocent blood was shed for our sins.  We can receive this justification by asking Jesus to come into our hearts and
        allowing him to become the Lord of our life.  This is the first step in having victory in your Christian walk.
      </p>
      <h4>II.   The Power of the Cross</h4>
      <p>
            Upon  becoming Christians, we experience a new birth.  God, in his mercy, declares us to be righteous because of
        the shed blood of his Son.
      </p>
      <p><b>
            “Jesus answered and said unto him, Verily, verily, I say unto thee, Except a man be born again, he cannot see
        the kingdom of God.” </b>  (John 3:3)
      </p>
      <p><b>
            “Therefore if any man be in Christ, he is a new creature:  old things are passed away; behold, all things are
        become new.”  </b> (2 Cor.5:17)
      </p>
      <p>
        Although the Blood takes away all our previous sins, we still retain that sin nature or sin principle within our
        being.  
        This is where the Cross comes into view.  The Blood deals with the sins of man, whereas, the Cross deals with the
        sinner or sin nature of man.  It is because of that act of love on Calvary that we can live a victorious life in
        this sinful world.
      </p> 
      <p><b>
            “…but be of good cheer; I have overcome the world.”   (John 16:38)
            “And that he might reconcile both unto God in one body by the cross , having slain the enmity thereby.” </b> (Eph.2:16)
      </p>
      <p><b>
            “And having made peace through the blood of his cross …” </b> (Col.1:20)
      </p>
      <p><b>
            “Blotting out the handwriting of ordinances that was against us, which was contrary to us, and took it out of
        the way, nailing it to his cross .
             And having spoiled principalities and powers, he made a shew of them openly, triumphing over them in it.” </b>  (Col.2:14,15)
      </p>
      <p>
            Instead of the cross being a symbol of defeat, Jesus caused it to be a sign of victory.  It forever will remind
        Satan
        that Jesus redeemed mankind through his sacrifice on the cross. Too many times Christians are robbed of this victory
        because they do not recognize their adversary.
      <p><b>
            “Be sober, be vigilant, because your adversary the devil, as a roaring lion, walketh about, seeking whom he may
        devour.” </b> (1 Pet.5:8)
      </p>
      <p><b>
            “For we wrestle not against flesh and blood, but against principalities, against powers, against the rulers of
        the
        darkness of this world, against spiritual wickedness in high places.”  </b> (Eph.6:12)
      </p>
      <p>
            Those Christians who do not acknowledge demonic spirits have arbitrarily forfeited that segment of the gospel of
        deliverance.  
        By denying the activity of demons in today’s society, these same Christians betray their ignorance of many
        significant
        portions of Scripture.
            The Bible speaks of man as being a tri-partite creature.  That is, man is composed of body, soul, and spirit.  
        The body is evidently that fleshly part.  The soul can be referred to as the mind or emotions of man.  The spirit is
        that eternal part that was fashioned after the likeness of God.  Satan will try to take control of any or all parts
        of
        man, so that he  may destroy him.
      </p>
      <p><b>
            “And fear not them which kill the body, but are not able to kill the soul:  but rather fear him which is able to
        destroy both soul and body in hell.”  </b> (Matt.10:28)
      </p>
      <p>
            One way that Satan tries to steal our victory is by bringing our sins before us and making us feel guilty.  This
        is why the Bible refers to him as the Accuser of the brethren.
      </p>
      <p><b>
            “And I heard a loud voice saying in heaven, Now is come salvation, and strength, and the kingdom of our God, and
        the power of his Christ:  for the accuser of our brethren is cast down, which accused them before our God day and
        night.”  </b> (Rev.12:10)
      </p>
      <p>
            Another way the tempter comes to us is through our thoughts.  Oftentimes, we entertain thoughts or ideas that
        are
        not pure or wholesome.  There must be a conscious resistance to these alien thoughts if we are to have victory.
      </p>
      <p><b>
            “…Resist the devil, and he will flee from you.”  </b>(James 4:7)
      </p>
      <p><b>
             “Casting down imaginations, and every high thing that exalteth itself against the knowledge of God, and
        bringing
        into captivity every thought to the obedience of Christ.” </b>  (2 Cor.10:5)
      </p>
      <p>
            Satan will also try to rob us of our peace of mind and our sanity.  But this too has been purchased for us as a
        result of Calvary.  
        If he can saturate our minds with thoughts of fear, jealousy, envy, lust or some other unwholesome thought, then
        he has stolen our victory from us.  The way we combat this maneuver of Satan is to first of all recognize who
        originated these thoughts.  Obviously, these thoughts do not come from God, but are of Satanic origin.  We know from
        Scripture that it is the will of God for every Christian to have peace of mind and in complete control of his
        sanity.  
        Anything that would breed turmoil or confusion is the work of Satan and should not be tolerated by a child of God.
      </p>
      <p><b>
            “For God hath not given us the spirit of fear; but of power, and of love, and of a sound mind.”  </b> (2
        Tim.1:7)
      </p>
      <p><b>
             “Thou wilt keep him in perfect peace, whose mind is stayed on thee:  because he trusteth in thee.” </b>  (Isa.26:3)
      </p>
      <p><b>
             “There is no fear in love; but perfect love casteth out fear:  because fear hath torment…”  </b> (1 John 4:18)
      </p>
      <p><b>
            “These things I have spoken unto you, that in me ye might have peace…” </b> (John 16:33)
      </p>
      <p><b>
            “Peace I leave with you, my peace I give unto you:  Let not your heart be troubled, neither let it be
        afraid.” </b>  (John 14:27)
      </p>
      <p>
            It is clearly seen that this peace of mind rightfully belongs to every Christian.  But this victory will not be
        ours if we stand idly by.
      </p>
      <p><b>
            “But God forbid that I should glory, save in the crossof our Lord Jesus Christ, by whom the world is crucified
        unto me, and I unto the world.” </b> (Gal.6:14)
      </p>
      <p>
            Here, the Apostle Paul declares how he can stay alienated from the sins of this world, namely, in the Cross of
        Jesus Christ.  
        The Father looks at the provision at Calvary, and the sinner becomes sanctified and cleansed.  Since Jesus has
        already paid the price and won the victory over Satan, it is the Father’s will that we, too, should claim this same
        victory.  
        In order to do this we must daily put our trust in the Cross of Christ.  This is the second step to victory .
      </p>
      <h4>III.   The Power of the Spirit</h4>
      <p>
            The Spirit is probably the most neglected power that God has given to man.  It is the most neglected because it
        is the least understood.  
        Christians have a head knowledge that the Spirit of the Risen Christ indwells their heart, but that knowledge very
        seldom becomes a vibrant reality.  It is like a mighty river that has been dammed up and the flood gates never
        opened
        to unleash its unfathomable power.  If we could really comprehend that God’s Spirit actually merges into our own
        human
        spirit to guide, strengthen, and teach, then we would be spared many unnecessary heartaches.
      </p>
      <p><b>
            “And I will pray the Father, and he shall give you another Comforter, that he may abide with you forever.
              Even the Spirit of truth; whom the world cannot receive…”  </b> (John 14:16,17)
      </p>
      <p>
            The Spirit is that still, small voice which acts as the Believer’s conscience.  Sometimes you may feel a warmth
        or
        a good feeling about a certain situation.  If you have asked God’s direction, then, this is probably the Holy
        Spirit speaking to your heart.  A Christian must be aware of that gentle unction of the Spirit, if they are to
        mature spiritually.
      </p>
      <p><b>
            “This I say then, Walk in the Spirit, and ye shall not fulfill the lust of the flesh.”  </b> (Gal.5:16)
      </p>
      <p>
            Even though we are Christians, we still have that fallen nature to contend with.  That is why God has given us
        his
        Spirit to help us in our daily lives.  But there must be a conscious effort on the Believer’s part to follow after
        the leading of the Spirit.
      </p>
      <p><b>
            “Jesus answered and said unto him, If a man love me, he will keep my words:  and my Father will love him, and we
        will come unto him, and make our abode with him.” </b>  (John 14:23)
      </p>
      <p><b>
            “But the Comforter, which is the Holy Ghost, whom the Father will send in my name, he shall teach you all
        things…”  </b> (John 14:26)
      </p>
      <p><b>
            “Know ye not that ye are the temple of God, and that the Spirit of God dwelleth in you?” </b>  (1 Cor.3:16)
      </p>
      <p><b>
            “Who hath also sealed us, and given the earnest of the Spirit in our hearts.”  </b> (2 Cor.1:22)
      </p>
      <p><b>
            “Elect according to the foreknowledge of God the Father, through sanctification of the Spirit.” </b> (1 Pet.1:2)
      </p>
      <p>
            Every Christian has resident in their hearts this same Holy Spirit.  It is the Spirit of Truth which gives light
        to the Believer’s walk.
      </p>
      <p><b>
             “But the fruit of the Spirit is love, joy, peace, longsuffering, gentleness, goodness, faith meekness,
        temperance…” </b> (Gal.5:22,23)
      </p>
      <p>
            Since God dwells within us, then His nature should naturally be expressed through us.  This expression of God’s
        nature
        will not be realized until there is a suppression of our own fallen nature.  This is accomplished by the Christian
        consistently yielding to the Spirit’s guidance and not to their own selfish desires.  Only then can the true fruit
        of
        the Spirit become manifest in a Believer’s life.
      </p>
      <p><b>
             “Let not sin therefore reign in your mortal body, that ye should obey it in the lusts thereof.” </b>  (Rom.6:12)
      </p>
      <p><b>
            “Know ye not, that to whom ye yield yourselves servants to obey, his servants ye are to whom ye obey; whether of
        sin unto death, or of obedience unto righteousness?” </b>  (Rom.6:16)
      </p>
      <p>
            In Acts 1:8, Jesus told the disciples that they would receive “power” after the Holy Spirit would come upon
        them.
          The Greek word that is translated power in this verse is the word “dunamis”.  We get the word dynamite from this
        same Greek word.  Truly, the power (dynamite) of the Spirit can lead Christians to the third step toward a life
        of victory.
      </p>
      <h4>IV.   The Power of Confession</h4>
      <p>
            This “confession” is not to be confused with the Catholic doctrine of the confessional.  Confession is merely
        faith’s
        way of expression.  The word translated “confess” comes from a Greek word which means “ to say the same thing ”.   
        Jesus practiced this throughout his ministry.  Jesus only said that which he had heard the Father say.
      </p>
      <p><b>
            “And I know that his commandment is life ever-lasting:  whatsoever I speak therefore, even as the Father said
        unto me, so I speak.” </b>  (John 12:50)
      </p>
      <p>
            Also, I am not referring to the popular, yet erroneous, teaching of the “name it and claim it” segment of
        Christianity.  
        In studying and listening to the Word of Faith teachers expound on this doctrine, I find that much of it is used to
        satisfy selfish desires.  Some of the televangelists who utilized this errant form of confession actually boasted
        about their personal jets that they “claimed” (confessed) for their ministry.  No, the confession that the Bible
        teaches is one that edifies, strengthens and encourages the Believer in a closer walk with God.  In fact, the very
        first step that a Christian takes is that of confession .  We find this truth in Rom.10:9,10.
      </p>
      <p><b>
            “That if thou shalt confess with thy mouth the Lord Jesus, and shalt believe in thine heart that God hath raised
        him from the dead, thou shalt be saved.
              For with the heart man believeth unto righteousness and with the mouth confession is made unto salvation.”</b>
      </p>
      <p> 
            Therefore, we see that God has ordained confession to be the cornerstone in our justification .
         Likewise, confession is
        also the foundation of our sanctification.
      </p>
      <p><b>
            “If we confess our sins, he is faithful and just to forgive us our sins, and to cleanse (sanctify) us from all
        unrighteousness.”  </b> (1 John 1:9)
      </p>
      <p>
            Not only is confession necessary in maintaining a right vertical relationship (our relationship with God), but
        confession
        is critical in keeping our horizontal relationship right (our relationship with our fellow man).  Scripture
        instructs us to
        “confess your faults one to another” (James 5:16).  By sharing our personal shortcomings, others might be encouraged
        that they are not alone in life’s struggle.  
      </p>
      <p><b>
            “Finally, brethren, whatsoever things are true, whatsoever things are honest, whatsoever things are just,
        whatsoever
        things are pure, whatsoever things are lovely, whatsoever things are of good report; if there be any virtue, and if
        there be any praise, think (confess) on these things.”  </b> (Phil.4:8)
      </p>
      <p>
            Remember, that confession is “saying the same thing”.  In order to live a life of victory, we must confess those
        truths and promises that we find in the Word of God.  Consequently, this fourth step to victory actually leads us
        to the fifth step, namely the power of the Word.
      </p>
      <h4>V.   The Power of the Word</h4>
      <p>
            It has been said that the Bible is God’s love letter to mankind.  Certainly we do find in Scripture the
        unsearchable
        riches of God’s grace, mercy and love to man.  The Bible stands alone of all the books of the world in its
        uniqueness.  
        It was written over a 1600 year period by over 40 plus authors with all having but one unifying theme.
            In Eph.6:17, we discover that “the sword of the Spirit, which is the Word of God” is the only offensive weapon
        in our
        arsenal against the devil.  Remember, that in the temptations of Christ, Jesus used the Word of God in his defense
        and his offense against Satan.  It is no accident that the longest chapter in the Bible, Psalms 119, is totally
        dedicated to God’s Word.  The following are just a few passages that describes the benefits of learning and
        establishing the Word of God in your hearts.
      </p>
      <p><b>
             “Thy word have I hid in mine heart, that I might not sin against thee.” </b>  (Psa.119:11)
      </p>
      <p><b>
             “Thy word is a lamp unto my feet, and a light unto my path.”  </b>(Psa.119:105)
      </p>
      <p><b>
             “Behold, the days come, saith the Lord God, that I will send a famine in the land, not a famine of bread, nor a
        thirst for water, but of hearing the words of the Lord.” </b>  (Amos 8:11)
      </p>
      <p><b>
             “Heaven and earth shall pass away, but my words shall not pass away.” </b>  (Mark 13:31)
      </p>
      <p><b>
             “So then faith cometh by hearing, and hearing by the word of God.”</b>   (Rom.10:17)
      </p>
      <p><b>
             “That he might sanctify and cleanse it with the washing of water by the word.”  </b> (Eph.5:26)
      </p>
      <p><b>
             “All scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for
        instruction in righteousness.”  </b> (2 Tim.3:16)
      </p>
      <p><b>
             “The word of God is quick, and powerful, and sharper than any two-edged sword, piercing even to the dividing
        asunder
        of soul and spirit, and of the joints and marrow, and is a discerner of the thoughts and intents of the heart.”
         </b> (Heb.4:12)
      </p>
      <p>
            Satan hates the Bible and all it stands for; because in the Scriptures, we find that one day there will be a
        judgment
        in which Satan and his hordes will be eternally sentenced to eternal punishment.  For this reason, Satan has through
        the centuries tried to destroy the Word of God.  
      </p>
      <p>
            Bernard Ramm said, “A thousand times over, the death knell of the Bible has been sounded, the funeral procession
        formed, the inscription cut on the tombstone, and committal read.  But somehow the corpse never stays put.”
            Voltaire, the noted French infidel who died in 1778, said that in 100 years from his time Christianity would be
        swept from existence and passed into history.  However, fifty years after the death of Voltaire, the Geneva Bible
        Society bought his printing press and house, in which, they produced and stored thousands of Bibles.
      </p>
      <h4>VI.   The Power of Prayer</h4>
      <p>
            Prayer is how man communicates with God.  In the third chapter of Genesis, we find God “walking in the garden in
        the cool of the day”.  Undoubtedly, this was a daily occurrence before the fall.  God literally took a stroll with
        his new creation, Adam and Eve, and communed with them and they with him.  Regrettably, sin separates us from God.  
        Prayer is that vehicle in which we can again draw nigh unto God.  In the Bible, we find that prayer is absolutely
        necessary in our walk with God.
      </p>
      <p><b>
            “Praying always with all prayer and supplication in the Spirit, and watching thereunto with all perseverance and
        supplication for all saints.”  </b> (Eph.6:18)
      </p>
      <p><b>
             “Be careful for nothing; but in every thing by prayer and supplication with thanksgiving let your requests be
        made known to God.” </b> (Phil.4:6)
      </p>
      <p><b>
             “Continue in prayer, and watch in the same with thanksgiving.” </b>  (Col.4:2)
      </p>
      <p><b>
             “Pray without ceasing.” </b>  (1 Thess.5:17)
      </p>
      <p><b>
             “I will therefore that men pray every where, lifting up holy hands, without wrath and doubting.” </b> (1Tim.2:8)
      </p>
      <p><b>
             “The effectual fervent prayer of a righteous man availed much.” </b>  (James 5:16)
      </p>
      <p>
            Notice the urgency of prayer in several of the passages quoted above.  As a Christian, we become weak and
        spiritually
        anemic when we neglect to pray.  Prayer helps build our faith.  In the Old Testament, the High Priest burned incense
        in a censer which symbolized the prayers of the people.  We see this same symbolism in the book of Revelation.
      </p>
      <p><b>
            “And another angel came and stood at the altar, having a golden censer; and there was given unto him much
        incense,
        that he should offer it with the prayers of all saints upon the golden altar which was before the throne.
              And the smoke of the incense, which came with the prayers of the saints, ascended up before God out of the
        angel’s hand.”  </b> (Rev.8:3,4)
      </p>
      <h4>VII.   The Power of Praise</h4>
      <p><b>
             “…And Jesus saith unto them, Yea; have ye never read, Out of the mouth of babes and sucklings thou
        hast perfected praise ?” </b> (Matt.21:16)
      </p>
      <p><b>
            “Out of the mouth of babes and sucklings hast thou ordained strength because of thine enemies, that thou
        mightest still the enemy and the avenger.” </b>  (Psa.8:2)
      </p>
      <p>
            In this passage of Matthew, Jesus quotes a verse from the Psalms, except he changes “ordained strength” to
        “perfected praise”.  
        He does this because praise actually causes strength .  The word “perfected” means “to complete thoroughly”.  
        The word “ordained” means to “found, set, or establish”.  Notice, too, the word “still”.  This word means to
        “desist,
        stop, end an action”.  When these two passages are studied together, we can conclude the following:</p>
      <ul>
        <li>God has ordained or established praise so that we can become thoroughly complete.</li>
        <li>By engaging in praise, the Believer becomes strong in order to end or stop the work of the enemy (the devil).
        </li>
      </ul>
      <p>
            The book of Psalms is the longest book in the Bible.  In actuality, the Psalms was Israel’s songbook.  They sang
        praises
        to their God.  Not only in the Psalms, but all through the Scriptures, the theme of praise is prominent.
            I believe, that before Lucifer rebelled against God, that he had the high privilege of leading all the angels in
        praise to God.  Consequently, when we praise God, I believe it causes confusion and turmoil in the ranks of the
        demons.
         They remember all too well, the joy and peace, they once felt when they praised their Creator before their
        rebellion.
            “The four and twenty elders fall down before him that sat on the throne, and worship him that liveth for  ever
        and ever,
        and cast their crowns before the throne, saying,
      </p>
      <p><b>
          Thou art worthy, O Lord, to receive glory and honor and power:  for thou hast created all things, and for thy
        pleasure
        they are and were created.”  </b> (Rev.4:10,11)
      </p>
      <p>
            Finally, let’s consider the model of prayer that Jesus taught to his disciples.  Remember, that this was just a
        model upon which we should use as a basis of our prayer, and not, just a rote memorization of words to repeat.
        Noticed that Jesus said, “after this manner”.
      </p>
      <p><b>
             “Our Father which art in heaven, Hallowed be thy name.
              Thy kingdom come, Thy will be done in earth, as it is in heaven.
              Give us this day our daily bread.
              And forgive us our debts, as we forgive our debtors.
              And lead us not into temptation, but deliver us from evil:  For thine is the kingdom, and the power, and the
        glory, for ever.  Amen.” </b>  (Matt.6:9-13)
      </p>
      <p>
            In this model prayer, we see that it begins with praise and ends with praise .  Only after we render praise to
        God,
        do we make our supplications or petitions made known to Him.  After so doing, we end our prayer with praise .
      </p>
      <p><b>
             “As the hart panteth after the water brooks, so panteth my soul after thee, O God.” </b> (Psa.42:1)
      </p>
    </div>
  </div>
</div>