<div class="post">
  <h1>To God Be The Glory</h1>
  <p>                                                                                                                                                                          To God be the Glory
  Approximately three months after Jesus had raised Lazarus from the dead, Jesus and the disciples went to Bethany, the
    home of Lazarus, Martha, and Mary.  This was the beginning of the Passion Week, the last week of Jesus’ life leading
    up to the crucifixion.  As the news spread of Jesus’ arrival, many people converged upon Bethany hoping to see Lazarus,
    the one who had been dead for four days, but now was alive.  Others came also, the chief priests and the Pharisees.
    They came not to honor the one who produced such a marvelous miracle, but rather, they came to conspire how they might
    put Lazarus to death.  They knew that as long as Lazarus was living, he would be a constant reminder to all the people
    of the resurrecting power of Jesus.  Their own power and prestige were in jeopardy.  It was being given, instead, to
    this lowly carpenter from Galilee.
  </p>
  <p>
  Every day, Jesus would leave Bethany (which was a little less than 2 miles from Jerusalem) and go to the Temple and teach the people.
    The Pharisees took note of the fact that “the world is gone after him” (John 12:19).  They noticed that even the Greek
    proselytes who had converted to Judaism (verse 20) became his followers.  Some of these Greeks wanted a personal
    audience with Jesus.  Most probably it was because Jesus was teaching in a portion of the Temple in which the Greeks
    could not enter.  Undoubtedly, they were waiting still in the Court of the Gentiles (that portion of the Temple
    designated for non-Jews).  They sought out Philip, possibly because of his Greek name, to make their request to Jesus.
    Philip, along with Andrew, delivered their message.  Jesus responds in a most unique, and somewhat, cryptic manner.
    At first glance, it appears that he never answers or even acknowledges their question, but that is not the case.
    What was heavily pressing upon Jesus this last week of his earthly ministry was the cross.  In his response, Jesus
    several times used the phrase, “if any man.”  This phrase is all inclusive, yes, even to the Greeks.  But it is verse
    28 which I really want to examine.
  </p>
  <p><b>
  “Father, glorify thy name.  Then came there a voice from heaven, saying, I have both glorified it, and will glorify it again.”</b>
    <p>
  Most commentaries reference the two previous times that God’s audible voice was heard by people (this was the third) as
    when God glorified his name.  John the Baptist first heard that audible voice at Jesus’ baptism.  The second time was
    at the transfiguration when Peter, James, and John all heard the voice of God.  I believe all these instances were
    affirmations of Jesus being the Son of God, but not necessarily as being times when God’s name was glorified.  In
    this short four-word sentence, God said that he had glorified his name once and will glorify it again.  So, when was
    the first time, and when will be the second time that God glorifies his name?
    </p>
  <p>
    Let’s first focus on the meaning of “name”.  To the Jew, God’s personal name was given by four Hebrew letters: <b> YHWH</b>.
    It is sometimes referred to as the tetragrammaton (“four letters”):  the unutterable name or ineffable name.  Since
    these are all consonants, vowels had to be inserted.  Most often, the name is rendered as Yahweh, or Jehovah.  It was
    to Moses that God first revealed the true essence of his name.  In the 33rd chapter of Exodus, Moses desired to “know”
    God.  He wanted God to reveal to him his “glory”, that is, his essence.  In response, God told Moses that he would
    proclaim to Moses, “the name of the LORD.”  The Hebrew word for “LORD” is YHWH.  In Exodus 34:6,7 we find what God
    actually showed Moses.  God unveiled to Moses his nature or character (that’s what “name” actually entails).  Moses
    discovered that this awe-inspiring God is actually, “merciful, gracious, longsuffering, and abundant in goodness and truth.”
    How then did God first glorify his name?  In Psalms 138:2, David, being a prophet, wrote this….”for thou hast
    magnified thy word above all thy name.”  John, in the first chapter of his epistle, begins with these sublime words:
    “In the beginning was the Word, and the Word was with God, and the Word was God…And the Word was made flesh, and
    dwelt among us, (and we beheld his glory; the glory as of the only begotten of the Father,) full of grace and truth.”
    To this agree the words of Paul in Col.1:19.  “For it pleased the Father that in him (that is, in Christ) should all f
    ullness dwell.”  Yes, the Father receives glory and honor through the Son.  The name Jesus in Hebrew is actually Yeshua,
    which means “God is salvation.”  Ever since the fall of mankind in the Garden of Eden, God promised that one day he would
    restore and redeem man from the curse of sin.  Jesus, as his name implies, fulfilled that promise given in Genesis 3:15.
    Telling are the words of the angels to the shepherds, “Glory to God in the highest, and on earth peace…”  Yes, it was at
    the incarnation when God first glorified his name.  Remember, God revealed his glory to Moses as being a God of great
    love and mercy.  How could God possibly convey to man (who had been estranged from him because of sin) the unfathomable
    depth of his love?  John 3:16 provides the answer.
    </p>
  <p><b>“For God so loved the world, that he gave his only begotten Son,
    that whosoever believeth in him should not perish, but have everlasting life.”</b>
  </p>
  <p>
    Throughout the life and ministry of Jesus, he vividly portrayed God’s love, mercy, and grace.  That is why in John 14,
    Jesus was somewhat shocked at Philip’s request for him to show the Father to the disciples.  In paraphrase, Jesus told
    Philip that for the last 3 ½ years, he has been revealing to the disciples the very nature and essence of the Father.
    It was the very purpose and duty of the Son to glorify the Father’s name (reveal his essence) to the world.
    If the incarnation was the first time God glorified his name, then what was the second time?  Obviously, from the context,
    it must be death of Christ.  Notice in John 12:32,  “And I, if I be lifted up from the earth, will draw all men unto me.”
    Just as Jesus said earlier, “greater love hath no man, than to give his life…”  Yes, it was at the crucifixion where God’s
    name would ultimately be glorified.  Earlier I had quoted Col.1:19, now let’s consider the very next verse:
    “And having made peace through the blood of his cross, by him to reconcile all things unto himself…”  This was the peace
    that was proclaimed by the angels at Jesus’ birth.  Mankind would no longer be estranged from their Father God as a
    result of sin.  The blood of Christ paid the penalty for the sins of mankind.  By the death of Jesus on the cross,
    God had fulfilled his promise of redemption by giving to the world his only begotten Son.
  </p>
</div>