<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>The Unveiling</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/unveiling.jpg">
      </div>
      <p><b>
        “And was transfigured before them: and his face did shine as the sun, and his raiment was white as the
        light.” </b>
        (Matthew 17:2)
      </p>
      <p><b>
        “…and he was transfigured before them. And his raiment became shining, exceeding white as snow; so as no fuller
        on
        earth can white them.” </b> (Mark 9:2, 3)
      </p>
      <p><b>
        “And as he prayed, the fashion of his countenance was altered, and his raiment was white and glistering.
        But Peter and they that were with him were heavy with sleep: and when they were awake, they saw his glory,
        and the two men that stood with him.” </b> (Luke 9:29, 32)
      </p>
      Peter, James and John witnessed something that no other human had ever witnessed. They saw the humanity of Jesus
      being peeled back to reveal the Divine Presence of God. Their eyes beheld the shekinah glory of God. Although the
      word shekinah is not found in the Hebrew text, it denotes the “dwelling, or settling” of the Divine Presence.
      What prompted Jesus to go up to the mountain to pray and especially to allow his disciples to behold such a
      remarkable event? I believe the answer is hidden within the words of Jesus that he spoke just recent to this
      event.
      In Matthew 16:21 we read:
      <p><b>
        “From that time forth began Jesus to shew unto his disciples, how that he must go unto Jerusalem, and suffer
        many
        things of the elders and chief priests and scribes, and be killed, and be raised again the third day.”</b>
      </p>
      <p>
        Peter had previously proclaimed, “Thou are the Christ, the Son of the living God.” Yes, the disciples had the
        “head-knowledge” that Jesus was the Son of God, but they could not comprehend the real import of such a
        declaration.
        At the transfiguration, the reality of Jesus’ Divinity became more real to them. The crucifixion was pressing
        upon
        the thoughts of Jesus. He wanted to show to his “inner circle” of disciples that although he was going to his
        death,
        they were not to despair. Man cannot kill God. Jesus said, “I lay down my life…no man taketh it from me.”
        Peter, nearly some 30 years later, recounted this miraculous event that he had witnessed. It would forever be
        imprinted upon his memory. There are many things that we humans may forget, but the disciples were never going
        to
        forget that day. Why not? Because “they saw his glory” was the reason. Jesus’ face shone as the sun. His
        clothing
        was so bright, it was difficult to look upon him, just as it is blinding to look at a snow-covered field in the
        light of day.
        In John 14:16-18, we find an amazing promise: a promise that God would actually come down and dwell within our
        being.
        This idea is incomprehensible. This promise is reiterated in verses 22 and 23.
      </p>
      <p><b>
        “And I will pray the Father, and he shall give you another Comforter, that he may abide with you for ever;
        Even the Spirit of truth; whom the world cannot receive, because it seeth him not, neither knoweth him: but ye
        know
        him;
        for he dwelleth with you, and shall be in you. I will not leave you comfortless: I will come to you.”</b>
      </p>
      <p>
        Paul, too, encountered a “blinding light” experience. He was on the road to Damascus when a light shone from
        heaven
        which was brighter than the noon-day sun. Paul would later receive a private revelation while in the desert
        regions
        of Arabia about Jesus’ deity and the truth about the gospel message. It was also revealed to him about that
        indwelling
        glory or presence of God which inhabits the believer. Notice what he says in Romans 8:18.
      </p>
      <p><b>
        “For I reckon that the sufferings of this present time are not worthy to be compared with the glory which shall
        be
        revealed in us.”
      </b>
      </p>
      <p>
        I like the fact that Paul was a southern boy, “for I reckon”. Here, Paul states that the beatings, the stripes
        he
        received,
        the ship wrecks, and even the stoning could not even begin to be compared to a future event which every believer
        would one day experience. What is that event? It is the day when the “glory” which resides within us would be
        revealed.
        The Greek word for “revealed” is apokalupto, which means to “take off the cover”, or “unveil.” Essentially,
        every
        single believer will one day experience their own transfiguration. Although Paul did not witness the
        transfiguration,
        I believe that he too was given an understanding of what it entailed. This theme of the indwelling presence of
        God within the heart of the believer is replete in the Pauline writings. This is especially brought out in 2
        Corinthians 4:6, 7.
      </p>
      <p><b>
        “For God, who commanded the light to shine out of darkness, hath shined in our hearts, to give the light of the
        knowledge of the glory of God in the face of Jesus Christ.
        But we have this treasure in earthen vessels, that the excellency of the power may be of God, and not of us."
      </b>
      <p>
        Here, Paul is referencing the creation of light on that first creation day. The Bible declares that God is
        Light.
        Paul states that this same light is now shining in our hearts. The word “face” in this verse means presence or
        person.
        So, Paul is telling us
        that the glory of God is found in the presence or person of Jesus. Paul further declares that since it is the
        Spirit
        of Christ which indwells the believer, we have this “treasure” living within us. We are but “earthen vessels”
        containing the very presence of Deity. What an unfathomable treasure! One day (Phil.3:21), God will transform
        this
        vile body of ours to be like unto Jesus’ glorious resurrected body.
      </p>
      <p>
        There was a time in ages past, when Lucifer was cast from God’s celestial heaven because he thought to make
        himself
        equal to the Creator God. He deceived many of the angelic host in following him and, they too, were cast out.
        With
        that in mind, let’s look at another very interesting passage of scripture.
      <p><b>
        “Of which salvation the prophets have enquired and searched diligently, who prophesied of the grace that should
        come
        unto you: Searching what, or what manner of time the Spirit of Christ which was in them did signify, when it
        testified beforehand the sufferings of Christ, and the glory that should follow. Unto whom it was revealed, that
        not
        unto themselves, but unto us they did minister the things, which are now reported unto you by them that have
        preached the gospel unto you with the Holy Ghost sent down from heaven; which things the angels desire to look
        into.” </b>(1Peter 1:10-12)
      </p>
      <p>
        Ever since the fall of mankind, God promised that one day he would redeem them back to Himself. It was this
        redemptive plan that the prophets spoke about. They were only able to see glimpses of God’s grace that should
        one
        day come. Interesting is the fact, that the angels “desired” to know more about this wonderful grace of the
        gospel
        and God’s indwelling presence. The word “desire” means to long for or covet. In other words, the angels were
        extremely interested in what God was doing with mankind. The picture framed for us was that of the angels
        leaning
        over heaven’s balcony to get a glimpse of this unimaginable grace. Lucifer wanted to become like God, and now,
        that
        very God is indwelling this last of his creation, mankind. No longer is He just walking with them, as He did in
        the
        garden before the fall, but now God’s presence is actually living within them. This part of God’s grace and
        redemption, the angels could not comprehend. It was not for them, though, but only for mankind.
        Again, in 1 Peter 5:1 and 2 Peter 1:4, 16, Peter speaks of this glory that will one day be revealed.
      </p>
      <p><b>
        “The elders which are among you I exhort, who am also an elder, and a witness of the sufferings of Christ, and
        also
        a partaker of the glory that shall be revealed. Whereby are given unto us exceeding great and precious promises:
        that by these ye might be partakers of the divine nature…we made known unto you the power and coming of our Lord
        Jesus Christ, but were eyewitnesses of his majesty.”</b>
      <p>
        Yes, when Jesus returns, we shall behold the majesty of his glory just like Peter, James, and John did upon the
        mount of transfiguration. We, too, will share or partake of that glory as this earthly tabernacle is transformed
        into our heavenly bodies and that indwelling glory is allowed to shine from our very being. The great apostle
        John
        sums it up this way:
      </p>
      <p><b>
        “Beloved, now are we the sons of God, and it doth not yet appear what we shall be: but we know that, when he
        shall
        appear, we shall be like him; for we shall see him as he is.”
      </b>
      </p>
    </div>
  </div>
</div>