<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Walking With God</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/walking.jpg">
      </div>
      <p><b>
        “And they heard the voice of the LORD God walking in the garden in the cool of the day: and Adam and his wife hid
        themselves from the presence of the LORD God amongst the trees of the garden.” </b>(Genesis 3:8)
      </p>
      <p>
        Every time that I read this verse, my mind pauses in awe of the picture that is framed for us. Here, we have a
        record of an event that was most probably a daily occurrence. God, the awesome Creator, was found walking and
        having fellowship with his creation. God was calling for Adam and Eve as he walked in that beautiful garden that
        he had made for them. They hid themselves from their holy Creator because they were afraid. This is the tragedy
        that results from sin. Everyone knows the story, how Adam and Eve were both cast from the garden of Eden. No one
        knows the anguish that Adam must have felt throughout his long life of not having that closeness he once enjoyed
        with God.
      </p>
      <p>
        Oh, but this was not the case in the very beginning. On that third day of the creation week, God caused to grow
        from the ground all vegetative life. He spoke them into existence. What an awesome God. In Genesis 2:5, we find
        the phrase “before it was in the earth”. This means that God created all plants without the benefit of seeds. But,
        in Genesis 1 verses 11 and 12, our Creator caused these plants that he made without seeds to bear seeds within
        them. Grasses, flowers, trees, vegetables, and all other forms of plants were caused to grow, mature, and produce
        seeds in a single day. Nothing is too difficult for our God. From chapter 2 of Genesis, it appears that God
        lovingly and with tender care took some seeds from the plants that he had created on the third day, and planted a
        garden. He did this very possibly on the sixth creation day; the same day in which he created mankind. Again, by
        the creative power of his Word, he caused this garden to grow, mature, and produce fruit in just one day. All this
        he did because he loved and cared for this special creation whom he called man. My wife, Laura, asked me, “Why
        didn’t God just speak them into existence, instead of actually planting seeds into the ground?” I suppose, that by
        this act, God demonstrated his affection for man. Also, he might have used it to teach Adam the principle of seed
        time and harvest. Either way, our Creator did it all for the benefit of that creation in which he made after his
        own image.
      </p>
      <p>
        It appears from verse 8 that God enjoyed those quiet evenings there in the garden in the cool of the day. No
        doubt, in those intimate conversations, God must have shared with Adam and Eve the actual sequences and creative
        words that he used in that first week that even included man’s own existence. He probably shared with them the
        wonders of some of his creation. Secrets that would later be lost by mankind. Some may have been rediscovered
        centuries and millennia later, and others, yet to be found. He may even have shared with them the ultimate outcome
        and future destiny of mankind.
      </p>
      <p><b>
        “And Enoch walked with God after he begat Methuselah three hundred years, and begat sons and daughters…
        And Enoch walked with God: and he was not; for God took him.”</b>
        (Genesis 5:22,24)
      </p>
      <p>
        By inspiration, the author of Genesis is emphasizing the fact of Enoch walking with God. Enoch lived in the
        seventh generation from Adam. He was a direct descendant of Seth. The Bible puts its searchlight on another
        individual who also lived in this seventh generation. I believe it does so for a purpose. Lamech was a descendant
        of Cain, the first murderer. Lamech had the ignoble distinction of being both the second recorded murderer and the
        first recorded polygamist. One might echo the words of Charles Dickens, “It was the best of times, it was the
        worst of times” to describe this pivotal generation. The obvious comparison of these two individuals made by
        scripture is both glaring and profound. Lamech is prideful and arrogant in his attempt to excuse and rationalize
        his sinful impulses. On the other hand, the righteous Enoch is obviously humbled in the presence of his Creator as
        they walked and communed together. The Bible declares that, “God took him.” There are some who try to say that
        this doesn’t mean that God took him to heaven. Rather, they maintain that it means that God took his life. Hebrews
        11:5 destroys this point of view.
      </p>
      <p><b>
        “By faith Enoch was translated that he should not see death; and was not found, because God had translated him:
        for before his translation he had this testimony, that he pleased God.” </b>
      </p>
      <p>
        The Greek word for pleased literally means “to gratify entirely.” He lived his life with one purpose in mind: to
        do that which was right before his Creator. As a result, his life was literally transformed to the point in which
        God transferred Enoch’s address from earth to heaven. In my mind, I envision that one day God probably spoke to
        Enoch as they were walking together and said, “Why don’t you come to my house and live with me?” And, so it was on
        that day, Enoch never returned to his earthly home.
      </p>
      <p><b>
        “These are the generations of Noah: Noah was a just man and perfect in his generations, and Noah walked with God.” </b>
        (Genesis 6:9)
      </p>
      <p>
        Noah lived in the tenth generation from Adam. The average life spans from Adam to Noah were 900 plus years. It is
        mind-boggling to consider the fact that from the time of Enoch to the time of Noah was just 3 generations away. A
        lot happened in those critical few generations. Mankind had become so corrupt and violent that God had determined
        that he must destroy that very thing which he had created. This must be done in order to accomplish the promise of
        a redeemer as found in Genesis 3:15.
      </p>
      <p>
        As we consider just these two antediluvian patriarchs, there is one truth that can be found that is common to
        both. In fact, it is a truth that we will constantly see throughout the pages of holy writ. That truth is this:
        “walking with God changes lives.” If you think that you can maintain a close relationship with God without your
        life being transformed, then you are sorely mistaken. Jesus once said, “My sheep hear my voice, and I know them,
        and they follow me.” If you are truly one of God’s sheep, are you following him? Is your life being changed? These
        are questions that you must ask yourself and reflect upon.
      </p>
      <p>
        This modern world in which we now live offers no greater challenges than what were encountered by those two
        antediluvian patriarchs who put their trust in God. I believe too often we put our Christian bar too low, so to
        speak. God expects us to strive for so much more. We allow ourselves to be too accommodating to sin. The apostle
        John wrote: “My little children, these things write I unto you, that ye sin not.” Obviously, this does not mean
        that Christians are expected to live a sinless life. It does, however, mean that this sinless life should be our
        goal.
      </p>
      <p>
        In Galatians 5, Paul gives us some advice as to help us in our Christian journey. He uses such phrases as: “walk
        in the Spirit” and “led of the Spirit” and “live in the Spirit.” The word that is translated “walk” gives us some
        insight as to the degree in which a Christian’s devotion to God should be. The word literally means: “to walk or
        tread around.” The allusion is that of a person walking and treading upon the grapes in a wine press. In other
        words, a Christian’s walk with God should not be one of “tiptoeing through the tulips.” On the contrary, we should
        be immersed and totally saturated in our walk with God.
      </p>
      <p>
        The three epistles of the apostle John all focus upon this idea and concept of walking with God. In the first
        epistle, John teaches that, in walking with God, we have fellowship with Him and with each other. It has a dual
        benefit. John, too, raised the bar when he stated, “walk, even as he walked.” In the second letter of John, he
        instructs us to walk in truth and in his commandment. Which commandment? The answer: “that we love one another.”
        That is exactly what Jesus taught: love God, love man. Before commenting on John’s last letter, I need for the
        reader to read carefully what John writes in that second verse.
      </p>
      <p><b>
        “Beloved, I wish above all things that thou mayest prosper and be in health, even as thy soul prospereth.” </b>
      </p>
      <p>
        Some Christians today interpret this verse to mean that John is teaching that it is God’s will that one be
        materially prosperous, even to the point of being wealthy. Notice John says that “above all things,” he wants this
        for Gaius. The Greek word translated “prosper” is a compound word meaning well, good and road or way. You could
        paraphrase it to mean to have a “good journey.” Notice that in the next two verses, John again is talking about
        walking in the truth. That is the kind of journey that he wishes for Gaius, not that he become rich. In all three
        of John’s letters, his pressing thought was for the believers to walk with God in light and truth and love. Let
        that be their journey in life. Paul, in Ephesians 5:2, commands Christians to walk in love. How can someone say
        that he “loves God” and, yet, not love fellow believers? One of my favorite passages of scripture is Ephesians
        4:32.
      </p>
      <p><b>
        “And be ye kind one to another, tenderhearted, forgiving one another, even as God for Christ’s sake hath forgiven
        you.” </b>
      </p>
      <p>
        These are the questions that every Christian should ask of themselves: (1) “Am I truly walking with God?” (2) “Is
        my life being changed in a Godly way?” (3) Do I love others, just as Jesus loves me?” We would all probably have
        to admit that we have fallen short. I am so thankful that God is merciful, forgiving and long-suffering.
        Fortunately, God has provided an answer and remedy for our sins.
      <p><b>
        “...And if any man sin, we have an advocate with the Father, Jesus Christ the righteous:
        And he is the propitiation for our sins: and not for our’s only, but also for the sins of the whole world.” </b>
      </p>
      <p>
        The Bible declares that God called Abraham “my friend.” The word used here means “to have affection.” One day, God
        looked down and noticed one of the citizens of Ur. Ur was an ancient town situated near the merging of the Tigris
        and Euphrates rivers. Most likely, it was settled by some of those who were dispersed after the confusion of
        languages at the tower of Babel. Eber, one of Abraham’s forefathers, probably migrated here. From the name of
        Eber, we get the name for the Hebrews. God looked within the heart of Abraham (he was called Abram originally) and
        he liked what he saw. He saw a person who would trust in him and follow God’s purpose and plan. He saw a person
        who would walk with him and who would allow God to lead and direct his path and life. Although Abraham grew up in
        a home and family who had forsaken God, he would respond to God’s voice and obey God’s direction for his life.
        Abraham’s life was transformed as a result of him walking with God. He became the “father of a multitude.”
        When we look at Hebrews 11, the so-called faith chapter, we find that each of the “heroes of faith” took action in
        response to God’s presence and influence in their lives. In each case, they demonstrated their faith in God, not
        by walking after their own desires, but because they walked with God and allowed God to work through them to
        accomplish his will. Many of these were willing to make the ultimate sacrifice in giving up their lives because of
        their faith in God. How many of us would be willing to do the same?
      </p>
      <p>
        Throughout scripture, we find that those who truly walk with God have lives that have been transformed by this
        experience. As each of us look into the Word of God and upon its reflecting power to reveal to us our true selves,
        would we be happy and pleased with the reflection that it gives? I, for one, am ashamed at what I behold in this
        reflection. My soul cries out, “God forgive me!” We will never be able to comprehend nor fathom God’s love for us,
        but I am so thankful that he does. I want to again ask the question that I asked earlier in this study: “Is your
        life being changed?” If not, then maybe you need to ask yourself, “am I truly walking with God?”
      </p>
      <p><b>
        “But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.” </b>(Romans 5:8)
      </p>
    </div>
  </div>
</div>