<div class="post row">
  <div class="small-12 medium-12 large-12 post-title">
    <h1>Jesus Wept</h1>
  </div>
  <div class="row">
    <div class="small-10 medium-10 large-10 artContainer">
      <div class="hide-for-small medium-3 large-3 columns">
        <img src="assets/wept.jpg">
      </div>
      <p>
        As a young Christian, I remember having to stand up and quote a Bible verse in our youth group. Of course, the
        one verse that many quoted first (before it got used) was John 11:35, “Jesus wept”. This was a favorite, because
        it is the shortest verse in the Bible. It would be many years later before I really appreciated the substance of
        those two words. In fact, the scriptures record only two instances in his earthly ministry in which Jesus wept.
        This appears to be the first in chronology, and the second time was when Jesus wept over the city of Jerusalem.
        In this study, I want to consider the context of both of these events.
      </p>
      <p><b>
        “The Jews then which were with her in the house, and comforted her, when they saw Mary, that she rose up hastily
        and went out, followed her, saying, She goeth unto the grave to weep there.
        Then when Mary was come where Jesus was, and saw him, she fell down at his feet, saying unto him, Lord, if thou
        hadst been here, my brother had not died.
        When Jesus therefore saw her weeping, and the Jews also weeping which came with her, he groaned in the spirit,
        and was troubled.
        And said, Where have ye laid him? They said unto him, Lord, come and see.
        Jesus wept.
        Then said the Jews, Behold how he loved him!
        Jesus therefore again groaning in himself cometh to the grave. It was a cave, and a stone lay upon it.
        Jesus said, Take ye away the stone…
        And when he thus had spoken, he cried with a loud voice, Lazarus, come forth.
        And he that was dead came forth, bound hand and foot with graveclothes: and his face was bound about with a
        napkin. Jesus saith unto them, Loose him, and let him go.” </b> (John 11:31-36, 38-39a, 43-44)
      </p>
      <p>
        Were the Jews correct in their thoughts about why Jesus wept? Was it really because of Jesus’ close friendship
        with Lazarus? Was it because Jesus’ heart was aching due to his grief over the death of his friend? Why do
        people today weep over the death of their friends or loved ones? It is because they know that they will never
        again, on this earth, be able to fellowship or enjoy the company of that person whom they loved. This was not
        the situation here. Before Jesus even began his journey to Bethany, he knew that he would raise Lazarus from the
        grave. In fact, even after he received the news that Lazarus was sick, he deliberately lingered for an
        additional two days. Let us look more closely at this passage, so that, we may better understand the why of
        these two words “Jesus wept”.
      </p>
      <p>
        Sometimes the force or impact of a word gets lost in the translation. The Greek word, which is translated as
        “groaned”, definitely fits into this category. The transliterated word is embrimaomai. According to Strong’s
        Exhaustive Concordance, the word means “to snort with anger.” Thayer’s Greek-English Lexicon explains the term
        as “to be very angry.” The passage further states that Jesus was “troubled.” What is evoking these strong
        emotions that our Lord is experiencing at this time? As already pointed out, Jesus knew what was about to
        happen. Lazarus would be raised from the dead.
      </p>
      <p>
        To find the answer to the question, we must start at the very beginning of the history of mankind. After God
        placed Adam and Eve in the garden east of Eden, Satan came and lied to Eve. That is why Jesus referred to him as
        a “liar, and the father of it.” It was here, in the garden, where mankind spiritually died. Again, this is why
        Jesus said that Satan was a “murderer from the beginning.” Jesus places all the woes of humanity at the feet of
        the Evil One. It is Satan to whom Jesus is directing his anger, not to anything or anyone else. This is in
        accord with the judgment pronounced upon Satan and upon Eve (actually upon humanity).
      </p>
      <p><b>
        “And I will put enmity between thee and the woman, and between thy seed and her seed; it shall bruise thy head,
        and thou shalt bruise his heel.” </b> (Genesis 3:15)
      </p>
      <p>
        The word enmity is a strong word. It literally means hatred. This is why Jesus, during his earthly ministry,
        despised the religious leaders of his day. He once accused the Pharisees of doing “the deeds of your father.” Of
        course, this is in reference to Satan. Although Satan might initially have experienced envy or jealousy toward
        God’s newest creation, God would now cause that to be turned into hatred. This is reminiscent of the passage in
        2 Thessalonians 2:11 where God would “send them strong delusion” to those who rejected the truth. From that
        moment on, there has existed a struggle between good and evil. In Revelation 12:17, we find this conflict
        illustrated for us.
      </p>
      <p><b>
        “And the dragon was wroth with the woman, and went to make war with the remnant of her seed, which keep the
        commandments of God, and have the testimony of Jesus Christ.” </b>
      </p>
      <p>
        In this passage, Satan hates both the Jews and the Christians. He hated the Jewish people because through them
        (the woman) came forth “the child” (Jesus) who would render the deathly blow to the head of the serpent, Satan.
        So, as is evident from what we have studied, Jesus wept because of the grief caused by Satan upon a suffering
        humanity.
      </p>
      <p>
        Now, we will consider the second time that the scriptures record that Jesus wept. The time context is found
        within the last week of Jesus’ life before he offered himself to be crucified. He had made his descent from the
        mount of Olives and, most probably, was ascending as Luke describes this incident. Undoubtedly, Jesus stopped
        for a few moments as he looked up at this ancient city of Jerusalem.
      </p>
      <p>
        <b>“And when he was come near, he beheld the city, and wept over it.”</b>
      </p>
      <p>
        Jesus had visited Jerusalem previous to this and preached within its walls, but never does the Bible reveal that
        he ever wept over the city. Why now? For nearly three and one-half years, he was busy doing his “Father’s
        business.” But now, as his time drew near, his focus was upon what he would have to endure, and to the
        consequence of a city and a people who had rejected him. As he stopped to behold Jerusalem, he saw what would
        become of the city of David, even that very city where God had chosen to place his Name.
        He looked ahead some forty years, and saw a city whose streets were filled with dead bodies; whose food
        warehouses were burned by their own factious citizens; whose people would be scraping the sewers for something
        to eat; who also would even resort to cannibalizing their own children. The city would one day be burned and
        left as a heap of rubble. Yes, he wept for the Jewish people as represented by its capital, Jerusalem. A nation
        who lost their beloved temple, lost whatever remnants of hope for a Messiah that would deliver them from
        political oppression, lost in death over a million people, lost to captivity and slavery almost another one
        hundred thousand, and finally, lost during the siege and famine the dignity and humanity of their identity as a
        nation. In John 13:1, the Bible declares that “he loved them unto the end.”
      </p>
      <p>
        The scriptures leave us no doubt as to why Jesus wept. No, he did not shed his tears in the garden of Gethsemane
        where he agonized. Instead, he saved them all for us. It was because of his unfathomable love which he had for
        mankind. A love which is totally incomprehensible.
      </p>
      <p>
        <b><u>The Love of God </u><br/>

        The love of God is greater far, Than tongue or pen can ever tell.<br/>
        It goes beyond the highest star, And reaches to the lowest hell.<br/>

        The guilty pair, bowed down with care, God gave His Son to win. <br/>
        His erring child He reconciled, And pardoned from his sin.<br/>

        Could we with ink the ocean fill, And were the skies of parchment made.<br/>
        Were every stalk on earth a quill, And every man a scribe by trade.<br/>

        To write the love of God above, Would drain the ocean dry. <br/>
        Nor could the scroll contain the whole, Though stretched from sky to sky.<br/>
        </b>
        <p>
        Lyrics by Frederick Martin Lehman.
        </p>
    </div>
  </div>
</div>
