// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  color: black;
  background-color: #EFE6D7;
  margin-top: 15px;
  border-radius: 15px;
}

.artContainer {
  margin: 0 auto;
}

.post h1 {
  padding: 35px 0 20px 0;
  color: black;
  text-align: center;
}

.post h2 {
  color: black;
}

.post h3 {
  color: black;
  text-align: left;
}

.seven-list {
  list-style-type: none;
}

.seven-img {
  float:right;
}

.caption {
  padding: 18px 15px 40px 15px;
}

.caption p {
  text-align: center;
  font-size: small;
  padding-top: 104px;
}

.caption a:link {
  color: blue;
}

.caption a:hover {
  color: red;
}

.caption a:visited {
  color: black;
}

.caption a:active {
  color: red;
}

.self_image {
  padding-bottom: 20px;
}