// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: url('sunlight.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  color: #FFFBF5;
}

h2, h1, h3 {
  color: #FFFBF5;
  text-align: center;
}

#heading {
  background: rgba(135,116,84,0.9);
  margin: 50px auto 10px auto;
  padding: 35px;
}

#article_list {
  //margin-left: auto;
  //margin-right: auto;
  text-align: center;
}

#article_list a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #FFFBF5;
}

/* visited link */
a:visited {
  color: #FFFBF5;
}

/* mouse over link */
a:hover {
  color: #FFFBF5;
}

/* selected link */
a:active {
  color: #FFFBF5;
}

.article {
  color: #FFFBF5;
  max-width: 350px;
  background: rgba(135,116,84,0.9);
  text-align: center;
  margin: 10px auto;
  line-height: 48px;
}