// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: url('sunlight.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  color: #FFFBF5;
}

h2, h1, h3 {
  font-family: 'Eagle Lake', cursive;
  color: #FFFBF5;
  text-align: center;
}

/* unvisited link */
a:link {
  color: #FFFBF5;
}

/* visited link */
a:visited {
  color: #FFFBF5;
}

.header-button {
  display: inline-block;
  color: #877454;
  background-color: #FFFBF5;
  text-align: center;
  border-radius: 30px;
  width: 200px;
  margin: 10px;
}

.header-button p {
  padding: 10px 5px;
  margin-bottom: 0px;
}

.header-button:hover {
  color: #FFFBF5 !important;
  background-color: #877454;
}

.header-button:hover p {
  color: #FFFBF5;
  background-color: #877454;
}

.header-button a:link {
  color: #877454;
}

.header-button a:hover {
  color: #FFFBF5;
  background-color: #877454;
}

.header-button a:visited {
  color: #877454;
}

.heading {
  background: rgba(135,116,84,0.9);
  margin: 15px auto 0px auto;
  padding: 15px 35px;
  text-align: center;
}

.heading-desc {
  background: rgba(135,116,84,0.9);
  margin: 0px auto 15px auto;
  padding: 15px 35px;
  text-align: center;
}

///* mouse over link */
.article-button:hover {
  color: #877454;
  background-color: #FFFBF5;
}

/* selected link */
a:active {
  color: #FFFBF5;
}

.articles-left {

}

.article-button {
  color: #FFFBF5;
  background-color: #877454;
  text-align: center;
  margin: 10px auto;
  border-radius: 30px;
}

.article-button p {
  padding: 10px 5px;

}

.article-button a:hover {
  color: #877454;
  background-color: #FFFBF5;
}

//Appeal to Reason Page Styling


.subtitle {
  text-align: center;
}

.appeal {
  padding: 20px;
}

.reviews {
  margin-top: 0px;
}

.appeal a {
  text-decoration: underline;
  color: black;
}

.appeal-img {
  margin: 10px auto;
  display: block;
}

.footer {
  padding-top: 20px;
  text-align: center;
}